<div class="row">
    <div class="col-9">
        <h3 class="text-center">2. Biometría</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selectbiometriaanios (change)="setNewbiometriaanios(selectbiometriaanios.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-9">
        <button type="button" *ngIf="verprimerboton" class="btn btn-pink z-depth-3" (click)="verprimerSeguimientoBiometria()">primer
      Siguimiento</button>
        <button type="button" *ngIf="versegundoboton" class="btn btn-pink z-depth-3" (click)="versegundoSeguimientoBiometria()">segundo
      Siguimiento</button>
    </div>
    <div class="col-3">
        <button type="button" *ngIf="noverprimerboton" class="btn btn-outline-warning waves-effect" (click)="noverprimerSeguimientoBiometria()">ocultar
      primero</button>
        <button type="button" *ngIf="noversegundoboton" class="btn btn-outline-warning waves-effect" (click)="noversegundoSeguimientoBiometria()">ocultar
      segundo</button>
    </div>
</div>
<table class="table table-bordered table-responsive-md z-depth-3">
    <thead class="cyan lighten-3">
        <tr>
            <th rowspan="3"></th>
            <th colspan="3">Longitud/Circunferencia(cm)</th>
            <th colspan="3" *ngIf="verPrimerBiometria">Primer Seguimiento</th>
            <th colspan="3" *ngIf="versegundoBiometria">Segundo Seguimiento</th>
            <th rowspan="3">Observación</th>
        </tr>
        <tr>
            <!-- <th></th> -->
            <th colspan="3">
                <input type="date" [(ngModel)]="biometria.fbioseguno" class="form-control" name="fbioseguno">
            </th>
            <th colspan="3" *ngIf="verPrimerBiometria">
                <input type="date" [(ngModel)]="biometria.fbiosegdos" class="form-control" name="fbiosegdos">
            </th>
            <th colspan="3" *ngIf="versegundoBiometria">
                <input type="date" [(ngModel)]="biometria.fbiosegtres" class="form-control" name="fbiosegtres">
            </th>

        </tr>
        <tr>
            <th>Iz(cm)</th>
            <th>De(cm)</th>
            <th>Diferencia</th>
            <th *ngIf="verPrimerBiometria">Iz(cm)</th>
            <th *ngIf="verPrimerBiometria">De(cm)</th>
            <th *ngIf="verPrimerBiometria">Diferencia</th>
            <th *ngIf="versegundoBiometria">Iz(cm)</th>
            <th *ngIf="versegundoBiometria">De(cm)</th>
            <th *ngIf="versegundoBiometria">Diferencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Longitud pierna: Pelvis-Tobillo</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longitudizq" name="longitudizq" id="longitudizq" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longitudder" name="longitudder" id="longitudder" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.diferencia" (click)="sumar1()" name="diferencia" id="diferencia" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longitudizqdos" name="longitudizqdos" id="longitudizqdos" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longitudderdos" name="longitudderdos" id="longitudderdos" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.diferenciados" (click)="sumar2()" name="diferenciados" id="diferenciados" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="versegundoBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longitudizqtres" name="longitudizqtres" id="longitudizqtres" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="versegundoBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.longituddertres" name="longituddertres" id="longituddertres" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="versegundoBiometria">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.diferenciatres" (click)="sumar2()" name="diferenciatres" id="diferenciatres" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.obslongitud" name="obslongitud" id="obslongitud" size="50" maxlength="50">
                    <label for="observacion">observacion</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>Circunferencia de la cabeza</td>
            <td colspan="2">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.circunfcabeza" name="circunfcabeza" id="circunfcabeza" size="6" maxlength="6">
                </div>
            </td>
            <td class="disabled">
                <div class="md-form form-sm">
                    <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerBiometria" colspan="2">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.circunfcabezados" name="edad" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerBiometria" class="disabled">
                <div class="md-form form-sm">
                    <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="versegundoBiometria" colspan="2">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="biometria.circunfcabezatres" name="edad" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="versegundoBiometria" class="disabled">
                <div class="md-form form-sm">
                    <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.obscircunfcabeza" name="observacion" id="observacion" size="50" maxlength="50">
                    <label for="observacion">observacion</label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div class="row">
    <div class="col-12">
        <div class="md-form form-sm">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.conclusion" name="Conclusion" id="Conclusion">
            <label for="Conclusion">Conclusión</label>
        </div>
    </div>
    <div class="col-12">
        <div class="md-form form-sm">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.difizquierda" name="Diferencia" id="Diferencia">
            <label for="Diferencia">Diferencia De-Izq</label>
        </div>
    </div>
    <div class="col-12">
        <div class="md-form form-sm">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.reducciones" name="Reducciones" id="Reducciones">
            <label for="Reducciones">Reducciones</label>
        </div>
    </div>
    <div class="col-12">
        <div class="md-form form-sm">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="biometria.observaciones" name="Observaciones" id="Observaciones">
            <label for="Observaciones">Observaciones</label>
        </div>
    </div>
    <div class="col-3 offset-1" *ngIf="verAtender">

        <button type="submit" (click)="saveOrUpdateBiometria()" class="btn btn-pink" mdbRippleRadius>Guardar Desarrollo</button>

    </div>
    <!-- <div class="col-2 offset-1" *ngIf="guardado">
        <span class="guardado">Guardado</span>
    </div> -->
</div>