<h3 class="text-center">Pacientes Admitidos ATO</h3>
<div class="container-fluit animated fadeIn">
    <div class="row">
        <div class="col-4 offset-1">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" name="buscar1" class="form-control form-control-sm" id="buscar1">
                <label for="buscar1">Buscar</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">

            <div class="card">
                <div class="card-body" id="idato">
                    <table class="table table-hover table-responsive-md table-fixed" id="tablaato">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col">Historial</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Fecha referenciado</th>
                                <th class="none">Botones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes |filter:term | paginate: { itemsPerPage: 30, currentPage: p }">
                                <td>{{paciente.idexpediente.codigohistorial}}</td>
                                <td>{{paciente.idexpediente.nombre}} {{paciente.idexpediente.primer_apellido}} {{paciente.idexpediente.segundoapellido}}
                                </td>
                                <td>{{paciente.motivoreferencia}}</td>
                                <td>{{paciente.freferencia}}</td>
                                <td class="none">
                                    <i class="fas fa-address-card fa-2x" [routerLink]="['paciente', paciente.idexpediente.codigohistorial, 'evaluacionAto']"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-9">
            <button (click)="exportTableToExcel('tablaato','TERAPIA OCUPACIONAL')">Excel File</button>
        </div>
        <div class="col-1">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>