<div class="container-fluid p-5">
    <div class="container animated fadeIn">
        <h3 class="text-center">Materiales Ortopédicos</h3>
        <div class="card">
            <div class="card-body" id="idmaterialesreha">
                <table class="table table-hover table-responsive-md table-fixed" id="tablamaterialesreha">
                    <thead>
                        <tr class="table-dark">
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Fecha de Registro</th>
                            <th>Modalidad</th>
                            <th>Costo</th>
                            <th *ngIf="verAtender" class="none">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let material of materiales |filter:term | paginate: { itemsPerPage: 20, currentPage: p }">
                            <td>{{material.nombre}}</td>
                            <td>{{material.cantidad}} Uds.</td>
                            <td>{{material.fregistro}}</td>
                            <td>{{material.modalidad}}</td>
                            <td>S/.{{material.costo}}.00</td>
                            <td (click)="editar(material)" *ngIf="verAtender" class="none"><i class="fas fa-pencil-alt"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <div *ngIf="verAtender">
            <!-- https://bootsnipp.com/snippets/featured/circle-button -->
            <button id="add-contact-button" (click)="CrearMateriales()" type="button" class="btn btn-info btn-circle btn-xl"><i
          style="color:white; font-size: 20px;" class="fab fa-slideshare"></i></button>
        </div>
        <div class="row">
            <div class="col-1 offset-9">
                <button (click)="exportTableToExcel('tablamaterialesreha','LISTA DE MATERIALES')">Excel File</button>
            </div>
            <div class="col-1">
                <p>
                    <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
                </p>
            </div>
        </div>

    </div>
</div>

<div class="container" *ngIf="vermateria">
    <h3 class="text-center">Registrar Materiales</h3>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="material.nombre" class="form-control" name="nombre">
                <label for="nombre">Nombre</label>
            </div>
        </div>
        <div class="col-6">
            <div>
                <table>
                    <thead>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let modalidad of modalidades">
                            <td>
                                <div class="md-radio">
                                    <input type="radio" id="{{modalidad.id}}" name="radiogroupventa" [checked]="modalidad.tipo === modalselect" [value]="modalidad.tipo" (change)="radioSelectmodalidad(modalidad)">
                                    <label for="{{modalidad.id}}">{{modalidad.tipo}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="md-form">
                <input type="number" mdbActive [(ngModel)]="material.cantidad" class="form-control" name="cantidad">
                <label for="cantidad">Cantidad</label>
            </div>
            <div>
                <label for="fregistro">Fecha</label>
                <input type="date" mdbActive [(ngModel)]="fechahoy" class="form-control" name="fregistro">
            </div>

            <div class="md-form">
                <input type="number" [(ngModel)]="material.costo" mdbActive class="form-control" name="costo">
                <label for="costo">Costo</label>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="verAtender">
        <button type="submit" class="btn btn-pink" (click)="saveOrUpdateMateriales()">Guardar</button>
        <button type="submit" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
    </div>
</div>