  table {
    border-collapse: collapse;
    width: 100%;
    font: 75%/1.5em arial, geneva, sans-serif;
    border-collapse: collapse;  
    // border: 1px solid #000;
  }
  
  td {
    // border: 1px solid #000;
    height: 15px;
    vertical-align: top; 
    // width: 30%;
  
    div.observacion {
      position:relative;
      margin: -10px 0px;
      height: 15px;
      width: 100px 350px;
      padding: 0px -15px;
      input[type=text]{
          width: 200%;         
      } 
  } 
    div {
      position:relative;
      height:20px;
      width:50px;
      margin: -10px 20px;       
      input {
          width: 150%;
      }
    }
  }
  
  th {
    // border: 1px solid ;
    height: 10px;
  }
  label {
    color:#004d40;
    font-size: 18px;
    font-weight: 500;    
  }
  td.disabled {
    background: black;
  }