<div class="row">
    <div class="col-9">
        <h3 class="text-center">MARCHA</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selecaniospierna (change)="setNewbiometriaanios(selecaniospierna.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-6">
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.poscabeza" name="poscabeza" id="poscabeza">
            <label for="poscabeza">Posición de cabeza</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.poshombro" name="poshombro" id="poshombro">
            <label for="poshombro">Posición de hombro</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.difdistancia" name="difdistancia" id="difdistancia">
            <label for="difdistancia">Diferencia entre distancia de pasos izquierdo y derecho</label>
        </div>
    </div>
    <div class="col-6">
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.anchopiernas" name="anchopiernas" id="anchopiernas">
            <label for="anchopiernas">Ancho entre las piernas mientras marcha</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.balanceobrazos" name="balanceobrazos" id="balanceobrazos">
            <label for="balanceobrazos">Balanceo de los brazos</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.dolor" name="dolor" id="dolor">
            <label for="dolor">Dolor</label>
        </div>
    </div>
    <div *ngIf="verAtender" class="col-3 offset-1">
        <button type="submit" (click)="saveOrUpdateMarcha()" class="btn btn-pink waves-light" mdbRippleRadius>Guardar</button>
    </div>
</div>


<!-- Evaluacion Derecha -->
<div class="container-fluid" *ngIf="verPiernas">
    <h3 class="text-center">6. Pierna Derecha</h3>
    <div class="row">
        <div class="col-5">
            <button type="button" class="btn btn-pink z-depth-3" *ngIf="botonprimerseg" (click)="PrimerSeguimientoDerecha()">primer
        Siguimiento</button>
            <button type="button" class="btn btn-pink z-depth-3" *ngIf="botonsegundseg" (click)="segundoSeguimientoDerecha()">segundo
        Siguimiento</button>
        </div>
        <div class="col-5 offset-2">
            <button type="button" class="btn btn-outline-warning waves-effect" *ngIf="botonoculpatarprimer" (click)="noprimerpSeguimientoDerecha()">ocultar
        primero</button>
            <button type="button" class="btn btn-outline-warning waves-effect" *ngIf="botonoculpatarsegund" (click)="nosegundoSeguimientoDerecha()">ocultar
        Segundo</button>
        </div>
    </div>

    <table class="table table-bordered table-responsive-md z-depth-3">
        <thead class="cyan lighten-3">
            <tr>
                <th colspan="2" rowspan="2">Pierna Derecha</th>
                <th class="text-center">Fase de Apoyo</th>
                <th class="text-center">Fase de impulsión</th>
                <th class="text-center" *ngIf="verPrimerSeguimientoDerecha">Fase de Apoyo Seguimiento</th>
                <th class="text-center" *ngIf="verPrimerSeguimientoDerecha">Fase de impulsión Seguimiento</th>
                <th class="text-center" *ngIf="verSegundoSeguimientoDerecha">Fase de Apoyo Seguimiento</th>
                <th class="text-center" *ngIf="verSegundoSeguimientoDerecha">Fase de impulsión Seguimiento</th>
            </tr>
            <tr>
                <th class="text-center" colspan="2">
                    <input [(ngModel)]="piernade0.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
                <th class="text-center" colspan="2" *ngIf="verPrimerSeguimientoDerecha">
                    <input [(ngModel)]="piernade1.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
                <th class="text-center" colspan="2" *ngIf="verSegundoSeguimientoDerecha">
                    <input [(ngModel)]="piernade2.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
            </tr>
            <tr>
                <th colspan="4">Plano frontral</th>
                <th colspan="2" *ngIf="verPrimerSeguimientoDerecha"></th>
                <th colspan="2" *ngIf="verSegundoSeguimientoDerecha"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2">Tronco</th>
                <td>Inclina Derecha/Izquierda</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>

                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Rotación Derecha/Izquierda</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pftroncorotimp" name="edad" id="pftroncorotimp" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pftroncorotimp" name="pftroncorotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pftroncorotimp" name="pftroncorotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Pelvis</th>
                <td>Sube(Vaulting)</td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Contralateral drop</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Cadera</th>
                <td>Rotación Interna/Externa</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abduccion/Aducción</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="4" class="cyan lighten-3">Plano Sagital</th>
                <td colspan="2" class="cyan lighten-3" *ngIf="verPrimerSeguimientoDerecha"></td>
                <td colspan="2" class="cyan lighten-3" *ngIf="verSegundoSeguimientoDerecha"></td>
            </tr>
            <tr>
                <th>Tronco</th>
                <td>Inclina adelante/atrás</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Pelvis</th>
                <td>Tilt anteversión/retroversión</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Cadera</th>
                <td>Flexion limitado/exceso</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Rodilla</th>
                <td>Flexion limitado/exceso</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Hiperextensión</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="3">Tobillo</th>
                <td>Contacto con antepie</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>

            </tr>
            <tr>
                <td>Contacto con pie entero</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Dedos Arrastran</td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade0.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade1.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoDerecha">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernade2.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" *ngIf="verAtender">
        <!-- <div class="col-sm-offset-1 col-sm-3" *ngIf="primeraparte"> -->
        <div class="col-offset-1 col-3" *ngIf="primeraparte">
            <button type="submit" *ngIf="VerGuardar0" (click)="saveOrUpdatepiernaderecha0()" class="btn btn-pink" mdbRippleRadius>Guardar Evaluación</button>
            <button type="submit" *ngIf="Actualizar0" (click)="saveOrUpdatepiernaderecha0()" class="btn btn-pink" mdbRippleRadius>Actualizar Evaluación</button>
        </div>
        <div class="col-offset-1 col-3" *ngIf="segundaparte">
            <button type="submit" *ngIf="VerGuardar1" (click)="saveOrUpdatepiernaderecha1()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 1</button>
            <button type="submit" *ngIf="Actualizar1" (click)="saveOrUpdatepiernaderecha1()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 1</button>
        </div>
        <div class="col-offset-1 col-3" *ngIf="terceraparte">
            <button type="submit" *ngIf="VerGuardar2" (click)="saveOrUpdatepiernaderecha2()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 2</button>
            <button type="submit" *ngIf="Actualizar2" (click)="saveOrUpdatepiernaderecha2()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 2</button>
        </div>
    </div>
    <br>
    <br>

    <!-- Evaluacion Izquierda -->
    <h3 class="text-center">7. Pierna Izquierda</h3>
    <button type="button" *ngIf="izbotonprimerseg" class="btn btn-pink z-depth-3" (click)="PrimerSeguimientoIzquierda()">primer
    Siguimiento</button>
    <button type="button" *ngIf="izbotonoculpatarprimer" class="btn btn-outline-warning waves-effect" (click)="noprimerpSeguimientoIzquierda()">ocultar
    primero</button>
    <button type="button " *ngIf="izbotonsegundseg" class="btn btn-pink z-depth-3" (click)="segundoSeguimientoIzquierda()">segundo
    Siguimiento</button>
    <button type="button" *ngIf="izbotonoculpatarsegund" class="btn btn-outline-warning waves-effect" (click)="nosegundoSeguimientoIzquierda()">ocultar
    Segundo</button>

    <table class="table table-bordered table-responsive-md z-depth-3">
        <thead class="cyan lighten-3">
            <tr>
                <th colspan="2" rowspan="2">Pierna Izquierda</th>
                <th class="text-center">Fase de Apoyo</th>
                <th class="text-center">Fase de impulsión</th>
                <th class="text-center" *ngIf="verPrimerSeguimientoIzquierda">Fase de Apoyo Seguimiento</th>
                <th class="text-center" *ngIf="verPrimerSeguimientoIzquierda">Fase de impulsión Seguimiento</th>
                <th class="text-center" *ngIf="verSegundoSeguimientoIzquierda">Fase de Apoyo Seguimiento</th>
                <th class="text-center" *ngIf="verSegundoSeguimientoIzquierda">Fase de impulsión Seguimiento</th>
            </tr>
            <tr>
                <th class="text-center" colspan="2">
                    <input [(ngModel)]="piernaiz0.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
                <th class="text-center" colspan="2" *ngIf="verPrimerSeguimientoIzquierda">
                    <input [(ngModel)]="piernaiz1.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
                <th class="text-center" colspan="2" *ngIf="verSegundoSeguimientoIzquierda">
                    <input [(ngModel)]="piernaiz2.fsegpierna" type="date" class="form-control" name="fsegpierna">
                </th>
            </tr>
            <tr>
                <th colspan="4">Plano frontral</th>
                <th colspan="2" *ngIf="verPrimerSeguimientoIzquierda"></th>
                <th colspan="2" *ngIf="verSegundoSeguimientoIzquierda"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2">Tronco</th>
                <td>Inclina Derecha/Izquierda</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>

                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.troncoincap" name="troncoincap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pftroncoincimp" name="pftroncoincimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Rotación Derecha/Izquierda</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pftroncorotimp" name="edad" id="pftroncorotimp" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pftroncorotimp" name="pftroncorotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.troncorotapyo" name="troncorotapyo" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pftroncorotimp" name="pftroncorotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Pelvis</th>
                <td>Sube(Vaulting)</td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" disabled="disabled" class="form-control form-control-sm" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pfpelvissubeimp" name="pfpelvissubeimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Contralateral drop</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pelviscontraap" name="pelviscontraap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Cadera</th>
                <td>Rotación Interna/Externa</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.caderarotap" name="caderarotap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pfcaderarotimp" name="pfcaderarotimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abduccion/Aducción</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.caderaabduap" name="caderaabduap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pfcaderaabduimp" name="pfcaderaabduimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="4" class="cyan lighten-3">Plano Sagital</th>
                <td colspan="2" class="cyan lighten-3" *ngIf="verPrimerSeguimientoIzquierda"></td>
                <td colspan="2" class="cyan lighten-3" *ngIf="verSegundoSeguimientoIzquierda"></td>
            </tr>
            <tr>
                <th>Tronco</th>
                <td>Inclina adelante/atrás</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pstroncoap" name="pstroncoap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pstroncoapimp" name="pstroncoapimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Pelvis</th>
                <td>Tilt anteversión/retroversión</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pspelvisap" name="pspelvisap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pspelvisimp" name="pspelvisimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Cadera</th>
                <td>Flexion limitado/exceso</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pscaderaap" name="pscaderaap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pscaderaimp" name="pscaderaimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Rodilla</th>
                <td>Flexion limitado/exceso</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.psrodillflexap" name="psrodillflexap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.psrodillfleximp" name="psrodillfleximp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Hiperextensión</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.psrodillhiperap" name="psrodillhiperap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.psrodillhiperimp" name="psrodillhiperimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="3">Tobillo</th>
                <td>Contacto con antepie</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pstobillantpieap" name="pstobillantpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>

            </tr>
            <tr>
                <td>Contacto con pie entero</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pstobillpieap" name="pstobillpieap" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Dedos Arrastran</td>
                <td class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz0.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz1.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda" class="disabled">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" disabled="disabled" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verSegundoSeguimientoIzquierda">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="piernaiz2.pstobilldedosimp" name="pstobilldedosimp" id="edad" size="6" maxlength="6">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>

    <div class="md-form">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.conclusionmarcha" name="conclusionmarcha" id="conclusionmarcha">
        <label for="conclusionmarcha">Conclusión marcha</label>
    </div>
    <div class="md-form">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="marcha.obsnivelact" name="obsnivelact" id="obsnivelact">
        <label for="obsnivelact">Observaciones nivel de actividad</label>
    </div>
    <!-- <h4 >Conclusión nivel de actividad</h4> -->
    <div class="md-form">
        <textarea rows="4" cols="50" name="Especifico" id="Especifico" class="md-textarea" [(ngModel)]="marcha.concluactiv" mdbActive></textarea>
        <label for="Especifico">Conclusión nivel de actividad</label>
    </div>

    <div class="row" *ngIf="verAtender">
        <div class="col-offset-1 col-3" *ngIf="primeraparteiz">
            <button type="submit" *ngIf="VerGuardar3" (click)="saveOrUpdatepiernaizquierda0()" class="btn btn-pink" mdbRippleRadius>Guardar Evaluación</button>
            <button type="submit" *ngIf="Actualizar3" (click)="saveOrUpdatepiernaizquierda0()" class="btn btn-pink" mdbRippleRadius>Actualizar Evaluación</button>
        </div>
        <div class="col-offset-1 col-3" *ngIf="segundaparteiz">
            <button type="submit" *ngIf="VerGuardar4" (click)="saveOrUpdatepiernaizquierda1()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 1</button>
            <button type="submit" *ngIf="Actualizar4" (click)="saveOrUpdatepiernaizquierda1()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 1</button>
        </div>
        <div class="col-offset-1 col-3" *ngIf="terceraparteiz">
            <button type="submit" *ngIf="VerGuardar5" (click)="saveOrUpdatepiernaizquierda2()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 2</button>
            <button type="submit" *ngIf="Actualizar5" (click)="saveOrUpdatepiernaizquierda2()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 2</button>
        </div>
    </div>
</div>