<div class="container-fluid">
    <h3 class="text-center">Ficha Educación</h3>
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Datos Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Código Historial: <strong style="color: black">{{expedientes.codigohistorial}} </strong></h4>
                        </div>
                        <div class="card-block">
                            <h5 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h5>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.lenguamaterna" name="lenguamaterna">
                        <label for="lenguamaterna">Lengua Materno</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.lenguauso" name="lenguauso">
                        <label for="primer_apellido">Lengua de uso</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.insteduc" name="insteduc">
                        <label for="insteduc">Institución ed.</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.gradodominiolm" name="gradodominiolm">
                        <label for="gradodominiolm">Grado dominio <i data-target="#dominio2" data-toggle="modal" class="fas fa-calendar-check fa-lg"></i></label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.gradodominiolu" name="gradodominiolm">
                        <label for="gradodominiolu">Grado dominio <i data-target="#dominio1" data-toggle="modal" class="fas fa-calendar-check fa-lg"></i></label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.escolactual" name="escolactual">
                        <label for="escolactual">Escolaridad actual</label>
                    </div>
                </div>
            </div>

            <!-- inicio del ventana modal -->
            <div class="modal fade" id="dominio1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Grado de Dominio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <form action="" class="formulario">
                                    <div class="md-checkbox" *ngFor="let dominio of dominios">
                                        <input id="{{dominio.id}}" (change)="chenckboxChangedominio(dominio1)" #dominio1 type="checkbox" [value]="dominio.tipo" name="pcdgroup" style="font-weight: normal">
                                        <label for="{{dominio.id}}">{{dominio.tipo}} </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button *ngIf="verAtender" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button *ngIf="verAtender" type="submit" class="btn btn-primary" data-dismiss="modal" (click)=igualardominio1()>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- fin del modal -->
            <!-- inicio del ventana modal -->
            <div class="modal fade" id="dominio2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Grado de Dominio</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <form action="" class="formulario">
                                    <div class="md-checkbox" *ngFor="let dominio of dominios2">
                                        <input id="{{dominio.id}}" (change)="chenckboxChangedominio2(dominio2)" #dominio2 type="checkbox" [value]="dominio.tipo" name="pcdgroup" style="font-weight: normal">
                                        <label for="{{dominio.id}}">{{dominio.tipo}} </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)=igualardominio2()>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin del modal -->

            <h4 class="text-center">Datos del informante</h4>
            <div class="row">
                <div class="col-6">
                    <div>
                        <label>Fecha de la entrevista</label>
                        <input type="date" class="form-control" [(ngModel)]="evalueducacion.fregistro" name="fregistro">
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.nombreinfor" name="nombreinfor">
                        <label for="nombreinfor">Nombre</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="evalueducacion.relacionpaciente" name="relacionpaciente">
                        <label for="relacionpaciente">Relación</label>
                    </div>
                </div>
                <div class="col-6">
                    <p>Definicion del problema o situación que motiva la entrevista</p>
                    <div class="md-form">
                        <textarea name="motivoconsulta" [(ngModel)]="evalueducacion.motivoentre" cols="400" rows="7" class="md-textarea" mdbActive>

            </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>¿Tiene algún diagnostico previo?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let diagnostico of opciones">
                                    <td>
                                        <div class="md-radio">
                                            <input type="radio" id="{{diagnostico.tipo}}" name="radiogroupdiagnostico" [checked]="diagnostico.tipo === 0" [value]="diagnostico.tipo" (change)="onSelectionChangediagnosticoprevio(diagnostico)">
                                            <label for="{{diagnostico.tipo}}">{{diagnostico.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-8" *ngIf="verDiagnostico">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover table-responsive-md table-fixed">
                                <thead>
                                    <tr class="table-dark">
                                        <th colspan="4">Diagnosticos Previos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Pediatría</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.pediatria" name="pediatria">
                                            </div>
                                        </td>
                                        <td>Psicología</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.psicologia" name="psicologia">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Genético</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.genetico" name="genetico">
                                            </div>
                                        </td>
                                        <td>Neurologia</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.neurologia" name="neurologia">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Psicopedagógico</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.psicopedagogico" name="psicopedagogico">
                                            </div>
                                        </td>
                                        <td>Terapia Ocupacional</td>
                                        <td>
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.terapiaocupa" name="terapiaocupa">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="md-form">
                                                <input type="text" class="form-control" [(ngModel)]="evalueducacion.otrosdiagn" name="otrosdiagn" placeholder="Otro">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-3">
                    <button *ngIf="verAtender" type="submit" (click)="saveOrUpdateEducacion()" class="btn btn-pink"> Guardar</button>
                </div>
            </div>
        </tab>

        <tab *ngIf="verotrosEscolaridad" tabTitle="Lenguaje">
            <h4 class="text-center">Desarrollo del Lenguaje</h4>
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="desalenguaje.comunicacion" name="comunicacion">
                        <label for="comunicacion">El niño Se comunica preferentemente en forma <i data-target="#cominicapreferente"
                data-toggle="modal" class="fas fa-calendar-check fa-lg"></i></label>
                    </div>
                </div>
                <div *ngIf="otrolenguaje" class="col-6">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="desalenguaje.comunicacion" name="comunicacion">
                        <label for="comunicacion">Otro</label>
                    </div>
                </div>
            </div>

            <!-- inicio del ventana modal -->
            <div class="modal fade" id="cominicapreferente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Opciones</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table>
                                    <thead>
                                        <td>Opciones</td>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let secomunica of secomunican">
                                            <td>
                                                <div class="md-radio">
                                                    <input type="radio" id="{{secomunica.id}}" name="radiogroupsecomunica" [checked]="secomunica.tipo === 0" [value]="secomunica.id" (change)=onSelectionChangesecomunica(secomunica)>
                                                    <label for="{{secomunica.id}}">{{secomunica.tipo}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button *ngIf="verAtender" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button *ngIf="verAtender" type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin del modal -->

            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Balbucea/emite sonidos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let balbucea of opciones1">
                                    <td (dblclick)="desseleccionarradiogroupbalbucea()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{balbucea.id}}" name="radiogroupbalbucea" [checked]="balbucea.tipo === 0" [value]="balbucea.id" (change)=onSelectionChangebalbucea(balbucea)>
                                            <label for="{{balbucea.id}}">{{balbucea.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Emite palabras/señas</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let palabra of opciones2">
                                    <td (dblclick)="desseleccionarradiogrouppalabra()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{palabra.id}}" name="radiogrouppalabra" [checked]="palabra.tipo === 0" [value]="palabra.id" (change)="onSelectionChangepalabra(palabra)">
                                            <label for="{{palabra.id}}">{{palabra.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>

                <!-- segunda parte -->
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Emite/produce frases</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let emite of opciones3">
                                    <td (dblclick)="desseleccionarradiogroupemite()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{emite.id}}" name="radiogroupemite" [checked]="emite.tipo === 0" [value]="emite.id" (change)="onSelectionChangeemite(emite)">
                                            <label for="{{emite.id}}">{{emite.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>La emición/Pronunciacion es clara</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clara of opciones4">
                                    <td (dblclick)="desseleccionarradiogrouclara()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{clara.id}}" name="radiogrouclara" [checked]="clara.tipo === 0" [value]="clara.id" (change)="onSelectionChangeclara(clara)">
                                            <label for="{{clara.id}}">{{clara.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
                <!-- tercera -->
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Vocaliza</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vocaliza of opciones5">
                                    <td (dblclick)="desseleccionarradiogroupvocaliza()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{vocaliza.id}}" name="radiogroupvocaliza" [checked]="vocaliza.tipo === 0" [value]="vocaliza.id" (change)="onSelectionChangevocaliza(vocaliza)">
                                            <label for="{{vocaliza.id}}">{{vocaliza.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Relata experiencias</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let relata of opciones6">
                                    <td (dblclick)="desseleccionarradiogrouprelata()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{relata.id}}" name="radiogrouprelata" [checked]="relata.tipo === 0" [value]="relata.id" (change)="onSelectionChangerelata(relata)">
                                            <label for="{{relata.id}}">{{relata.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <h4 class="text-center">Caracteristicas del lenguaje comprensivo</h4>

            <div class="row">
                <div class="col-3">
                    <div>
                        <table>
                            <thead>
                                <td>Identifica objetos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let objeto of opciones7">
                                    <td (dblclick)="desseleccionarradiogroupobjeto()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{objeto.id}}" name="radiogroupobjeto" [checked]="objeto.tipo === 0" [value]="objeto.id" (change)="onSelectionChangeobjeto(objeto)">
                                            <label for="{{objeto.id}}">{{objeto.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <br> -->
                    <!-- <div>
            <table>
              <thead>
                <td>Da respuestas coherentes</td>
              </thead>
              <tbody>
                <tr *ngFor="let coherente of opciones8">
                  <td (dblclick)="desseleccionarradiogroupcoherente()">
                    <div class="md-radio">
                      <input type="radio" id="{{coherente.id}}" name="radiogroupcoherente" [checked]="coherente.tipo === 0"
                        [value]="coherente.id" (change)="onSelectionChangecoherente(coherente)">
                      <label for="{{coherente.id}}">{{coherente.tipo}}</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
                </div>
                <!--  segundo -->
                <div class="col-3">
                    <div>
                        <table>
                            <thead>
                                <td>Identifica Personas</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let persona of opciones9">
                                    <td (dblclick)="desseleccionarradiogroupopersona()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{persona.id}}" name="radiogroupopersona" [checked]="persona.tipo === 0" [value]="persona.id" (change)="onSelectionChangepersona(persona)">
                                            <label for="{{persona.id}}">{{persona.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <br> -->
                    <!-- <div class="md-form">
            <p>Manifestó perdida del lengujae Oral (Especifique edad y motivo)</p>
            <textarea rows="4" cols="50" name="observacion_famliares" class="md-textarea" [(ngModel)]="desalenguaje.perdidalenguaje"
              mdbActive></textarea>
          </div> -->
                </div>
                <!-- tercero -->
                <div class="col-3">
                    <div>
                        <table>
                            <thead>
                                <td>Comprende conceptos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let conceptos of opciones10">
                                    <td (dblclick)="desseleccionarradiogroupoconceptos()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{conceptos.id}}" name="radiogroupoconceptos" [checked]="conceptos.tipo === 0" [value]="conceptos.id" (change)="onSelectionChangeconceptos(conceptos)">
                                            <label for="{{conceptos.id}}">{{conceptos.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <br>
          <div class="md-form">
            <label for="obslenguaje">Observaciones lenguaje</label>
            <textarea rows="4" cols="50" name="observacion_famliares" [(ngModel)]="desalenguaje.obslenguaje" class="md-textarea"
              mdbActive></textarea>
          </div> -->
                </div>
                <div class="col-3">
                    <div>
                        <table>
                            <thead>
                                <td>Da respuestas coherentes</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let coherente of opciones8">
                                    <td (dblclick)="desseleccionarradiogroupcoherente()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{coherente.id}}" name="radiogroupcoherente" [checked]="coherente.tipo === 0" [value]="coherente.id" (change)="onSelectionChangecoherente(coherente)">
                                            <label for="{{coherente.id}}">{{coherente.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <br>
                    <div class="md-form">
                        <textarea rows="4" cols="50" name="perdidalenguaje" id="perdidalenguaje" class="md-textarea" [(ngModel)]="desalenguaje.perdidalenguaje" mdbActive></textarea>
                        <label for="perdidalenguaje">Manifestó perdida del lengujae Oral (Especifique edad y motivo)</label>
                    </div>
                </div>
                <div class="col-6">
                    <br>
                    <div class="md-form">
                        <textarea rows="4" cols="50" name="observacion_famliares" id="obslenguaje" [(ngModel)]="desalenguaje.obslenguaje" class="md-textarea" mdbActive></textarea>
                        <label for="obslenguaje">Observaciones Familiares</label>
                    </div>
                </div>
            </div>
            <br>

            <h4 class="text-center">Desarrollo Social</h4>

            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Se Realaciona espontaneamente con las personas de su entorno natural</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let espontaneamente of opciones11">
                                    <td (dblclick)="desseleccionarradiogroupoespontaneamente()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{espontaneamente.id}}" name="radiogroupoespontaneamente" [checked]="espontaneamente.tipo === 0" [value]="espontaneamente.id" (change)="onSelectionChangeespontaneamente(espontaneamente)">
                                            <label for="{{espontaneamente.id}}">{{espontaneamente.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Explica razones de su comportamiento</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let razones of opciones12">
                                    <td (dblclick)="desseleccionarradiogrouporazones()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{razones.id}}" name="radiogrouporazones" [checked]="razones.id === 0" [value]="razones.id" (change)="onSelectionChangerazones(razones)">
                                            <label for="{{razones.id}}">{{razones.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Participa en actividades grupales</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let grupales of opciones13">
                                    <td (dblclick)="desseleccionarradiogroupogrupales()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{grupales.id}}" name="radiogroupogrupales" [checked]="grupales.tipo === 0" [value]="grupales.id" (change)="onSelectionChangegrupales(grupales)">
                                            <label for="{{grupales.id}}">{{grupales.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Pataletas frecuentes</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pataletas of opciones14">
                                    <td (dblclick)="desseleccionarradiogroupopataletas()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{pataletas.id}}" name="radiogroupopataletas" [checked]="pataletas.id === 0" [value]="pataletas.id" (change)="onSelectionChangepataletas(pataletas)">
                                            <label for="{{pataletas.id}}">{{pataletas.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Opta por el trabajo individual</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let individual of opciones15">
                                    <td (dblclick)="desseleccionarradiogroupoindividual()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{individual.id}}" name="radiogroupoindividual" [checked]="individual.tipo === 0" [value]="individual.id" (change)="onSelectionChangeindividual(individual)">
                                            <label for="{{individual.id}}">{{individual.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Presenta lenguaje ecolático</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ecolatico of opciones16">
                                    <td (dblclick)="desseleccionarradiogroupoecolatico()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{ecolatico.id}}" name="radiogroupoecolatico" [checked]="ecolatico.tipo === 0" [value]="ecolatico.id" (change)="onSelectionChangeecolatico(ecolatico)">
                                            <label for="{{ecolatico.id}}">{{ecolatico.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Dificultad para adaptarse a sit. nuevas</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let adaptarse of opciones17">
                                    <td (dblclick)="desseleccionarradiogroupoadaptarse()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{adaptarse.id}}" name="radiogroupoadaptarse" [checked]="adaptarse.tipo === 0" [value]="adaptarse.id" (change)="onSelectionChangeadaptarse(adaptarse)">
                                            <label for="{{adaptarse.id}}">{{adaptarse.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Movimientos estereotipados</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let estereotipado of opciones18">
                                    <td (dblclick)="desseleccionarradiogroupoestereotipado()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{estereotipado.id}}" name="radiogroupoestereotipado" [checked]="estereotipado.tipo === 0" [value]="estereotipado.id" (change)="onSelectionChangeestereotipado(estereotipado)">
                                            <label for="{{estereotipado.id}}">{{estereotipado.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Se muestra colaborador</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let colaborador of opciones19">
                                    <td (dblclick)="desseleccionarradiogroupocolaborador()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{colaborador.id}}" name="radiogroupocolaborador" [checked]="colaborador.id === 0" [value]="colaborador.id" (change)="onSelectionChangecolaborador(conceptos)">
                                            <label for="{{colaborador.id}}">{{colaborador.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Respeta normas sociales</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let norma of opciones20">
                                    <td (dblclick)="desseleccionarradiogrouponorma()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{norma.id}}" name="radiogrouponorma" [checked]="norma.tipo === 0" [value]="norma.id" (change)="onSelectionChangenorma(norma)">
                                            <label for="{{norma.id}}">{{norma.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Respeta normas escolares</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let escolare of opciones21">
                                    <td (dblclick)="desseleccionarradiogroupoescolare()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{escolare.id}}" name="radiogroupoescolare" [checked]="escolare.tipo === 0" [value]="escolare.id" (change)="onSelectionChangeescolare(escolare)">
                                            <label for="{{escolare.id}}">{{escolare.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Muestra sentido del humor</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let humor of opciones22">
                                    <td (dblclick)="desseleccionarradiogroupohumor()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{humor.id}}" name="radiogroupohumor" [checked]="humor.tipo === 0" [value]="humor.id" (change)="onSelectionChangehumor(humor)">
                                            <label for="{{humor.id}}">{{humor.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 class="text-center">Ante los siguientes estímulos su reacción es:</h4>
            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Luces:</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let luz of luces">
                                    <td (dblclick)="desseleccionarradiogroupoluces()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{luz.id}}" name="radiogroupoluces" [checked]="luz.tipo === 0" [value]="luz.id" (change)="onSelectionChangeluces(luz)">
                                            <label for="{{luz.id}}">{{luz.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Sonidos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sonido of sonidos">
                                    <td (dblclick)="desseleccionarradiogrouposonido()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{sonido.id}}" name="radiogrouposonido" [checked]="sonido.tipo === 0" [value]="sonido.id" (change)="onSelectionChangesonido(sonido)">
                                            <label for="{{sonido.id}}">{{sonido.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Personas Extrañas</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let extranio of extranios">
                                    <td (dblclick)="desseleccionarradiogroupoextranio()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{extranio.id}}" name="radiogroupoextranio" [checked]="extranio.tipo === 0" [value]="extranio.id" (change)="onSelectionChangeextranio(extranio)">
                                            <label for="{{extranio.id}}">{{extranio.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="col-8">
                    <div class="md-form">
                        <textarea name="obsdesocial" id="obsdesocial" cols="400" rows="5" [(ngModel)]="desarrsocial.obsdesocial" class="md-textarea" mdbActive>

                </textarea>
                        <label for="obsdesocial">Observaciones</label>
                    </div>
                </div>

            </div>
            <button *ngIf="verAtender" type="submit" class="btn btn-pink" (click)="saveOrUpdateDesarroSocial()">Guardar</button>

        </tab>
        <tab *ngIf="verotrosEscolaridad" tabTitle="salud">

            <!-- otro model -->
            <h4 class="text-center">Estado de salud actual o la estudiante</h4>
            <br>
            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Vacunas al día</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vacuna of opciones23">
                                    <td (dblclick)="desseleccionarradiogroupovacuna()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{vacuna.id}}" name="radiogroupovacuna" [checked]="vacuna.tipo === 0" [value]="vacuna.id" (change)="onSelectionvacuna(vacuna)">
                                            <label for="{{vacuna.id}}">{{vacuna.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Epilepsia</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let epilepsia of opciones24">
                                    <td (dblclick)="desseleccionarradiogroupoepilepsia()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{epilepsia.id}}" name="radiogroupoepilepsia" [checked]="epilepsia.id === 0" [value]="epilepsia.id" (change)="onSelectionChangeepilepsia(epilepsia)">
                                            <label for="{{epilepsia.id}}">{{epilepsia.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Problemas cardiacos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cardiaco of opciones25">
                                    <td (dblclick)="desseleccionarradiogroupocardiaco()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{cardiaco.id}}" name="radiogroupocardiaco" [checked]="cardiaco.id === 0" [value]="cardiaco.id" (change)="onSelectionChangecardiaco(cardiaco)">
                                            <label for="{{cardiaco.id}}">{{cardiaco.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Transtorno conductual</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let conductual of opciones26">
                                    <td (dblclick)="desseleccionarradiogroupoconductual()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{conductual.id}}" name="radiogroupoconductual" [checked]="conductual.tipo === 0" [value]="conductual.id" (change)="onSelectionChangeconductual(conductual)">
                                            <label for="{{conductual.id}}">{{conductual.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Trastorno motor</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let motor of opciones27">
                                    <td (dblclick)="desseleccionarradiogroupomotorr()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{motor.id}}" name="radiogroupomotorr" [checked]="motor.tipo === 0" [value]="motor.id" (change)="onSelectionChangemotor(motor)">
                                            <label for="{{motor.id}}">{{motor.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Problema bronco-respiratorio</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bronco of opciones28">
                                    <td (dblclick)="desseleccionarradiogroupobronco()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{bronco.id}}" name="radiogroupobronco" [checked]="bronco.id === 0" [value]="bronco.id" (change)="onSelectionChangebronco(bronco)">
                                            <label for="{{bronco.id}}">{{bronco.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Enfermedad infecto-contagiosa</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let infecto of opciones29">
                                    <td (dblclick)="desseleccionarradiogroupoinfector()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{infecto.id}}" name="radiogroupoinfector" [checked]="infecto.tipo === 0" [value]="infecto.id" (change)="onSelectionChangeinfecto(infecto)">
                                            <label for="{{infecto.id}}">{{infecto.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Transtorno emocional</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let emocional of opciones30">
                                    <td (dblclick)="desseleccionarradiogroupoemocional()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{emocional.id}}" name="radiogroupoemocional" [checked]="emocional.tipo === 0" [value]="emocional.id" (change)="onSelectionChangeemocional(emocional)">
                                            <label for="{{emocional.id}}">{{emocional.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Paraplejia</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let paraplejia of opciones31">
                                    <td (dblclick)="desseleccionarradiogroupoparaplejia()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{paraplejia.id}}" name="radiogroupoparaplejia" [checked]="paraplejia.id === 0" [value]="paraplejia.id" (change)="onSelectionChangeparaplejia(paraplejia)">
                                            <label for="{{paraplejia.id}}">{{paraplejia.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Pérdida auditiva</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let auditiva of opciones32">
                                    <td (dblclick)="desseleccionarradiogroupoauditiva()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{auditiva.id}}" name="radiogroupoauditiva" [checked]="auditiva.id === 0" [value]="auditiva.id" (change)="onSelectionChangeauditiva(auditiva)">
                                            <label for="{{auditiva.id}}">{{auditiva.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Pérdida visual</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let visual of opciones33">
                                    <td (dblclick)="desseleccionarradiogroupovisual()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{visual.id}}" name="radiogroupovisual" [checked]="visual.tipo === 0" [value]="visual.id" (change)="onSelectionChangevisual(visual)">
                                            <label for="{{visual.id}}">{{visual.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="saluteducacion.otro" id="otro" name="otro">
                        <label class="otros1" for="otro">Otro</label>
                    </div>
                </div>
            </div>
            <br>


            <div class="row">
                <div class="col-12">
                    <div class="md-form">
                        <textarea name="recibntratam" cols="400" rows="5" [(ngModel)]="saluteducacion.recibntratam" id="recibntratam" class="md-textarea" mdbActive>
            
          </textarea>
                        <label for="recibntratam">El o los problemas de salud reciben control/tratamiento(Especifique)</label>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Alimentación</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let alimenta of alimentaciones">
                                    <td (dblclick)="desseleccionarradiogroupalimenta()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{alimenta.id}}" name="radiogroupalimenta" [checked]="alimenta.tipo === 0" [value]="alimenta.id" (change)="onSelectionChangealimenta(alimenta)">
                                            <label for="{{alimenta.id}}">{{alimenta.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Peso(Apreciacion del informante)</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let peso of pesos">
                                    <td (dblclick)="desseleccionarradiogroupopeso()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{peso.id}}" name="radiogroupopeso" [checked]="peso.tipo === 0" [value]="peso.id" (change)="onSelectionChangepeso(peso)">
                                            <label for="{{peso.id}}">{{peso.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Insomnios</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let insomio of insomios">
                                    <td (dblclick)="desseleccionarradiogroupinsomio()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{insomio.id}}" name="radiogroupinsomio" [checked]="insomio.id === 0" [value]="insomio.id" (change)="onSelectionChangeinsomio(insomio)">
                                            <label for="{{insomio.id}}">{{insomio.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>duerme</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let duerme of duermes">
                                    <td (dblclick)="desseleccionarradiogroupduerme()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{duerme.id}}" name="radiogroupduerme" [checked]="duerme.id === 0" [value]="duerme.id" (change)="onSelectionChangeduerme(duerme)">
                                            <label for="{{duerme.id}}">{{duerme.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Sueño</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let suenio of suenios">
                                    <td (dblclick)="desseleccionarradiogrouposuenio()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{suenio.id}}" name="radiogrouposuenio" [checked]="suenio.tipo === 0" [value]="suenio.id" (change)="onSelectionChangesuenio(suenio)">
                                            <label for="{{suenio.id}}">{{suenio.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="saluteducacion.horasduerme" id="horasduerme" name="horasduerme">
                        <label class="otros1" for="horasduerme">Horas que duerme</label>
                    </div>
                    <br>
                    <div class="md-form">
                        <textarea name="obsdesocial" cols="400" rows="5" [(ngModel)]="saluteducacion.obsSalud" class="md-textarea" mdbActive>

              </textarea>
                        <label for="obsdesocial">Observaciones</label>
                    </div>
                </div>
            </div>
            <div class="col-2 offset-10">
                <button *ngIf="verAtender" type="submit" class="btn btn-pink" (click)="saveOrUpdateDesarroSocial()">Guardar</button>
            </div>

            <h3 class="text-center"> II. COMPOSICIÓN FAMILIAR</h3>
            <div>
                <table class="table table-sm">
                    <thead class="cyan lighten-3">
                        <tr class="table-info">
                            <th>Nombrey Apellido</th>
                            <th>edad</th>
                            <th>parentesco</th>
                            <th>ocupacion</th>
                            <th>gradoinstr</th>
                            <th>Ingreso mensual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let familiare of familiares">
                            <td>{{familiare.nombre}} {{familiare.apellido}}</td>
                            <td>{{familiare.edad}}</td>
                            <td>{{familiare.parentesco}}</td>
                            <td>{{familiare.ocupacion}}</td>
                            <td>{{familiare.gradoinstr}}</td>
                            <td>{{familiare.ingresomensual}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab *ngIf="verotrosEscolaridad" tabTitle="Escolaridad">
            <h4 class="text-center">Datos de escolaridad</h4>
            <div class="row">
                <div class="col-4">
                    <div class="md-form">
                        <p>Edad de ingreso al sistema escolar</p>
                        <input type="number" mdbActive class="form-control" [(ngModel)]="escolaridad.edadingreso" name="edadingreso">
                    </div>
                    <div>
                        <table>
                            <thead>
                                <td>Ha repetido cursos</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let repetidocurso of opciones42">
                                    <td (dblclick)="desseleccionarradiogrouprepetidocurso()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{repetidocurso.id}}" name="radiogrouprepetidocurso" [checked]="repetidocurso.tipo === 0" [value]="repetidocurso.id" (change)="onSelectionChangerepetidocurso(repetidocurso)">
                                            <label for="{{repetidocurso.id}}">{{repetidocurso.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.cursosrep" name="cursosrep">
                        <label class="otros1" for="cursosrep">Curso</label>
                    </div>
                    <br>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.motivorepite" name="motivorepite">
                        <label class="otros1" for="motivorepite">Motivo</label>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Asistio al jardín infantil</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let jardin of opciones34">
                                    <td (dblclick)="desseleccionarradiogroupjardin()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{jardin.id}}" name="radiogroupjardin" [checked]="jardin.tipo === 0" [value]="jardin.id" (change)="onSelectionChangejardin(jardin)">
                                            <label for="{{jardin.id}}">{{jardin.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <p>Nº de colegios que ha estudiado</p>
                        <input type="number" mdbActive class="form-control" [(ngModel)]="escolaridad.numcolegios" name="numcolegios">
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.motivocambio" name="motivocambio">
                        <label class="otros1" for="motivocambio">Motivo de cambios</label>
                    </div>

                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Modalidad de enseñanza</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let modalidad of modalidades">
                                    <td (dblclick)="desseleccionarradiogroupmodalidad()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{modalidad.id}}" name="radiogroupmodalidad" [checked]="modalidad.id === 0" [value]="modalidad.id" (change)="onSelectionChangemodalidad(modalidad)">
                                            <label for="{{modalidad.id}}">{{modalidad.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <p>Dificultades para el proceso de matriculas</p>
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.difmatricula" name="difmatricula">
                    </div>
                </div>
            </div>
            <h4 class="text-center">Situación actual</h4>
            <div class="row">
                <div class="col-4">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.nivelactual" name="nivelactual">
                        <label class="otros1" for="nivelactual">Nivel o grado</label>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <td>Conducta disruptiva</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let disruptiva of opciones35">
                                    <td (dblclick)="desseleccionarradiogroupdisruptiva()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{disruptiva.id}}" name="radiogroupdisruptiva" [checked]="disruptiva.tipo === 0" [value]="disruptiva.id" (change)="onSelectionChangedisruptiva(disruptiva)">
                                            <label for="{{disruptiva.id}}">{{disruptiva.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <td>amig@s</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let amigos of opciones36">
                                    <td (dblclick)="desseleccionarradiogroupamigos()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{amigos.id}}" name="radiogroupamigos" [checked]="amigos.tipo === 0" [value]="amigos.id" (change)="onSelectionChangeamigos(amigos)">
                                            <label for="{{amigos.id}}">{{amigos.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Dificiltad de aprendisaje</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dificultad of opciones37">
                                    <td (dblclick)="desseleccionarradiogroupdificultad()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{dificultad.id}}" name="radiogroupdificultad" [checked]="dificultad.tipo === 0" [value]="dificultad.id" (change)="onSelectionChangedificultad(dificultad)">
                                            <label for="{{dificultad.id}}">{{dificultad.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>Asiste regularmente</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let regularmente of opciones38">
                                    <td (dblclick)="desseleccionarradiogroupregularmente()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{regularmente.id}}" name="radiogroupregularmente" [checked]="regularmente.tipo === 0" [value]="regularmente.id" (change)="onSelectionChangeregularmente(regularmente)">
                                            <label for="{{regularmente.id}}">{{regularmente.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>Dificiltad para participar</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dificultadparti of opciones39">
                                    <td (dblclick)="desseleccionaradiogroupdificultadpartir()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{dificultadparti.id}}" name="radiogroupdificultadparti" [checked]="dificultadparti.tipo === 0" [value]="dificultadparti.id" (change)="onSelectionChangedificultadparti(dificultadparti)">
                                            <label for="{{dificultadparti.id}}">{{dificultadparti.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table>
                            <thead>
                                <td>Asiste con agrado</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let agrado of opciones40">
                                    <td (dblclick)="desseleccionarradiogroupagrado()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{agrado.id}}" name="radiogroupagrado" [checked]="agrado.tipo === 0" [value]="agrado.id" (change)="onSelectionChangeagrado(agrado)">
                                            <label for="{{agrado.id}}">{{agrado.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 class="text-center">Necesidades básicas dentro del colegio</h4>
            <div class="row">
                <div class="col 4">
                    <div>
                        <table>
                            <thead>
                                <td>Baño</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let banios of opciones41">
                                    <td (dblclick)="desseleccionarradiogroupbanios()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{banios.id}}" name="radiogroupbanios" [checked]="banios.tipo === 0" [value]="banios.id" (change)="onSelectionChangebanios(banios)">
                                            <label for="{{banios.id}}">{{banios.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col 4">
                    <div class="col 4">
                        <div>
                            <table>
                                <thead>
                                    <td>Vestido</td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vestido of vestidos">
                                        <td (dblclick)="desseleccionarradiogroupvestido()">
                                            <div class="md-radio">
                                                <input type="radio" id="{{vestido.id}}" name="radiogroupvestido" [checked]="vestido.tipo === 0" [value]="vestido.id" (change)="onSelectionChangevestido(vestido)">
                                                <label for="{{vestido.id}}">{{vestido.tipo}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col 4">
                    <div class="col 4">
                        <div>
                            <table>
                                <thead>
                                    <td>Alimento</td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let aliment of alimentos">
                                        <td (dblclick)="desseleccionarradiogroupaliment()">
                                            <div class="md-radio">
                                                <input type="radio" id="{{aliment.id}}" name="radiogroupaliment" [checked]="aliment.id === 0" [value]="aliment.id" (change)="onSelectionChangealiment(aliment)">
                                                <label for="{{aliment.id}}">{{aliment.tipo}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-2">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="escolaridad.obsercole" name="obsercole">
                        <label class="otros1" for="obsercole">Observaciones</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>¿Cómo evalúa la familia el desempeño escolar del estudiante?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let desempenioesco of desempenioescolar">
                                    <td (dblclick)="desseleccionarradiogroupdesempenioesco()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{desempenioesco.id}}" name="radiogroupdesempenioesco" [checked]="desempenioesco.id === 0" [value]="desempenioesco.id" (change)="onSelectionChangedesempenioesco(desempenioesco)">
                                            <label for="{{desempenioesco.id}}">{{desempenioesco.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>¿Cuál es la respuesta de la familia frente a las dificultades escolares del niño?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let respuestadifi of respuestadificultades">
                                    <td (dblclick)="desseleccionarradiogrouprespuestadifi()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{respuestadifi.id}}" name="radiogrouprespuestadifi" [checked]="respuestadifi.id === 0" [value]="respuestadifi.id" (change)="onSelectionChangerespuestadifi(respuestadifi)">
                                            <label for="{{respuestadifi.id}}">{{respuestadifi.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>¿Qué expectativas tiene la familia frente al futuro escolar del estudiante?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let futuroesco of futuroescolar">
                                    <td (dblclick)="desseleccionarradiogroupfuturoesco()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{futuroesco.id}}" name="radiogroupfuturoesco" [checked]="futuroesco.id === 0" [value]="futuroesco.id" (change)="onSelectionChangefuturoesco(futuroesco)">
                                            <label for="{{futuroesco.id}}">{{futuroesco.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <table>
                            <thead>
                                <td>¿Cuál es la respuesta de la familia frente a los éxitos escolares del estudiante?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let respuestaex of respuestaexito">
                                    <td (dblclick)="desseleccionarradiogrourespuestaex()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{respuestaex.id}}" name="radiogrourespuestaex" [checked]="respuestaex.id === 0" [value]="respuestaex.id" (change)="onSelectionChangerespuestaex(respuestaex)">
                                            <label for="{{respuestaex.id}}">{{respuestaex.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <table>
                            <thead>
                                <td>¿Quienes apoyan el proceso de aprendizaje del estudiante?</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let apoyoaprendi of apoyoaprendisaje">
                                    <td (dblclick)="desseleccionarradiogroupapoyoaprendi()">
                                        <div class="md-radio">
                                            <input type="radio" id="{{apoyoaprendi.id}}" name="radiogroupapoyoaprendi" [checked]="apoyoaprendi.id === 0" [value]="apoyoaprendi.id" (change)="onSelectionChangeapoyoaprendi(apoyoaprendi)">
                                            <label for="{{apoyoaprendi.id}}">{{apoyoaprendi.tipo}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="md-form">
                        <p>Comentarios u otras Observaciones relevantes que no se registraron</p>
                        <textarea name="obsdesocial" cols="400" rows="5" [(ngModel)]="saluteducacion.comentarios" class="md-textarea" mdbActive>

                </textarea>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-10">
                    <button *ngIf="verAtender" type="submit" class="btn btn-pink" (click)="saveOrUpdateSaludEducacion()">Guardar</button>
                </div>
            </div>
        </tab>


    </tabs>
</div>