<div id="accordion" class="contenedor-menu">
    <ul class="menu">
        <div class="card" id="cardMenu">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
            <li>
              <a class="font-weight-bold">Wasi Esperanza             
              </a>
            </li>
          </button>
                </h5>
            </div>
        </div>


        <div class="card" id="cardMenu">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <li>
              <a class="font-weight-bold">SOCIAL
                <i class="derecha fas fa-home fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Fichadeinscripcion">Ficha de Inscripción</a>
                    </li>
                </div>
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="HistoriaSocial">Historia Social</a>
                    </li>
                </div>
                <!-- <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Evaluacionsocioeconomica">Eval. Socioeconomica</a>
                    </li>
                </div> -->
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Listaaptossocial">Lista de Admitidos</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <li>
              <a class="font-weight-bold  ">REHABILITACIÓN
                <i class="derecha fas fa-wheelchair fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">             
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Listarehabilitacion">Lista Pacientes</a>
                    </li>
                </div>              
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Gestionamteriales">Gestión de Materiales </a>
                    </li>
                </div>               
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <li>
              <a class="font-weight-bold  ">SALUD
                <i class="derecha fas fa-medkit fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="refparasalud">Referenciados</a>
                    </li>
                </div>                
                <div class="card-body">
                  <li>
                    <a class="sub-menu" routerLink="Campanias">Camapaña de atención</a>
                  </li>
                </div>
              </div>
            </div>
   

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <li>
              <a class="font-weight-bold  "> PSICOLOGÍA
                <i class="derecha fas fa-universal-access fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Refparapsicologia">Referenciados</a>
                    </li>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <li>
              <a class="font-weight-bold  ">TERAPIA OCUPACIONAL &nbsp;&nbsp;&nbsp;
                <i class="derecha fas fa-sign-language fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="listaATO">Lista</a>
                    </li>
                </div>
                <div class="card-body">
                    <li>
                        <a class="sub-menu">Ficha Medica</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <li>
              <a class="font-weight-bold ">EDUCACIÓN
                <i class="derecha fas fa-book fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Listaeducacion">Lista</a>
                    </li>
                </div>
                <div class="card-body">
                    <li>
                        <a class="sub-menu">Ficha Medica</a>
                    </li>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <li>
              <a class="font-weight-bold  ">CENTRO DE DÍA
                <i class="derecha fas fa-heart fa-2x"></i>
              </a>
            </li>
          </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                    <li>
                        <a class="sub-menu" routerLink="Listacentrodia">Lista</a>
                    </li>
                </div>
                <div class="card-body">
                    <li>
                        <a class="sub-menu">Ficha Medica</a>
                    </li>
                </div>
            </div>
        </div>

    </ul>

</div>


