<img src="../../../assets/images/no-encontrada.jpg" alt="100%" width="80%" height="90%">
<br>
<button class="btn btn-info" (click)="Retornar()"><i style="color: white" class="fas fa-home"></i> ir a Inicio</button>