<div class="container-fluid">
    <h3 class="text-center">Ficha Psicológica</h3>
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Datos Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Código Historial:<strong style="color: black">{{expedientes.codigohistorial}} </strong></h4>
                        </div>
                        <div class="card-block">
                            <h5 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h5>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-2">
                    <div>
                        <div>
                            <table>
                                <thead>
                                    <td>
                                        <p>Tipo de Familia</p>
                                    </td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tipoFamiliar of tipfamilia">
                                        <td>
                                            <div class="md-radio">
                                                <input id="{{tipoFamiliar.id}}" type="radio" name="radiogrouptipofami" [checked]="tipoFamiliar.descripcion === chekeadotipoFamiliar" [value]="tipoFamiliar.id" (change)="onSelectionChangeTipoFamilia(tipoFamiliar)">
                                                <label for="{{tipoFamiliar.id}}">{{tipoFamiliar.descripcion}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div *ngIf="verOtroRadiotipoFamiliar" class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalpsicologico.tipofamilia" name="tipofamilia" type="text" mdbActive>
                            <label class="otros1" for="tipofamilia">Otros</label>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div>
                        <div>
                            <table>
                                <thead>
                                    <td>
                                        <p>Relación entre padres</p>
                                    </td>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let relacion of relacionpadres">
                                        <td>
                                            <div class="md-radio">
                                                <input id="{{relacion.id}}" type="radio" name="radiogrouptiporelacion" [checked]="relacion.descripcion === chekeadotiporelacion" [value]="relacion.id" (change)="onSelectionChangerelacionPadres(relacion)">
                                                <label for="{{relacion.id}}">{{relacion.descripcion}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div *ngIf="verOtroRadiorelacionPadres" class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalpsicologico.relacionpadres" name="relacionpadres" type="text" mdbActive>
                            <label class="otros1" for="relacionpadres">Otros</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        <textarea name="motivoconsulta" id="motivoconsulta" cols="100" rows="3" [(ngModel)]="evalpsicologico.motivoconsulta" class="md-textarea" mdbActive>

            </textarea>
                        <label for="motivoconsulta">Motivo de Consulta</label>
                    </div>
                </div>
            </div>
            <button *ngIf="verAtender" type="submit" (click)="saveOrUpdateEvaluacionPsicologica()" class="btn btn-pink">Guardar</button>
        </tab>
        <tab tabTitle="Familia">
            <div class="row">
                <div class="col-6 md-form" *ngIf="PadreExiste">
                    <p><i>{{padre.tipo_apoderado}}</i></p>
                    <p>Nombre: <i style="color:blue">{{padre.nombre_apoderado}} {{padre.apellido_apoderado}}</i></p>
                    <p>Condicion Laboral: <i style="color:blue">{{padre.condlaboral_apod}}</i></p>
                    <p>Fecha de Nacimiento: <i style="color:blue">{{padre.fnacimiento_apod}}</i></p>
                    <p>Ocupacion: <i style="color:blue">{{padre.ocupacion_apoderado}}</i></p>

                    <div class="md-form">
                        <input class="form-control form-control-sm" id="adiccion" [(ngModel)]="padre.adiccion" name="adiccion" type="text" mdbActive>
                        <label for="adiccion">Adicción</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="caracter" [(ngModel)]="padre.caracter" name="caracter" type="text" mdbActive>
                        <label for="caracter">Carácter</label>
                    </div>

                    <button type="submit" (click)="saveOrUpdatePadre()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
                </div>


                <div class="col-6 md-form" *ngIf="MadreExiste">
                    <p><i>{{madre.tipo_apoderado}}</i></p>
                    <p>Nombre: <i style="color:blue">{{madre.nombre_apoderado}} {{madre.apellido_apoderado}}</i></p>
                    <p>Condicion Laboral: <i style="color:blue">{{madre.condlaboral_apod}}</i></p>
                    <p>Fecha de Nacimiento: <i style="color:blue">{{padre.fnacimiento_apod}}</i></p>
                    <p>Ocupacion: <i style="color:blue">{{madre.ocupacion_apoderado}}</i></p>

                    <div class="md-form">
                        <input class="form-control form-control-sm" id="adiccionmadre" [(ngModel)]="madre.adiccion" name="adiccion" type="text" mdbActive>
                        <label for="adiccionmadre">Adicción</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="caractermadre" [(ngModel)]="madre.caracter" name="caracter" type="text" mdbActive>
                        <label for="caractermadre">Carácter</label>
                    </div>

                    <button *ngIf="verAtender" type="submit" (click)="saveOrUpdateMadre()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
                </div>

            </div>
            <br>


            <h3 class="text-center"> II. COMPOSICIÓN FAMILIAR</h3>
            <div>
                <table class="table table-sm">
                    <thead class="cyan lighten-3">
                        <tr class="table-info">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Parentesco</th>
                            <th>Ocupacion</th>
                            <th>Gradoinstr</th>
                            <th>Ingreso mensual</th>
                            <th>Observacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let familiare of familiares">
                            <td>{{familiare.nombre}}</td>
                            <td>{{familiare.apellido}}</td>
                            <td>{{familiare.edad}}</td>
                            <td>{{familiare.parentesco}}</td>
                            <td>{{familiare.ocupacion}}</td>
                            <td>{{familiare.gradoinstr}}</td>
                            <td>{{familiare.ingresomensual}}</td>
                            <td>{{familiare.observacion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="md-form">
                        <textarea name="motivoconsulta" id="motivoconsulta" cols="400" rows="5" [(ngModel)]="evalpsicologico.climafamiliar" class="md-textarea" mdbActive>

            </textarea>
                        <label for="motivoconsulta">Clima Familiar</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="md-form">
                        <textarea name="antecpsiquiatricos" id="antecpsiquiatricos" cols="400" rows="5" [(ngModel)]="evalpsicologico.antecpsiquiatricos" class="md-textarea" mdbActive>

            </textarea>
                        <label for="antecpsiquiatricos">Antecentes Psiquiátricos o Clínicos Médicos</label>
                    </div>
                </div>
            </div>
            <button *ngIf="verAtender" type="submit" (click)="saveOrUpdateEvaluacionPsicologica()" class="btn btn-pink">Guardar</button>

        </tab>
        <tab tabTitle="Plan de Trabajo" *ngIf="evalpsicologico.idfichapsico">
            <app-trabajo-psicologia [idficha]="evalpsicologico.idfichapsico"></app-trabajo-psicologia>
        </tab>
        <tab tabTitle="Informe" *ngIf="evalpsicologico.idfichapsico">
            <tabs>
                <tab *ngIf="verAtender" tabTitle="Subir archivos">
                    <div class="container">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <a class="navbar-brand text-center">Subir archivos</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Archivos seleccionados</h5>
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                                    <p class="text-center" style="width: auto; height: auto;">Arrastrar Archivo</p>
                                </div>
                            </div>

                            <div class="col-8" style="margin-bottom: 40px">
                                <h5>Cargas en cola</h5>
                                <p>Cantidad: {{ uploader?.queue?.length }}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Nombre</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of uploader.queue">
                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">

                          <span class="glyphicon glyphicon-upload"></span> Subir
                        </button>
                                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()" [disabled]="item.isReady">
                          <span class="glyphicon glyphicon-trash"></span> Eliminar
                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div>
                                        <p>Progreso</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"><span
                      class="glyphicon glyphicon-upload"></span>
                    Subir todos</button>
                                    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"><span
                      class="glyphicon glyphicon-trash"></span>
                    Eliminar todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab tabTitle="lista de archivos">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="text-center">Listar archivos</h3>
                        </div>
                        <div class="col-2">
                                <div (click)="imprimirFiles()">
                                        <i class="fas fa-sync-alt">Listar</i>
                                    </div>
                        </div>
                    </div>
                    <!-- <div class="container animated fadeIn"> -->
                    <div class="card container animated fadeIn">
                        <div class="card-body">
                            <table class="table table-hover table-responsive-md table-fixed">
                                <thead class="table-dark">
                                    <tr>
                                        <th style="width: 15px;">Nº</th>
                                        <th>Documentos</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of documentnames; let i = index ">
                                        <th>{{i}}</th>
                                        <td class="linkdescarga" (click)="descargar(item)">{{item}}</td>
                                        <td (click)="eliminararchivo(item)"> <i class="fas fa-trash"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </tab>
            </tabs>

        </tab>

    </tabs>

</div>