.w-auto {
    width: auto;
}

  p {
    color: blue;
    font-size: 17px;
    font-weight: 300;
  }
label {
    color: blue;
    font-weight: 300; 
    font-size: 16px;
  }
  input {
    color: black;
    font-weight: 300;
    font-size: 17px;
  }
  option {
    color: black;
    font-weight: 300;
    font-size: 17px;
  }
  label.otros1{
    color: red;
  }