<h3 class="text-center">Lista de Areas</h3>
<div class="container animated fadeIn">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Descripción Area</th>
                        <!-- <th>Eliminar</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let area of areas">
                        <td (dblclick)=onEditArea(area)>{{area.descripcionarea}}</td>
                        <!-- <td class="right" *ngIf="verAtender">
                            <i class="far fa-trash-alt fa-lg" (click)="deleteArea(area)"></i>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="verAtender">
        <button type="button" (click)="CrearArea()" class="btn btn-pink">Crear Area</button>
    </div>
</div>

<div class="container" *ngIf="verCrearArea">
    <h3 class="text-center orange-text">Areas</h3>
    <form class="form-horizontal main-form">
        <div *ngIf="!isValid" class="alert alert-danger">
            <strong>Danger!</strong> {{message}}.
        </div>
        <div class="row">
            <div class="col-5">
                <div class="md-form mb-3">
                    <input type="text" mdbActive class="md-form" [(ngModel)]="area.descripcionarea" id="descripcionrol" name="descripcionrol">
                    <label for="descripcionarea">Area</label>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-2 col-10">
                    <button type="submit" (click)="saveOrUpdateArea()" *ngIf="verBtnguardar" class="btn btn-pink">Guardar</button>
                    <button type="submit" (click)="saveOrUpdateArea()" *ngIf="verBtnactualizar" class="btn btn-success">Actualizar</button>
                </div>
            </div>
        </div>
    </form>
</div>