<h3 class="text-center">Referencia Interna</h3>
<br>
<div class="row">
    <div class="col-2">
        <button type="submit" (click)="nuevoferencia()" class="btn btn-pink" mdbRippleRadius>nuevo</button>
    </div>
</div>
<br>
<br>
<div class="container-fluid" *ngIf="verpaciente">
    <div class="row">
        <div class="col-3 md-form">
            <input type="text" class="form-control form-control-sm" disabled="disabled" [(ngModel)]="paciente.nombre" id="nombre" name="nombre" mdbActive>
            <label for="nombre">Nombre</label>
        </div>
        <div class="col-3 md-form">
            <input type="text" class="form-control form-control-sm" disabled="disabled" [(ngModel)]="paciente.primer_apellido" id="primer_apellido" name="primer_apellido" mdbActive mdbActive>
            <label for="primer_apellido">Apellido</label>
        </div>
        <div>
            <table>
                <thead>
                    <td>
                        <p style="color:red">Asignar Area</p>
                    </td>
                </thead>
                <tbody>
                    <tr *ngFor="let area of areas">
                        <td>
                            <div class="md-radio">
                                <input id="{{area.id_area}}" type="radio" name="radiogrouparea" [checked]="area.descripcionarea === areaselect" [value]="area.id_area" (change)="onSelectionChangearea(area)">
                                <label for="{{area.id_area}}">{{area.descripcionarea}}</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="freferencia">Fecha</label>
            <input type="date" class="form-control" [(ngModel)]="referencia1.freferencia" id="freferencia" name="freferencia">
        </div>
        <div class="col-3">
            <div class="md-form">
                <textarea name="motivoreferencia" id="motivoreferencia" cols="100" rows="3" [(ngModel)]="referencia1.motivoreferencia" class="md-textarea" mdbActive>
      </textarea>
                <label for="motivoreferencia">Motivo</label>
            </div>

        </div>
    </div>
    <button type="submit" (click)="saveOrUpdateReferencia1()" class="btn btn-pink waves-light" [disabled]="validado" mdbRippleRadius>Guardar</button>
    <button type="submit" (click)="cancelar()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
</div>



<div class="cantainer animated fadeIn">
    <div class="col-8 offset-2">

    </div>
    <table class="table table-sm">
        <thead class="cyan lighten-3">
            <tr>
                <th>Area</th>
                <th>Motivo</th>
                <th>Fecha</th>
                <th>Botones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let referencia of referencias">
                <td>{{referencia.idarea.descripcionarea}}</td>
                <td>{{referencia.motivoreferencia}}</td>
                <td>{{referencia.freferencia}}</td>
                <td>
                    <i class="fas fa-edit fa-lg" (click)="onEditreferencia(referencia)"></i>
                    <i class="fas fa-trash-alt" (click)="eliminarrefe(referencia.idreferinterna)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>