<!-- cSpell:disable -->
<img class="fondo" src="../../assets/fondo.jpg" width="100%">
<div class="contenedor">
    <div class="loginBox">
        <img src="../../assets/user.png" class="user" />
        <br>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <div class="md-form">
                <input type="text" [(ngModel)]="username" mdbActive class="form-control" id="username" name="username" required>
                <label for="username">Usuario</label>
            </div>
            <div class="md-form">
                <input [(ngModel)]="password" id="password" mdbActive class="form-control" type="password" name="password" required>
                <label for="password">Contraseña</label>
            </div>

            <div class="form-check">
                <form action="" class="formulario">
                    <div class="md-checkbox" *ngFor="let dominio of dominios">
                        <input id="recuerdame" [(ngModel)]="recuerdame" type="checkbox" name="recuerdame">
                        <label for="recuerdame">Recordar </label>
                    </div>
                </form>
            </div>


            <button class="btn btn-pink" (keyup.enter)="login(username,password,recuerdame)" blur="login(username,password,recuerdame)" (click)="login(username,password,recuerdame)">ingresar</button>
        </form>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <a href="https://www.facebook.com/WasiEsperanza/" target="_blank">
                    <i style="color:white" class="fab fa-facebook fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>