<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Aceptar Paciente</h3>
        </div>
    </div>
    <h4 class="text-center">Datos del Paciente</h4>
    <br>
    <div class="container" *ngIf="verpaciente">
        <div class="row">
            <div class="col-6">
                <p>DNI: <i style="color:blue">{{expedientes.dni}}</i></p>
                <p>Paciente: <i style="color:blue">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}</i></p>
                <p>Fecha de Nacimiento: <i style="color:blue">{{expedientes.fechanacimiento}}</i></p>
                <p>Edad: <i style="color:blue">{{expedientes.edad}} años y {{expedientes.edadmeses}} meses </i></p>
            </div>
            <div class="col-6">
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" disabled="disabled" [(ngModel)]="estadopersona" name="estadopersona">
                    <label for="estadopersona">Estado</label>
                </div>
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" disabled="disabled" [(ngModel)]="pacienteaceptadopersona" name="pacienteaceptadopersona">
                    <label for="pacienteaceptadopersona">Aceptado</label>
                </div>
            </div>
        </div>
        <div *ngIf="verAtender">
            <button class="btn btn-info" (click)="verModificar()">Modificar</button>
        </div>
    </div>
    <div class="row" *ngIf="verestadoModificar">
        <div class="col-6">
            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Habilitar Paciente</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let admitidopaciente of admitidopacientes">
                                <td>
                                    <div class="md-radio">
                                        <input type="radio" id="{{admitidopaciente.code}}" name="radiogroupadmitidopaciente" [checked]="admitidopaciente.id === midfaceptado" [value]="admitidopaciente.id" (change)="onSelectionChangeadmitidopaciente(admitidopaciente)">
                                        <label for="{{admitidopaciente.code}}">{{admitidopaciente.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div>
                <div>

                    <table>
                        <thead>
                            <td>
                                <p>Habilitar Paciente</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let estadopaciente of estadopacientes">
                                <td>
                                    <div class="md-radio">
                                        <input type="radio" id="{{estadopaciente.code}}" name="radiogroupestadopaciente" [checked]="estadopaciente.id === midfestado" [value]="estadopaciente.id" (change)="onSelectionChangeestadopaciente(estadopaciente)">
                                        <label for="{{estadopaciente.code}}">{{estadopaciente.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div *ngIf="verAtender">
            <button type="submit" [disabled]="!validacion()" class="btn btn-pink" (click)="saveOrUpdateEstadoPaciente()"> Guardar</button>
            <button type="button" class="btn btn-cancel" (click)="Cancelar()">Cancel</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Habilitado</div>
                <div class="card-body">
                    <h4 class="card-title">Estados</h4>
                    <p class="card-text" style="color:white">Habilitado son los pacientes que estamos trabajando este año</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Admitido</div>
                <div class="card-body">
                    <h4 class="card-title">Estados</h4>
                    <p class="card-text" style="color:white">Admito son pacientes que desarrollan las terapias en Wasi</p>
                </div>
            </div>
        </div>
    </div>
</div>