<div>
    <h3 class="text-center">I. PADRES Y APODERADOS </h3>
    <table class="table table-sm">
        <thead class="cyan lighten-3">
            <tr>
                <th>Tipo</th>
                <th>Apellido</th>
                <th>Documento</th>
                <th>Estado Civil</th>
                <th>Condición Laboral</th>
                <th>Instrucción</th>
                <th>Nacio En</th>
                <th>Ocupacion</th>
                <th>Celular</th>
                <th>Botones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let padre of padres">
                <td>{{padre.tipo_apoderado}}</td>
                <td>{{padre.nombre_apoderado}} {{padre.apellido_apoderado}}</td>
                <td>{{padre.dni_apoderado}}</td>
                <td>{{padre.estcivil_apoderado}}</td>
                <td>{{padre.condlaboral_apod}}</td>
                <td>{{padre.nivelinst_apoderado}}</td>
                <td>{{padre.departamento_apoderado}}-{{padre.provincia_apoderado}}-{{padre.distrito_apoderado}}</td>
                <td>{{padre.ocupacion_apoderado}}</td>
                <td>{{padre.celular}}</td>
                <td (click)="onEditApoderado(padre)">
                    <i class="fas fa-edit fa-lg"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="verAtender">
    <button class="btn btn-info" *ngIf="mostrarboton" (click)="CrearPadres()">Crear Padres</button>
</div>

<div class="container" *ngIf="verCrearPadres">
    <h3 class="text-center">Datos del Apoderado</h3>
    <div class="row">
        <div class="col-4">
            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Apoderado <span style="color: red">*</span></p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let apoderado of apoderados">
                                <td>
                                    <div class="md-radio">
                                        <input type="radio" id="{{apoderado.id}}" name="radiogroupApoderado" [checked]="apoderado.descripcion === apoderadoTipo" [value]="apoderado.descripcion" (change)="onSelectionChangeapoderado(apoderado)">
                                        <label for="{{apoderado.id}}">{{apoderado.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" [(ngModel)]="apoderadomadre.nombre_apoderado" name="nombre_apoderado" id="nombre_apoderado">
                <label for="nombre_apoderado" class="">Nombre <span>*</span></label>
            </div>

            <div class="md-form">

                <input type="text" mdbActive class="form-control" [(ngModel)]="apoderadomadre.apellido_apoderado" name="apellido_apoderado" id="apellido_apoderado">
                <label for="apellido_apoderado" class="">Apellidos <span>*</span></label>
            </div>

            <div class="md-form">
                <input type="number" mdbActive class="form-control" [(ngModel)]="apoderadomadre.dni_apoderado" name="dni_apoderado" id="dni_apoderado" size="6" maxlength="6">
                <label for="form1" class="">Dni</label>
            </div>

            <div>
                <label for="fnacimiento_apod">Fecha de nacimiento </label>
                <input type="date" class="form-control" [(ngModel)]="apoderadomadre.fnacimiento_apod" name="fnacimiento_apod">
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" [(ngModel)]="edadmuestra" (click)="calcularedadymes()" name="edades">
                <label for="form1" class="">Edad</label>

            </div>
            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Idioma</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let idioma of idiomas">
                                <td (dblclick)="desseleccionarradioidioma()">
                                    <div class="md-radio">
                                        <input type="radio" id="{{idioma.id}}" name="radiogroupIdioma" [checked]="idioma.descripcion === apoderadoIdioma" [value]="idioma.descripcion" (change)="onSelectionChangeIdiomaMadre(idioma)">
                                        <label for="{{idioma.id}}">{{idioma.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div *ngIf="verOtroRadioIdiomaMadre" class="md-form">
                    <input class="form-control form-control-sm" mdbActive [(ngModel)]="apoderadomadre.idioma_apoderado" name="idioma_apoderado" type="text">
                    <label class="otros1" for="idioma_apoderado">Otro</label>
                </div>
            </div>
        </div>

        <div class="col-4">
            <p>Lugar de Nacimiento</p>
            <select class="mdb-select colorful-select dropdown-dark" #selectDepartMadre (change)="setNewDepartamentoMadre(selectDepartMadre.value) ">
        <option disabled="disabled">-Escoger departemento-</option>
        <option *ngFor="let ubigeoDepartamento of ubigeoDepartamentos" [value]="ubigeoDepartamento.id_depa">
          {{ubigeoDepartamento.nombre_departamento}}
        </option>
      </select>

            <br>
            <select class="mdb-select colorful-select dropdown-dark" *ngIf="verProvincia" #selectprovinciaMadre (change)="setNewProvinciaMadre(selectprovinciaMadre.value)">
        <option disabled="disabled" value="">-Escoger Provincia-</option>
        <option *ngFor="let pprovincia of ubigeoProvincias" [value]="pprovincia.id_prov">
          {{pprovincia.nombre_provincia}}
        </option>
      </select>
            <br>
            <select class="mdb-select colorful-select dropdown-dark" *ngIf="verDistrito" #selectDistritoMadre (change)="setNewDistritoMadre(selectDistritoMadre.value)">
        <option disabled="disabled" value="">-Escoger Distrito-</option>
        <option *ngFor="let disstrito of ubigeoDistritos" [value]="disstrito.nombre_distrito">
          {{disstrito.nombre_distrito}}
        </option>
      </select>
            <br>
            <p>Estado Civil</p>
            <div class="md-form">
                <select class="mdb-select colorful-select dropdown-dark" #selectEstadocivilMadre (change)="setNewEstadoCivilMadre(selectEstadocivilMadre.value)">
          <option disabled="disabled" value="">-Estado civil-</option>
          <option *ngFor="let estadoCivil of estadoCiviles" [value]="estadoCivil.descripcion">
            {{estadoCivil.descripcion}}
          </option>
        </select>
            </div>
            <br>
            <p>Nivel de Instrución</p>
            <div class="md-form">
                <select class="mdb-select colorful-select dropdown-dark" #selectNivelEducativoMadre (change)="setNewNivelInstruccionMadre(selectNivelEducativoMadre.value)">
          <option disabled="disabled" value="">-Nivel Educativo-</option>
          <option *ngFor="let nivelInstrucion of nivelInstruciones" [value]="nivelInstrucion.descripcion">
            {{nivelInstrucion.descripcion}}
          </option>
        </select>
            </div>

            <br>

            <p class="labelcheckbox" for="ocupacion_apoderado">Ocupación
                <i data-target="#programasocial" data-toggle="modal" class="fas fa-ellipsis-v fa-lg"></i>
            </p>
            <textarea rows="2" mdbActive cols="50" name="ocupacion_apoderado" id="ocupacion_apoderado" [(ngModel)]="apoderadomadre.ocupacion_apoderado" class="md-textarea">

      </textarea>


            <!-- inicio del ventana modal -->
            <div class="modal fade" id="programasocial" tabindex="-1" role="dialog" aria-labelledby="programasocial" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="programasocial">Opciones</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <form action="" class="formulario">
                                    <div class="md-checkbox" *ngFor="let ocupacion of ocupaciones">
                                        <input id="{{ocupacion.id}}" (change)="chenckboxChangeocupacion(ocupa)" #ocupa type="checkbox" [value]="ocupacion.descripcion" name="pcdgroup" style="font-weight: normal">
                                        <label for="{{ocupacion.id}}">{{ocupacion.descripcion}} </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)=igualarocupacion()>Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin del modal -->

            <div class="md-form">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="apoderadomadre.funcion_apoderado" name="funcion_apoderado">
                <label for="funcion_apoderado"> Función que ocupa</label>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Religión</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let religion of religiones">
                                <td (dblclick)="desseleccionarradiogroupReligion()">
                                    <div class="md-radio">
                                        <input type="radio" id="{{religion.id}}" name="radiogroupReligion" [checked]="religion.descripcion === apoderadoreligion" [value]="religion.descripcion" (change)="onSelectionChangeReligionMadre(religion)">
                                        <label for="{{religion.id}}">{{religion.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div *ngIf="verOtroRadioReligionMadre" class="md-form">
                    <input class="form-control form-control-sm" mdbActive [(ngModel)]="apoderadomadre.religion_apoderado" name="religion_apoderado" type="text">
                    <label class="otros1" for="religion_apoderado">Otro</label>
                </div>
            </div>
            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Condición Laboral</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let condicionLaboral of condicionLaborales">
                                <td (dblclick)="desseleccionarradiogroupcondicionLaboralMadre()">
                                    <div class="md-radio">
                                        <input type="radio" id="{{condicionLaboral.id}}" name="radiogroupcondicionLaboralMadre" [checked]="condicionLaboral.descripcion === apoderadocondicionLaboral" [value]="condicionLaboral.descripcion" (change)="onSelectionChangecondicionLaboralMadre(condicionLaboral)">
                                        <label for="{{condicionLaboral.id}}">{{condicionLaboral.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div *ngIf="verOtroRadioCondicionlabMadre" class="md-form">
                    <input class="form-control form-control-sm" [(ngModel)]="apoderadomadre.condlaboral_apod" name="condlaboral_apod" id="condlaboral_apod" type="text" mdbActive>
                    <label class="otros1" for="condlaboral_apod" class="">Otro</label>
                </div>
            </div>

            <div class="md-form">
                <input type="number" mdbActive class="form-control form-control-sm" [(ngModel)]="apoderadomadre.celular" name="celular" id="celular" size="9" maxlength="9">
                <label for="celular" class="">Celular</label>
            </div>
            <div class="md-form">
                <input type="number" mdbActive class="form-control" [(ngModel)]="apoderadomadre.telefonoFijo" name="telefonoFijo" id="telefonoFijo" size="9" maxlength="9">
                <label for="telefonoFijo">Telefono </label>
            </div>
        </div>

        <div class="md-form">
            <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="apoderadomadre.adiccion" name="adiccion" type="text" mdbActive>
            <label for="">Adiccion(Psicología)</label>
        </div>
        <div class="md-form">
            <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="apoderadomadre.caracter" name="caracter" type="text" mdbActive>
            <label for="">Carácter(Psicología)</label>
        </div>
    </div>
    <div *ngIf="verAtender">
        <button type="submit" class="btn btn-pink" mdbRippleRadius (click)="saveOrUpdateMadre()"> Guardar</button>
        <button type="submit" class="btn btn-cancel" mdbRippleRadius (click)="cancelar()"> Cancelar</button>
    </div>
</div>