<div class="container-fluit animated fadeIn">
    <h3 class="text-center">Historia Social Pacientes Aceptados</h3>
    <div class="row">
        <div class="col-4">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" class="form-control form-control-sm">
                <label for="term">Buscar</label>
            </div>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
            <tr class="table-info">
                <th>Codigo</th>
                <th>DNI</th>
                <th>Paciente</th>
                <th>Registro</th>
                <th>Sexo</th>
                <th>Nacimiento</th>
                <th>Edad</th>
                <th>Lugar de nacimiento</th>
                <th>Diagnostico</th>
                <th>Boton</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expediente of expedientes | filter:term | paginate: { itemsPerPage: 20, currentPage: p }">
                <th>{{expediente.codigohistorial}} </th>
                <td>{{expediente.dni}} </td>
                <td>{{expediente.nombre}} {{expediente.primer_apellido}} {{expediente.segundoapellido}} </td>
                <td>{{expediente.fechaapertura}}</td>
                <td>{{expediente.sexo}} </td>
                <td>{{expediente.fechanacimiento}} </td>
                <td>{{expediente.edad}} </td>
                <td>{{expediente.departamentonacimiento}} - {{expediente.provincianacimiento}} - {{expediente.distritonacimiento}}</td>
                <td>{{expediente.diagnostico}} </td>
                <td>
                        <button type="button" class="btn btn-outline-warning btn-sm" (click)="evaluar(expediente.codigohistorial)">Evaluar</button>
                    </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>