<h3 class="text-center">Aperturar Historial del año</h3>
<!-- <form> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="md-form">
                <input class="form-control form-control-sm" type="text" mdbActive id="codigohistorial" [(ngModel)]="expediente.codigohistorial" name="codigohistorial">
                <label class="col-form-label col-form-label-sm" for="codigohistorial">Codigo Historial <span>*</span> </label>
            </div>
            <div class="md-form">
                <input class="form-control form-control-sm" type="text" mdbActive id="nombre" [(ngModel)]="expediente.nombre" name="nombre">
                <label class="col-form-label col-form-label-sm" for="nombre">Nombre <span>*</span></label>
            </div>
            <div class="md-form">
                <input class="form-control form-control-sm" type="text" mdbActive id="primer_apellido" [(ngModel)]="expediente.primer_apellido" name="primer_apellido">
                <label class="col-form-label col-form-label-sm" for="primer_apellido">Primer Apellido <span>*</span> </label>
            </div>
            <div class="md-form">
                <input class="form-control form-control-sm" type="text" mdbActive id="segundoapellido" [(ngModel)]="expediente.segundoapellido" name="segundoapellido">
                <label class="col-form-label col-form-label-sm" for="segundoapellido">Segundo Apellido <span>*</span> </label>
            </div>

            <div>
                <table>
                    <thead>
                        <td>
                            <p>Diagnostico</p>
                        </td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let diagnostico of diagnosticos">
                            <td>
                                <div class="md-radio">
                                    <input id="{{diagnostico.id}}" type="radio" name="radiogroupdiagnostico" [value]="diagnostico.id" [checked]="diagnostico.tipo === diagnosticselect" (change)="onSelectionChangeDiagnostico(diagnostico)">
                                    <label for="{{diagnostico.id}}">{{diagnostico.tipo}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="md-form" *ngIf="verOtrodiagnostico">
                    <input type="text" mdbActive class="form-control" name="diagnostico" [(ngModel)]="expediente.diagnostico" id="diagnostico">
                    <label for="diagnostico" class="otro1">Otro</label>
                </div>
            </div>

            <div class="form-grup">
                <label for="">Foto</label>
                <input type="file" (change)="handleFileSelect($event)" accept="image/*">
            </div>
            <span *ngIf="expediente.foto">
            <div class="view zoom">
            <img class="animated bounce infinite" src="data:image/jpg;base64,{{expediente.foto}}" class="rounded mx-auto d-block" width="350px">
          </div>
          </span>

        </div>

        <div class="col-6">
            <div>
                <label for="fechaapertura">Fecha de Inscripción <span>*</span> </label>
                <input class="form-control form-control-sm" type="date" id="fechaapertura" [(ngModel)]="expediente.fechaapertura" name="fechaapertura">
            </div>
            <div>
                <table>
                    <thead>
                        <td>
                            <p>Sexo</p>
                        </td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sexo of sexos">
                            <td (dblclick)="deseleccionarradioSexo()">
                                <div class="md-radio">
                                    <input id="{{sexo.id}}" type="radio" name="radiogroupsexo" [checked]="sexo.tipo === sexoseleccionado" [value]="sexo.id" (change)="onSelectionChange(sexo)">
                                    <label for="{{sexo.id}}">{{sexo.tipo}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div>
                <label for="fechanacimiento">Fecha Nacimiento <span>*</span> </label>
                <input class="form-control form-control-sm" id="fechanacimiento" type="date" [(ngModel)]="expediente.fechanacimiento" name="fechanacimiento">
            </div>
            <br>
            <div class="md-form">
                <input class="form-control form-control-sm" type="number" mdbActive id="dni" [(ngModel)]="expediente.dni" name="dni">
                <label class="col-form-label col-form-label-sm" for="dni">DNI</label>
            </div>

            <div>
                <div>
                    <table>
                        <thead>
                            <td>
                                <p>Idioma</p>
                            </td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let idioma of idiomas">
                                <td>
                                    <div class="md-radio">
                                        <input id="{{idioma.id}}" type="radio" name="radiogroupIdioma" [value]="idioma.id" [checked]="idioma.descripcion === idiomaselect" (change)="onSelectionChangeIdiomaMadre(idioma)">
                                        <label for="{{idioma.id}}">{{idioma.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div *ngIf="verOtroRadioIdiomaMadre" class="md-form">
                    <input class="form-control form-control-sm" mdbActive id="idioma" [(ngModel)]="expediente.idioma" name="idioma" type="text">
                    <label class="otros1" for="idioma">Otro</label>
                </div>
            </div>
            <p>Edad</p>
            <div class="row">
                <div class="col-4">
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="edad" (click)="calcularedad()" type="number" mdbActive [(ngModel)]="expediente.edad" name="edad">
                        <label class="col-form-label col-form-label-sm" for="edad">Años </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="edadmeses" (click)="calcularedad()" type="number" [(ngModel)]="expediente.edadmeses" mdbActive name="edadmeses">
                        <label class="col-form-label col-form-label-sm" for="edadmeses">Meses </label>
                    </div>
                </div>
            </div>

            <div ng-controller="ExampleController">
                <div>
                    <label>Departamento</label>
                    <select class="mdb-select colorful-select dropdown-dark" #selectDepart (change)="setNewDepartamento(selectDepart.value) ">
          <option disabled="disabled">-Escoger departemento-</option>
          <option *ngFor="let ubigeoDepartamento of ubigeoDepartamentos" [value]="ubigeoDepartamento.id_depa">
            {{ubigeoDepartamento.nombre_departamento}}
          </option>
        </select>
                </div>
                <br>
                <div>
                    <label>Provincia</label>
                    <select class="mdb-select colorful-select dropdown-dark" *ngIf="verProvincia" #selectprovincia (change)="setNewProvincia(selectprovincia.value)">
          <option disabled="disabled" value="">-Escoger Provincia-</option>
          <option *ngFor="let pprovincia of ubigeoProvincias" [value]="pprovincia.id_prov">
            {{pprovincia.nombre_provincia}}
          </option>
        </select>
                </div>
                <br>
                <div>
                    <label>Distrito</label>
                    <select class="mdb-select colorful-select dropdown-dark" *ngIf="verDistrito" #selectDistrito (change)="setNewDistrito(selectDistrito.value)">
          <option disabled="disabled" value="">-Escoger Distrito-</option>
          <option *ngFor="let disstrito of ubigeoDistritos" [value]="disstrito.nombre_distrito">
            {{disstrito.nombre_distrito}}
          </option>
        </select>
                </div>
            </div>
            <br>
            <div class="md-form">
                <input class="form-control form-control-sm" type="text" [(ngModel)]="expediente.lugarnacimiento" id="lugarnacimiento" mdbActive name="lugarnacimiento">
                <label class="col-form-label col-form-label-sm" for="lugarnacimiento">Lugar de Nacimiento </label>
            </div>
        </div>
        <br>
    </div>
    <div class="row" *ngIf="verAtender">
        <div class="col-2">
            <button type="submit" (click)="saveOrUpdate()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
        </div>
        <div class="col-2">
            <button type="submit" (click)="cancelar()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
        </div>
    </div>
</div>
<!-- </form> -->