<div class="container-fluid">
    <h3 class="text-center">Ficha de Preinscripción</h3>
    <div class="row">
        <div class="col-3">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" class="form-control form-control-sm">
                <label for="term">Buscar</label>
            </div>
        </div>
        <div class="col-4 offset-5">
            <select class="mdb-select colorful-select dropdown-dark" #activo (change)="SelecActivos(activo.value) ">
        <option *ngFor="let item of activos" [value]="item.tipo">
          {{item.tipo}}
        </option>
      </select>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="preinscription">
            <table class="table table-sm table-responsive-md table-fixed" id="tablapreinscription">
                <thead>
                    <tr class="table-dark">
                        <th>Paciente</th>
                        <th>Condición</th>
                        <th>Edad</th>
                        <th>Nacimiento</th>
                        <th>Diagnostico</th>
                        <th>Inscripción</th>
                        <th>Madre</th>
                        <th>Padre</th>
                        <th>Ocupacion</th>
                        <th>Celular</th>
                        <th>Llamada 1</th>
                        <th>Llamada 2</th>
                        <th>Llamada 3</th>
                        <th class="none" *ngIf="verAtender">Botones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="editPreinscripcion(preinscripcion)" *ngFor="let preinscripcion of preinscripciones |filter:term | paginate: { itemsPerPage: 20, currentPage: p }">
                        <td>{{preinscripcion.nombre_paciente}}</td>
                        <td>{{preinscripcion.condicionpaciente}}</td>
                        <td>{{preinscripcion.edadpaciente}}</td>
                        <td>{{preinscripcion.fechanacimiento}}</td>
                        <td>{{preinscripcion.diagnosticopaciente}}</td>
                        <td>{{preinscripcion.fechainscripcionpaciente}} </td>
                        <td>{{preinscripcion.nombrepadre}} </td>
                        <td>{{preinscripcion.nombremadre}}</td>
                        <td>{{preinscripcion.ocupacion}} </td>
                        <td>{{preinscripcion.celular1}}/{{preinscripcion.celular2}}</td>
                        <td>{{preinscripcion.llamada1}}</td>
                        <td>{{preinscripcion.llamada2}}</td>
                        <td>{{preinscripcion.llamada3}}</td>
                        <td class="right none" *ngIf="verAtender">
                            <div (click)="deletePreinscripcion(preinscripcion)">
                                <i class="far fa-trash-alt fa-lg"></i>
                            </div>
                            <div (click)="insertarpreinscripcion(preinscripcion)">
                                <i data-target="#darbajas" data-toggle="modal" class="far far fa-hdd fa-lg"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <div class="row">
        <div *ngIf="verAtender" class="col-3">
            <button type="button" [routerLink]="['CrearFichadeinscripcion']" class="btn btn-outline-primary">Inscripción
        Nueva</button>
        </div>
        <div class="col-1 offset-6">

            <button (click)="exportTableToExcel('tablapreinscription','PREINSCRIPCION')">Excel File</button>
        </div>
        <div class="col-1">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>

    <!-- inicio del ventana modal -->
    <div class="modal fade" id="darbajas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Actualizar Inscripción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div *ngIf="verbada">
                            <p>¿Desea dar de baja inscripción?</p>
                        </div>
                        <div *ngIf="!verbada">
                            <p>¿Desea activar inscripción?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="verbada" type="submit" class="btn btn-pink" data-dismiss="modal" (click)=saveOrUpdate(false)>Si</button>
                    <button *ngIf="!verbada" type="submit" class="btn btn-pink" data-dismiss="modal" (click)=saveOrUpdate(true)>Si</button>
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin del modal -->
</div>