<div class="container-fluid">
    <h2 class="text-center"> Ficha de Incripción</h2>
    <div class="row">
        <div class="col-4">
            <h3 class="text-center">Datos del Paciente</h3>
            <!--  Nombre-->
            <div class="md-form">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="preinscripcion.nombre_paciente" mdbActive name="nombre_paciente">
                <label for="nombre_paciente">Nombre y Apellidos</label>
            </div>
            <!--  Condicion-->
            <table>
                <thead>
                    <td>Condicion</td>
                </thead>
                <tbody>
                    <tr *ngFor="let condicion of condiciones">
                        <td>
                            <div class="md-radio">
                                <input id="{{condicion.id}}" type="radio" name="radiogroupcondicion" [value]="condicion.id" [checked]="condicion.condicionpaciente === selectcondicion" (change)="onSelectionChange(condicion)">
                                <label for="{{condicion.id}}">{{condicion.condicionpaciente}}</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <!--  edad-->
            <div class="md-form">
                <input type="number" mdbActive class="form-control form-control-sm" [(ngModel)]="preinscripcion.edadpaciente" name="edadpaciente">
                <label for="nombre_paciente">Edad</label>
            </div>
            <!--  fecha de nacimiento-->
            <div>
                <label>Fecha de nacimiento: </label>
                <input type="date" name="fecha" [(ngModel)]="preinscripcion.fechanacimiento" name="fechanacimiento" mdbActive>
            </div>

            <br>

            <div>
                <table>
                    <thead>
                        <td>Diagnostico</td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let diagnostico of diagnosticos">
                            <td>
                                <div class="md-radio">
                                    <input id="{{diagnostico.id}}" type="radio" name="radiogroupdiagnostico" [value]="diagnostico.id" [checked]="diagnostico.tipo === diagnosticselect" (change)="onSelectionChangeDiagnostico(diagnostico)">
                                    <label for="{{diagnostico.id}}">{{diagnostico.tipo}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div class="md-form" *ngIf="verOtrodiagnostico">
                    <input type="text" mdbActive class="form-control" name="diagnosticopaciente" [(ngModel)]="preinscripcion.diagnosticopaciente" id="diagnosticopaciente">
                    <label for="diagnosticopaciente">Otro</label>
                </div>
            </div>

            <div>
                <label> fecha de Incripción: </label>
                <input type="date" name="fecha" [(ngModel)]="preinscripcion.fechainscripcionpaciente" name="fechainscripcionpaciente" mdbActive>
            </div>
        </div>
        <!--  separcion -->
        <div class="col-4">
            <p>Datos del Madre</p>
            <!--  Nombre-->
            <div class="md-form">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="preinscripcion.nombremadre" name="nombremadre">
                <label for="nombremadre">Nombre y Apellidos</label>
            </div>
            <p>Datos del Padre</p>
            <!--  Nombre-->
            <div class="md-form">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="preinscripcion.nombrepadre" name="nombrepadre">
                <label for="nombrepadre">Nombre y Apellidos</label>
            </div>
            <div class="md-form">
                <input type="number" mdbActive min="111111111" max="999999999" maxlength="9" size="9" [(ngModel)]="preinscripcion.celular1" name="celular1">
                <label for="celular1">
          <i class="fas fa-phone-square fa-lg"></i>Telefono 1</label>
            </div>

            <div class="md-form">
                <input type="number" mdbActive min="111111111" max="999999999" maxlength="9" size="9" [(ngModel)]="preinscripcion.celular2" name="celular2">
                <label for="celular2">
          <i class="fas fa-phone-square fa-lg"></i> Telefono 2</label>
            </div>
        </div>

        <div class="col-4">
            <!--  Ocupacion-->
            <div class="md-form">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="preinscripcion.ocupacion" name="ocupacion">
                <label for="ocupacion">Ocupacion Padre / Madre</label>
                <br>
            </div>
            <!-- telefonos -->
            <br>
            <!--  llamada 1-->
            <div class="">
                <label for="llamada1">Llamada Nº1</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="preinscripcion.llamada1" name="llamada1">
            </div>
            <br>
            <!--  llamada 2-->
            <div class="">
                <label for="llamada2">Llamada Nº2</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="preinscripcion.llamada2" name="llamada2">
            </div>
            <br>
            <!--  llamada 3-->
            <div class="">
                <label for="llamada3">Llamada Nº3</label>
                <input type="date" class="form-control form-control-sm" [(ngModel)]="preinscripcion.llamada3" name="llamada3">
            </div>

        </div>
    </div>
    <div *ngIf="verAtender">
        <button type="submit" (click)="saveOrUpdate()" class="btn btn-pink">Aceptar</button>
        <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancel</button>
    </div>
</div>