<h3 class="text-center">Pacientes Admitidos Social</h3>
<div class="container-fluit animated fadeIn">
    <div class="row">
        <div class="col-4 offset-1">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" name="buscar2" id="buscar2" class="form-control form-control-sm">
                <label for="buscar2">Buscar</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body" id="idlistaaptos">
                    <!--Table-->
                    <table class="table table-hover table-responsive-md table-fixed" id="tablalistaaptos">
                        <thead>
                            <tr class="table-dark">
                                <th>Codigo</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                                <th>Idioma</th>
                                <th>F. Apertura</th>
                                <th>F. Nacimiento</th>
                                <th>Lugar de nacimiento</th>
                                <th *ngIf="verAtendersocial" id="none">Botones</th>
                                <th *ngIf="verAtender" id="none">Botones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes |filter:term | paginate: { itemsPerPage: 20, currentPage: p }">
                                <td>{{paciente.codigohistorial}}</td>
                                <td>{{paciente.dni}}</td>
                                <td>{{paciente.nombre}} {{paciente.primer_apellido}} {{paciente.segundoapellido}}</td>
                                <td>{{paciente.edad}}</td>
                                <td>{{paciente.sexo}}</td>
                                <td>{{paciente.idioma}}</td>
                                <td>{{paciente.fechaapertura}}</td>
                                <td>{{paciente.fechanacimiento}}</td>
                                <td>{{paciente.departamentonacimiento}}-{{paciente.provincianacimiento}}-{{paciente.distritonacimiento}}</td>
                                <td *ngIf="verAtendersocial" id="none">
                                    <div [routerLink]="[paciente.codigohistorial, 'aceptarpaciente']">
                                        <i class="fas fa-pencil-alt fa-lg"></i>
                                    </div>
                                </td>
                                <td *ngIf="verAtender" id="none">
                                    <button type="button" class="btn btn-outline-warning btn-sm" [routerLink]="['Fichadeinscripcion/CrearFichadeinscripcion', paciente.codigohistorial, 'evaluacionFisica']">Terapia</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-9">
            <button (click)="exportTableToExcel('tablalistaaptos','LISTA DE APTOS')">Excel File</button>
        </div>
        <div class="col-1">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>