<div>
    <div class="container-fluid">
        <h3 class="text-center"> X. VISITAS DOMICILIARIAS</h3>
        <br>
        <div class="row">
            <div class="col-12">
                <h4 class="text center">Visita domiciliaria</h4>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr class="table-dark">
                            <th>Motivo</th>
                            <th>Entrevistado</th>
                            <th>Fecha visita</th>
                            <th>Personal</th>
                            <th>Area</th>
                            <th>Conclusiones</th>
                            <th>Botones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let visitasDomicilliaria of visitasDomicilliarias">
                            <td scope="col">{{visitasDomicilliaria.motivovisita}}</td>
                            <td scope="col">{{visitasDomicilliaria.entrevistado}}</td>
                            <td scope="col">{{visitasDomicilliaria.fechavisita}}</td>
                            <td scope="col">{{visitasDomicilliaria.personalvisitador}}</td>
                            <td scope="col">{{visitasDomicilliaria.areavisitador}}</td>
                            <td scope="col">{{visitasDomicilliaria.conclusionesvisita}}</td>
                            <td>
                                <i class="fas fa-edit fa-lg" (click)="onEditarVisica(visitasDomicilliaria)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button class="btn btn-info" (click)="CrearVisitas()">Crear Visitas</button>
            </div>
        </div>

        <div *ngIf="verCrearVisita" class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <label for="fechavisita">Fecha</label>
                        <input class="form-control form-control-sm" [(ngModel)]="visitasDom.fechavisita" name="fechavisita" type="date">
                    </div>
                </div>
                <div class="col-6">
                    <br>
                    <br>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="entrevistado" [(ngModel)]="visitasDom.entrevistado" name="entrevistado" type="text" mdbActive>
                        <label for="entrevistado">Entrevistado</label>
                    </div>
                </div>
                <br>
                <div class="col-12">
                    <div class="md-form">
                        <textarea rows="4" cols="50" id="motivovisita" [(ngModel)]="visitasDom.motivovisita" name="motivovisita" class="md-textarea" mdbActive></textarea>
                        <label for="motivovisita">Motivo</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        <textarea rows="4" cols="50" id="conclusionesvisita" [(ngModel)]="visitasDom.conclusionesvisita" name="conclusionesvisita" class="md-textarea" mdbActive></textarea>
                        <label for="conclusionesvisita">Conclusión</label>
                    </div>
                </div>
                <div>
                    <div class="offset-2 col-10">
                        <button type="submit" (click)="saveOrUpdateVisita()" class="btn btn-pink">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>