<h3 class="text-center">Control de Asistencia</h3>
<tabs>
    <tab tabTitle="Mensaje">
        <h4 class="text-center">Inasistencias</h4>
        <div>
            <br>
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-responsive-md table-fixed text-center">
                        <thead>
                            <tr class="table-dark">
                                <th>Inasistencias</th>
                                <th>Fecha</th>
                                <th>Personal</th>
                                <th>Area</th>
                                <th>Justificar</th>
                            </tr>
                        </thead>
                        <tbody class="table-bordered">
                            <tr *ngFor="let item of listados">
                                <th>{{item.nombrepaciente}}</th>
                                <td>{{item.finasistencia}}</td>
                                <td>{{item.personal.nombrepersonal}}</td>
                                <td>{{item.personal.idarea.descripcionarea}}</td>
                                <td (click)="devuelto(item)"><i class="fas fa-edit fa-2x"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </tab>
    <tab tabTitle="Lista general">
            <h4 class="text-center">Asistencias General</h4>
        <div class="row">
            <div class="col-4 ">
                <label for="term">Buscar</label>
                <input type="text" [(ngModel)]="term" class="form-control form-control-sm">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-responsive-md table-fixed text-center">
                    <thead>
                        <tr class="table-dark">
                            <th>Paciente</th>
                            <th>Día</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Personal</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        <tr *ngFor="let item of listadosgenerales |filter:term" [ngClass]="item.dia+'-bg'">
                            <th>{{item.paciente}}</th>
                            <td>{{item.dia}}</td>
                            <td>{{item.fecha}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.personal.nombrepersonal}}</td>
                            <td>{{item.personal.idarea.descripcionarea}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tab>
</tabs>