strong {
    text-decoration: crimson;
    text-transform: uppercase;
}

tbody {
    tr {
        th {
            // color: coral;
            font-weight: 700;
            width: 25px;
        }
        td {
            width: 25px;
            font-weight: 700;
        }
    }
}

#add-contact-button {
    top: 90%;
    left: 0%;
    font-size: 20px;
    // position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    // z-index: 99;
}

.lunes-bg {
    font-weight: 700;
    color: #CC0000;
}

.martes-bg {
    font-weight: 700;
    color: #FF8800;
}

.miercoles-bg {
    font-weight: 700;
    color: #007E33;
}

.jueves-bg {
    font-weight: 700;
    color: #0099CC;
}

.viernes-bg {
    font-weight: 700;
    color: #0d47a1;
}