<div class="col-6">
    <div>
        <label>Persona</label>
        <select class="mdb-select colorful-select dropdown-dark" #selectimprimir (change)="selectordenar(selectimprimir.value) ">
      <option [value]="'todos'">Todos</option>
      <option *ngFor="let persona of personas" [value]="persona.descripcion">
        {{persona.descripcion}}
      </option>
    </select>
    </div>
</div>



<div class="card">
    <div class="card-body">
        <!--Table-->
        <table class="table table-hover table-responsive-md table-fixed">
            <thead class="table-dark">
                <tr>
                    <th>Familiar</th>
                    <th>Fecha</th>
                    <th>Trabajo</th>
                    <th>Progreso</th>
                    <th>Activida</th>
                    <th *ngIf="verAtender">botones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evalua of evaluacionesfintadas">
                    <th>{{evalua.tipo_familia}}</th>
                    <td>{{evalua.fevaluacion}}</td>
                    <td>{{evalua.trab_psico}}</td>
                    <td>{{evalua.progreso}}</td>
                    <td>{{evalua.actrealizada}}</td>
                    <td *ngIf="verAtender"><i data-target="#atenderspico" data-toggle="modal" class="fas fa-edit" (click)="editarEvaluation(evalua)"></i></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="verAtender">
            <!-- https://bootsnipp.com/snippets/featured/circle-button -->
            <button id="add-contact-button" data-target="#atenderspico" data-toggle="modal" type="button" class="btn btn-info btn-circle btn-xl"><i
          style="color:white; font-size: 20px;" class="fas fa-user-plus"></i></button>
        </div>
    </div>
</div>



<!-- inicio del ventana modal -->
<div class="modal fade" id="atenderspico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trabajo</h5>
                <button type="button" (click)="canceleval()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="" ngNativeValidate>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label>Persona</label>
                                <select class="mdb-select colorful-select dropdown-dark" #selectpersona (change)="setNewPersona(selectpersona.value) ">
                  <option disabled="disabled">-Escoger Persona-</option>
                  <option *ngFor="let persona of personas" [value]="persona.descripcion">
                    {{persona.descripcion}}
                  </option>
                </select>
                            </div>

                            <div>
                                <label for="fecha">Fecha</label>
                                <input type="date" name="fevaluacion" id="fecha" [(ngModel)]=evaluacion.fevaluacion>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label>Proceso</label>
                                <select class="mdb-select colorful-select dropdown-dark" #selectprogreso (change)="setNewprogresos(selectprogreso.value) ">
                  <option disabled="disabled">-Avance-</option>
                  <option *ngFor="let persona of progresos" [value]="persona.descripcion">
                    {{persona.descripcion}}
                  </option>
                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <br>
                            <div class="md-form">
                                <label for="trabajo">Trabajo</label>
                                <textarea rows="4" cols="50" name="trab_psico" id="trabajo" [(ngModel)]=evaluacion.trab_psico required class="md-textarea" mdbActive></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <label for="actividad">Actividad</label>
                                <textarea rows="4" cols="50" name="actrealizada" [(ngModel)]=evaluacion.actrealizada id="actividad" class="md-textarea" mdbActive></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" *ngIf="verAtender">
                <button type="button" (click)="canceleval()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="saveOrUpdateEvaluacionPsicologica()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del modal -->