<h3 class="text-center">Pacientes admitidos en rehabilitación</h3>
<div class="container-fluit animated fadeIn">
    <div class="row">
        <div class="col-4">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" id="buscar5" name="buscar5" class="form-control form-control-sm">
                <label for="buscar5">Buscar</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" id="tab">
                    <!--Table-->
                    <table class="table table-hover table-responsive-md table-fixed">
                        <thead>
                            <tr class="table-dark">
                                <th>Historial</th>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                                <th class="none">Atender</th>
                                <th class="none">Referenciar</th>
                                <th class="none">Materiales</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of listapacientes |filter:term">
                                <th>{{paciente.codigohistorial}}</th>
                                <td>{{paciente.nombre}} {{paciente.primer_apellido}} {{paciente.segundoapellido}}</td>
                                <td>{{paciente.edad}}</td>
                                <td>{{paciente.sexo}}</td>
                                <td class="none">
                                    <div [routerLink]="['HorarioRehabilitacion', paciente.codigohistorial, 'evaluacionFisica']">
                                        <i class="fas fa-address-card fa-2x"></i>
                                    </div>
                                </td>
                                <td class="none">
                                    <div [routerLink]="[paciente.codigohistorial, 'referenciar']">
                                        <i class="fas fa-code-branch fa-2x"></i>
                                    </div>
                                </td>
                                <td class="none" (click)="capturaPaciente(paciente)">                                    
                                    <i data-target="#materiales" data-toggle="modal" class="fab fa-accessible-icon fa-lg"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-10">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>
<!-- inicio del ventana modal -->
<div class="modal fade" id="materiales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Materiales</h5>
                <button type="button" (click)="cancelPrestamo()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <p>Tipo Operación</p>
                        <div>
                            <table>
                                <thead>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngFor="let venta of ventas">
                                            <div class="md-radio">
                                                <input type="radio" id="{{venta.tipo}}" name="radiogroupventa" [checked]="venta.tipo === 0" [value]="venta.tipo" (change)="onSelectionChangediagnosticoprevio(venta)">
                                                <label for="{{venta.tipo}}">{{venta.tipo}}</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p>Fecha inicio</p>
                        <input type="date" class="form-control" [(ngModel)]="prestamo.finiciooperacion" name="otrosdiagn">
                        <div *ngIf="verfin">
                            <p>Fecha fin</p>
                            <input type="date" class="form-control" [(ngModel)]="prestamo.ffinprestamo" name="ffinprestamo">
                        </div>

                        <div class="md-form">
                            <input type="text" id="condicionprestamo" mdbActive class="form-control" [(ngModel)]="prestamo.condicionprestamo" name="condicionprestamo">
                            <label for="condicionprestamo">Condición</label>
                        </div>
                        <div class="md-form">
                            <input type="number" id="monto" mdbActive class="form-control" [(ngModel)]="prestamo.monto" name="monto">
                            <label for="monto">Monto</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="codigoboleta" mdbActive class="form-control" [(ngModel)]="prestamo.codigoboleta" name="codigoboleta">
                            <label for="codigoboleta">Codigo</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">

                        <div *ngIf="verTabla">
                            <label for="">Buscar</label>
                            <input type="text" [(ngModel)]="termo" class="form-control form-control-sm">

                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-hover table-responsive-md table-fixed">
                                        <thead>
                                            <tr class="table-dark">
                                                <th>Nombre</th>
                                                <th>Cantidad</th>
                                                <th>Modalidad</th>
                                                <th>Costo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let material of materiales |filter:termo | paginate: { itemsPerPage: 5, currentPage: m }">
                                                <td (click)="materialSelect(material)">{{material.nombre}}</td>
                                                <td (click)="materialSelect(material)">{{material.cantidad}}</td>
                                                <td (click)="materialSelect(material)">{{material.modalidad}}</td>
                                                <td (click)="materialSelect(material)">{{material.costo}}.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="m = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!verTabla">
                            <h4>Material seleccionado</h4>
                            <p>Nombre: <i style="color: blue;">{{material.nombre}}</i> </p>
                            <p>Modalidad: <i style="color: blue;">{{material.modalidad}}</i> </p>
                            <p>Costo: <i style="color: blue;">S/.{{material.costo}} </i> </p>
                            <p>Cantidad: <i style="color: blue;">{{material.cantidad}} Und. en Stock</i> </p>
                            <button class="btn btn-info" (click)="regresasTabla()">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="verAtender">
                <button type="button" (click)="cancelPrestamo()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="saveOrUpdatePrestamo()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del modal -->