<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <h3 class="text-center">Evaluacion Final</h3>
        </div>
        <div class="col-3">
            <div>
                <select class="mdb-select colorful-select dropdown-dark" #selecaniofinal (change)="setNewbiometriaanios(selecaniofinal.value) ">
          <option disabled="disabled">-Escoger año-</option>
          <option *ngFor="let anio of aniosretornos" [value]="anio">
            {{anio | slice:0:4}}
          </option>
        </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="rectang color">
                <p class="text-center">Nivel de estructura y función</p>
            </div>

            <div class="rectang">
                <p class="text-center">Evaluacion Fisica</p>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectang color">
                <p class="text-center">Nivel de actividades</p>
            </div>
            <div class=" rectang">
                <p class="text-center">AIMS, GMFM,</p>
                <p class="text-center">GMFCS, MACS,</p>
                <p class="text-center">observaciones</p>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectang color">
                <p class="text-center">Nivel de participación</p>
            </div>
            <div class="rectang">
                <p class="text-center">Anamnesis</p>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectang color">
                <p class="text-center">Pactores personales y exteriores</p>
            </div>
            <div class="rectang">
                <p class="text-center">Anamnesis,</p>
                <p class="text-center">observaciones</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-md-2 cuadro">
            <p class="text-center">Problemas identidificados por terapeuta</p>
        </div>
        <div class="col-3 offset-md-3 cuadro">
            <p class="text-center">Problemas identidificados por paciente</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-md-2">
            <i class="fas fa-arrow-down fa-lg"></i>
        </div>
        <div class="col-1">
            <i class="fas fa-arrow-down fa-lg"></i>
        </div>
        <div class="col-1 offset-md-3">
            <i class="fas fa-arrow-down fa-lg"></i>
        </div>
        <div class="col-1 offset-md-1">
            <i class="fas fa-arrow-down fa-lg"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="rectangulo">
                <div class="interno">
                    <h4 class="text-center">Problemas</h4>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probterapbiom" name="probterapbiom" id="probterapbiom">
                        <label for="probterapbiom">Biometria</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probterapmovili" name="probterapmovili" id="probterapmovili">
                        <label for="probterapmovili">Movilidad</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probterapfuerza" name="probterapfuerza" id="probterapfuerza">
                        <label for="probterapfuerza">Fuerza</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probterapespecif" name="probterapespecif" id="probterapespecif">
                        <label for="probterapespecif">Especifica</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectangulo">
                <div class="interno">
                    <h4 class="text-center">Problemas</h4>
                    <br>
                    <textarea name="problemasGeneral" cols="30" rows="20" class="md-textarea" [(ngModel)]="diagnofinal.probterapfinal">
        </textarea>
                </div>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectangulo">
                <div class="interno">
                    <h4 class="text-center">Problemas</h4>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probpacientcasa" name="probpacientcasa" id="probpacientcasa">
                        <label for="probpacientcasa">En Casa</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probpacienteduc" name="probpacienteduc" id="probpacienteduc">
                        <label for="probpacienteduc">Educación</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.probpacientsocied" name="probpacientsocied" id="probpacientsocied">
                        <label for="probpacientsocied">Sociedad</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 offset-md-1">
            <div class="rectangulo">
                <div class="interno">
                    <h4 class="text-center">Factores positivos y negativos</h4>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.factpersonales" name="factpersonales" id="factpersonales">
                        <label for="factpersonales">personales</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="diagnofinal.factexteriores" name="factexteriores" id="factexteriores">
                        <label for="factexteriores">exteriores</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="col-12">
        <div class="md-form">
            <textarea name="probprincipal" cols="30" rows="20" class="md-textarea" [(ngModel)]="diagnofinal.probprincipal" mdbActive id="probprincipal">
    </textarea>
            <label for="probprincipal">Problema Principal</label>
        </div>
    </div>
    <div class="offset-1 col-8" *ngIf="verAtender">
        <button type="submit" *ngIf="VerGuardar" (click)="saveOrUpdateDiagnosticoFinal()" class="btn btn-pink waves-light" mdbRippleRadius>Guardar</button>
        <button type="submit" *ngIf="Actualizar" (click)="saveOrUpdateDiagnosticoFinal()" class="btn btn-pink waves-light" mdbRippleRadius>Actualizar</button>
        <button type="submit" *ngIf="VerGuardarplan" (click)="cancelareventoDiagnostico()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
    </div>

    <div class="container-fluid" *ngIf="verPlanTrabajo">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-hover table-responsive table-fixed">
                            <thead class="cyan lighten-3">
                                <tr class="table-dark">
                                    <th>Problemas derivados</th>
                                    <th>Objetivo</th>
                                    <th>Plan de trabajo</th>
                                    <th>Seguimiento</th>
                                    <th>Botones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let plan of planestrabajo">
                                    <td class="plancelda">{{plan.probderivados}}</td>
                                    <td class="plancelda">{{plan.objetivo}}</td>
                                    <td class="plancelda">{{plan.plandetrabajo}}</td>
                                    <td class="plancelda">{{plan.resulseg}}</td>
                                    <td class="editar"><i class="fas fa-edit fa-lg" (click)="editplan(plan)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="md-form">
                    <!-- <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="plantrabajo.probderivados" name="probderivados" id="probderivados"> -->
                    <textarea name="probderivados" cols="30" rows="20" class="md-textarea" [(ngModel)]="plantrabajo.probderivados" mdbActive id="probderivados">
        </textarea>

                    <label for="probderivados">Problema derivados</label>
                </div>
            </div>

            <div class="col-6">
                <div class="md-form">
                    <!-- <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="plantrabajo.objetivo" name="objetivo" id="objetivo"> -->
                    <textarea name="objetivo" cols="30" rows="20" class="md-textarea" [(ngModel)]="plantrabajo.objetivo" mdbActive id="objetivo">
        </textarea>
                    <label for="objetivo">Objetivo</label>
                </div>
            </div>
            <div class="col-6">
                <div class="md-form">
                    <!-- <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="plantrabajo.plandetrabajo" name="plandetrabajo"  id="plandetrabajo"> -->
                    <textarea name="plandetrabajo" cols="30" rows="20" class="md-textarea" [(ngModel)]="plantrabajo.plandetrabajo" mdbActive id="plandetrabajo">
        </textarea>
                    <label for="plandetrabajo">Plan de trabajo</label>
                </div>
            </div>
            <div class="col-6">
                <div class="md-form">
                    <!-- <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="plantrabajo.resulseg" name="resulseg" id="resulseg"> -->
                    <textarea name="resulseg" cols="30" rows="20" class="md-textarea" [(ngModel)]="plantrabajo.resulseg" mdbActive id="resulseg">
        </textarea>
                    <label for="resulseg">Seguimiento</label>
                </div>
            </div>
            <div class="offset-1 col-8" *ngIf="verAtender">
                <button type="submit" *ngIf="VerGuardarplan" (click)="saveOrUpdatePlanTrabajo()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
                <button type="submit" *ngIf="Actualizarplan" (click)="saveOrUpdatePlanTrabajo()" class="btn btn-pink" mdbRippleRadius>Actualizar</button>
                <button type="submit" (click)="cancelarevento()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
            </div>
        </div>
    </div>
</div>