div.cuadro {
  border: solid 2px crimson;
  border-radius: 2px;
  margin-top: -20px;
  margin-right: -30px;
  background: white;
}

.rectangulo {
  width: 330px;
  height: 400px;
  border: 3px solid #555;
  background: #d6e7f7;
}

textarea {
  margin-top: 10px;
}

.rectang {
  width: 250px;
  height: 120px;
  border: 3px solid rgb(34, 14, 1);
  margin: 10px;
  padding: 10px 5px 10px 5px;
}

p {
  position: relative;
}

.color {
  background: #acaeaf;
}

label {
  color: #004d40;
  font-size: 18px;
  font-weight: 500;
}

// @media screen and (max-width: 320px) {
//   table {
//     display: block;
//     overflow-x: auto;
//   }
// }

