<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Ficha Centro de Día</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Datos Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Código Historial: <strong style="color: black">{{expedientes.codigohistorial}} </strong></h4>
                        </div>
                        <div class="card-block">
                            <h5 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h5>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6" *ngIf="PadreExiste">
                    <p><i>{{padre.tipo_apoderado}}</i></p>
                    <p>Nombre: <i style="color:blue">{{padre.nombre_apoderado}} {{padre.apellido_apoderado}}</i></p>
                    <p>Condicion Laboral: <i style="color:blue">{{padre.condlaboral_apod}}</i></p>
                    <p>Fecha de Nacimiento: <i style="color:blue">{{padre.fnacimiento_apod}}</i></p>
                    <p *ngIf="padre.adiccion">Adiccion: <i style="color:blue">{{padre.adiccion}}</i></p>
                    <p>Ocupacion: <i style="color:blue">{{padre.ocupacion_apoderado}}</i></p>
                    <p *ngIf="padre.caracter">Carácter: <i style="color:blue">{{padre.caracter}}</i></p>
                </div>
                <div class="col-6">
                    <p><i>{{madre.tipo_apoderado}}</i></p>
                    <p>Nombre: <i style="color:blue">{{madre.nombre_apoderado}} {{madre.apellido_apoderado}}</i></p>
                    <p>Condicion Laboral: <i style="color:blue">{{madre.condlaboral_apod}}</i></p>
                    <p>Fecha de Nacimiento: <i style="color:blue">{{madre.fnacimiento_apod}}</i></p>
                    <p *ngIf="madre.adiccion">Adiccion: <i style="color:blue">{{madre.adiccion}}</i></p>
                    <p>Ocupacion: <i style="color:blue">{{madre.ocupacion_apoderado}}</i></p>
                    <p *ngIf="madre.caracter">Carácter: <i style="color:blue">{{madre.caracter}}</i></p>
                </div>
            </div>
        </tab>

        <tab tabTitle="Prehistoria">
            <h3 class="text-center">PREHISTORIA DEL NIÑO</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="asistioalbergue" [(ngModel)]="evalcentrodia.asistioalbergue" name="asistioalbergue" type="text" mdbActive>
                        <label for="asistioalbergue">¿El niño(a) asistió anteriormente a un albergue y/o Centro de Estimulación?</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="terapiaanterior" name="terapiaanterior" [(ngModel)]="evalcentrodia.terapiaanterior" type="text" mdbActive>
                        <label for="terapiaanterior">¿El niño(a) recibió anteriormente algún tipo de Terapia?</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="anterioroperacion" name="anterioroperacion" [(ngModel)]="evalcentrodia.anterioroperacion" type="text" mdbActive>
                        <label for="anterioroperacion">¿El niño(a) tuvo anteriormente alguna operación?</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="anteriorenfer" name="anteriorenfer" [(ngModel)]="evalcentrodia.anteriorenfer" type="text" mdbActive>
                        <label for="anteriorenfer">¿El niño(a) tuvo anteriormente alguna enfermedad?</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" id="medicanterior" name="medicanterior" [(ngModel)]="evalcentrodia.medicanterior" type="text" mdbActive>
                        <label for="medicanterior">¿El niño(a) tomó medicamentos anteriormente?</label>
                    </div>
                </div>

            </div>
            <h3 class="text-center">MOTIVO DE SOLICITUD DE INGRESO AL CENTRO DE DÍA</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="motivoingreso" [(ngModel)]="evalcentrodia.motivoingreso" id="motivoingreso" type="text" mdbActive>
                        <label for="motivoingreso">¿Por qué necesita Ud. que su hijo(a) ingrese al Albergue?</label>
                    </div>
                    <div class="md-form">
                        <textarea rows="2" cols="200" name="opinionalberque" class="md-textarea" [(ngModel)]="evalcentrodia.opinionalberque" id="opinionalberque" mdbActive>
            
          </textarea>
                        <label for="opinionalberque">¿Què opinión tiene Ud. sobre el Albergue?</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="confianzapersonal" [(ngModel)]="evalcentrodia.confianzapersonal" id="confianzapersonal" type="text" mdbActive>
                        <label for="confianzapersonal">¿Confías en el personal o el equipo de trabajo?</label>
                    </div>
                    <div class="md-form">
                        <textarea rows="2" cols="200" name="refertrabajo" [(ngModel)]="evalcentrodia.refertrabajo" id="refertrabajo" class="md-textarea" mdbActive>
              
            </textarea>
                        <label for="refertrabajo">¿Tiene alguna referencia sobre el trabjo que se realiza en el albergue?</label>
                    </div>
                </div>
            </div>
            <h3 class="text-center">Sobre la personalidad del niño</h3>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="caractermenor" [(ngModel)]="evalcentrodia.caractermenor" id="caractermenor" type="text" mdbActive>
                        <label for="caractermenor">¿Cómo es su caracter del menor?</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="gustajugar" [(ngModel)]="evalcentrodia.gustajugar" id="gustajugar" type="text" mdbActive>
                        <label for="gustajugar">¿Lé gusta jugar con otros niños?</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="juegpref" [(ngModel)]="evalcentrodia.juegpref" id="juegpref" type="text" mdbActive>
                        <label for="juegpref">¿Le gusta algún juego(s) en particular?</label>
                    </div>
                    <div class="md-form">
                        <input class="form-control form-control-sm" name="juegopreferido" [(ngModel)]="evalcentrodia.juegopreferido" id="juegopreferido" type="text" mdbActive>
                        <label for="juegopreferido">¿Qué le gusta jugar?</label>
                    </div>
                </div>
            </div>

            <!-- <h3 class="text-center">Otros</h3> -->
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="md-form">
                        <textarea rows="2" cols="200" name="otros" [(ngModel)]="evalcentrodia.otros" id="otros" class="md-textarea" mdbActive>
                    
                  </textarea>
                        <label for="otros">¿Otros?</label>
                    </div>
                </div>
            </div>

            <button type="submit" *ngIf="verAtender" (click)="saveOrUpdateCentrodia()" class="btn btn-pink btn-save">Guardar</button>

        </tab>
        <tab tabTitle="Evaluacion" *ngIf="verAlimentacion">
            <div class="container-fluid">
                <h3 class="text-center">Cuidado del menor</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="cuidterceros" [(ngModel)]="alimentacion.cuidterceros" name="cuidterceros" type="text" mdbActive>
                            <label for="cuidterceros">¿Alguna vez el niño(a) estuvo al cuidado de terceros dentro o fuera del hogar?</label>

                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="cuidadomenor" [(ngModel)]="alimentacion.cuidadomenor" name="cuidadomenor" type="text" mdbActive>
                            <label for="cuidadomenor">¿Quienes se ocupan del cuidado del menor con frecuencia?</label>

                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="dificcuidado" id="dificcuidado" [(ngModel)]="alimentacion.dificcuidado" class="md-textarea" mdbActive>
              </textarea>
                            <label for="dificcuidado">¿Cúales son las dificultades para cuidar al menor?</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="apoyofamilia" [(ngModel)]="alimentacion.apoyofamilia" name="apoyofamilia" type="text" mdbActive>
                            <label for="apoyofamilia">¿Cuenta con apoyo de algún miembro de la familia en el cuidado del niño(a)?</label>

                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="apegofamilia" [(ngModel)]="alimentacion.apegofamilia" name="apegofamilia" type="text" mdbActive>
                            <label for="apegofamilia">¿El menor siente mayor apego hacia algún miembro de la familia en especial?</label>

                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="maltratofam" id="maltratofam" [(ngModel)]="alimentacion.maltratofam" class="md-textarea" mdbActive>                
              </textarea>
                            <label for="maltratofam">¿Existe algún tipo de maltrato por parte de algún miembro de la familia hacia el niño(a)?</label>
                        </div>
                    </div>
                </div>
                <h3 class="text-center">La alimentacion del menor</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="frecalimen" [(ngModel)]="alimentacion.frecalimen" name="frecalimen" type="text" mdbActive>
                            <label for="frecalimen">¿Cuántas veces al día come (frecuencia)?</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="horaalimen" [(ngModel)]="alimentacion.horaalimen" name="horaalimen" type="text" mdbActive>
                            <label for="horaalimen">¿Hora de Alimentación?</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="consisalimen" id="consisalimen" [(ngModel)]="alimentacion.consisalimen" class="md-textarea" mdbActive>                
              </textarea>
                            <label for="consisalimen">¿Cómo es la consistencia (solida, liquida, semisólido)?</label>
                        </div>
                        <div class="md-form">
                            <label for="comobebe">¿Cómo bebe liquido?</label>
                            <input class="form-control form-control-sm" id="comobebe" [(ngModel)]="alimentacion.comobebe" name="comobebe" type="text" mdbActive>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="tipoalim" id="tipoalim" [(ngModel)]="alimentacion.tipoalim" class="md-textarea" mdbActive>                
              </textarea>
                            <label for="tipoalim">Tipos de alimentos que consume con frecuencua</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.cantalimen" name="cantalimen" type="text" mdbActive>
                            <label for="cantalimen">¿Qué cantidad come (tamaño del plato)?</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="alimnotolera" [(ngModel)]="alimentacion.alimnotolera" name="alimnotolera" type="text" mdbActive>
                            <label for="alimnotolera">¿Qué alimentos no tolera?</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" id="compAlimen" name="compAlimen" [(ngModel)]="alimentacion.compAlimen" class="md-textarea" mdbActive>
                
              </textarea>
                            <label for="compAlimen">¿Cómo es la composición (Balanceada) su alimento?</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="tiempolimenta" [(ngModel)]="alimentacion.tiempolimenta" name="tiempolimenta" type="text" mdbActive>
                            <label for="tiempolimenta">¿Cuánto tiempo se alimenta al niño(a)?</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="apoyoalimen" id="apoyoalimen" [(ngModel)]="alimentacion.apoyoalimen" class="md-textarea" mdbActive>
              </textarea>
                            <label for="apoyoalimen">¿Requiere apoyo para alimentarse?¿Quién se ocupa de hacerlo?</label>
                        </div>
                    </div>
                </div>
                <h3 class="text-center">La higuiene del menor</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <label for="vecesdeposic">¿Cuantas veces realiza sus deposiciones?¿necesita apoyo?</label>
                            <input class="form-control form-control-sm" id="vecesdeposic" [(ngModel)]="alimentacion.vecesdeposic" name="vecesdeposic" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" id="vecesaseobucal" [(ngModel)]="alimentacion.vecesaseobucal" name="vecesaseobucal" type="text" mdbActive>
                            <label for="vecesaseobucal">¿Cuantas veces al día realiza su higiene uro bucal?</label>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <label for="vecesaseo">¿Cuántas veces a la semana realiza su aseo corporal?</label>
                            <input class="form-control form-control-sm" id="vecesaseo" [(ngModel)]="alimentacion.vecesaseo" name="vecesaseo" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.otros" name="otros" type="text" mdbActive>
                            <label for="otros">Otros</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
          <div class="col-4 offset-md-6">
            <button type="submit" (click)="saveOrUpdateAlimentacion()" class="btn btn-pink btn-save">Guardar</button>
          </div>
        </div> -->

            </div>
        </tab>
        <tab tabTitle="Anamnesis" *ngIf="VerCargarDesarrollo">
            <h3 class="text-center">ANAMNESIS CLINICO</h3>
            <div class="container-fluid">
                <div class="row">
                    <!-- Embarazo -->
                    <div class="col-6">
                        <h4 class="text-center">1. Embarazo</h4>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.edad_embarazo" name="edad_embarazo" id="edad_embarazo" type="number" mdbActive>
                            <label for="edad_embarazo">Edad de la madre<span>*</span>: </label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.numero_hijos" name="numero_hijos" id="numero_hijos" type="number" mdbActive>
                            <label for="numero_hijos">Cuántos hijos</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.num_emb_abortos" name="num_emb_abortos" id="num_emb_abortos" type="number" mdbActive>
                            <label for="num_emb_abortos">Cuántos Embarazos/abortos</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.control_medico" name="control_medico" id="control_medico" type="text" mdbActive>
                            <label for="control_medico">Controles Médicos</label>
                        </div>
                        <!-- complicaciones de embarazo -->
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.compli_embarazo" name="compli_embarazo" id="compli_embarazo" type="text" mdbActive>
                            <label for="compli_embarazo">complicaciones</label>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-md-2">
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.infeccion" name="infeccion" id="infeccion" type="text" mdbActive>
                                    <label for="infeccion">Infección urinaria</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.perdidosangre" name="perdidosangre" id="perdidosangre" type="text" mdbActive>
                                    <label for="perdidosangre">Perdida de Sangre</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.trauma" name="trauma" id="trauma" type="text" mdbActive>
                                    <label for="trauma">Trauma</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.crecimientofeto" name="crecimientofeto" id="crecimientofeto" type="text" mdbActive>
                                    <label for="crecimientofeto">Crecimiento de feto</label>
                                </div>

                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.otrocompli" name="otrocompli" id="otrocompli" type="text" mdbActive>
                                    <label for="otrocompli">Otros</label>
                                </div>
                            </div>

                        </div>

                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.usa_medicamento" name="usa_medicamento" id="usa_medicamento" type="text" mdbActive>
                            <label for="usa_medicamento">Usa medicamentos, alcohol, drogas</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.otrainformacion" name="otrainformacion" id="otrainformacion" type="text" mdbActive>
                            <label for="otrainformacion">Otra Información</label>
                        </div>
                    </div>

                    <div class="col-6">
                        <h4 class="text-center">2. Parto</h4>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.lugar_parto" name="lugar_parto" id="lugar_parto" type="text" mdbActive>
                            <label for="lugar_parto">Lugar de parto</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.num_meses_parto" name="num_meses_parto" id="num_meses_parto" type="number" mdbActive>
                            <label for="num_meses_parto">Cuantos Meses</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.progreso_parto" name="progreso_parto" id="progreso_parto" type="text" mdbActive>
                            <label for="progreso_parto">Progreso de Parto</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.talla" name="talla" id="talla" type="number" mdbActive>
                            <label for="talla">Talla al nacer</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.peso" name="peso" id="peso" type="number" mdbActive>
                            <label for="peso">Peso al nacer </label>
                        </div>
                        <!-- complicaciones de embarazo -->
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="anamnecis.apgar" name="apgar" id="apgar" type="text" mdbActive>
                            <label for="apgar">APGAR</label>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-md-2">
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.color" name="color" id="color" type="text" mdbActive>
                                    <label for="color">Color</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.llora" name="llora" id="llora" type="text" mdbActive>
                                    <label for="llora">Llora</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.movimiento" name="movimiento" id="movimiento" type="text" mdbActive>
                                    <label for="movimiento">movimiento</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.latido_corazon" name="latido_corazon" id="latido_corazon" type="text" mdbActive>
                                    <label for="latido_corazon">Latido del corazón</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control form-control-sm" [(ngModel)]="anamnecis.respiracion" name="respiracion" id="respiracion" type="text" mdbActive>
                                    <label for="respiracion">Respiración</label>
                                </div>
                            </div>
                        </div>
                        <div class="md-form">
                            <!-- <h4 class="text-center">3. Progreso hasta ahora</h4> -->
                            <div class="md-form">
                                <textarea name="progreso" id="progreso" cols="100" rows="3" [(ngModel)]="anamnecis.progreso" class="md-textarea" mdbActive>

                </textarea>
                                <label for="progreso">3. Progreso hasta ahora</label>
                            </div>
                            <!-- <h4 class="text-center">4. Evaluaciones Médicas</h4> -->
                            <div class="md-form">
                                <textarea name="eval_medicas" id="eval_medicas" cols="100" rows="3" [(ngModel)]="anamnecis.eval_medicas" class="md-textarea" mdbActive>

                </textarea>
                                <label for="eval_medicas">4. Evaluaciones Médicas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabs>
</div>