<div class="container-fluit animated fadeIn">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>LISTA DE MEDICAMENTOS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-1">
            <label for="term">Buscar</label>
            <input type="text" [(ngModel)]="term" class="form-control form-control-sm">
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="idlistamedicamentos">
            <!--Table-->
            <table class="table table-hover table-responsive-md table-fixed" id="tablamedicamentos">
                <thead>
                    <tr class="table-dark">
                        <th>Codigo</th>
                        <th>Medicamento</th>
                        <th>Caracteristica</th>
                        <th>Costo Venta</th>
                        <th>Cantidad</th>
                        <th>Fecha Caducidad</th>
                        <th>Comprado</th>
                        <th>Tipo Medicamento</th>
                        <th>Salida</th>
                        <th class="none">Botones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="editMedicamento(medicamento)" *ngFor="let medicamento of medicamentos |filter:term | paginate: { itemsPerPage: 30, currentPage: p }">
                        <td>{{medicamento.codigo}}</td>
                        <td>{{medicamento.nombremedic}}</td>
                        <td>{{medicamento.caracteristica}}</td>
                        <td>{{medicamento.costoventa}}.00</td>
                        <td>{{medicamento.stock}}</td>
                        <td>{{medicamento.fecha_caducidad}}</td>
                        <td>{{medicamento.comprado}}</td>
                        <td>{{medicamento.tipo_medicamento}}</td>
                        <td>{{medicamento.salida}}</td>
                        <td class="none" (click)="deleteMedicamento(medicamento)">
                            <i class="far fa-trash-alt fa-lg"></i>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="button" (click)="CrearMedicamento()" class="btn btn-info">Crear Medicamento</button>
        </div>
        <div class="col-1 offset-6">
            <button (click)="exportTableToExcel('tablamedicamentos','LISTA DE MEDICAMENTOS')">Excel File</button>
        </div>
        <div class="col-1">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>