<div class="clear"></div>
<h4 class="text-center orange-text">Crear Medicamento</h4>
<form class="form-horizontal main-form">
    <div *ngIf="!isValid" class="alert alert-danger">
        <strong>Danger!</strong> {{message}}.
    </div>
    <div class="row">
        <div class="col-6">
            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="nombremedic" id="nombremedic" [(ngModel)]="medicamento.nombremedic">
                <label for="nombremedic">Nombre</label>
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="costoadquisicion" [(ngModel)]="medicamento.codigo" id="costoadquisicion">
                <label for="costoadquisicion">Código</label>
            </div>
            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="caracteristica" [(ngModel)]="medicamento.caracteristica" id="caracteristica">
                <label for="caracteristica">Caracteristica</label>
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="costoventa" [(ngModel)]="medicamento.costoventa" id="costoventa">
                <label for="costoventa">Costo de venta</label>
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="stock" [(ngModel)]="medicamento.stock" id="stock">
                <label for="stock">Cantidad</label>
            </div>
        </div>
        <div class="col-6">

            <div class="">
                <label for="fecha_caducidad">fecha caducidad</label>
                <input type="date" class="form-control" name="fecha_caducidad" [(ngModel)]="medicamento.fecha_caducidad" id="fecha_caducidad">
            </div>

            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="tipo_medicamento" [(ngModel)]="medicamento.tipo_medicamento" id="tipo_medicamento">
                <label for="tipo_medicamento">Tipo</label>
            </div>

            <div>
                <div>
                    <table>
                        <thead>
                            <td>Adquisición</td>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comprado of comprados">
                                <td>
                                    <div class="md-radio">
                                        <input id="{{comprado.id}}" type="radio" name="radiogroup" [checked]="comprado.descripcion == recibido" [value]="comprado.descripcion" (change)="onSelectionChange(comprado)">
                                        <label for="{{comprado.id}}">{{comprado.descripcion}}</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="md-form">
                <input type="text" mdbActive class="form-control" name="salida" [(ngModel)]="medicamento.salida" id="salida">
                <label for="salida">Salida</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button *ngIf="verAtender" type="submit" (click)="saveOrUpdate()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
        </div>
        <div class="col-2">
            <button *ngIf="verAtender" type="submit" (click)="Cancelar()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
        </div>
    </div>
</form>