<div class="container-fluid">
    <h3 class="text-center">Ficha Salud</h3>
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Datos Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Código Historial: <strong style="color: black">{{expedientes.codigohistorial}} </strong></h4>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h4>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <p>
                        <span style="color: red">DNI</span>{{expedientes.dni}}</p>
                    <p>
                        <span style="color: red">Lugar de Nacimiento</span>{{expedientes.departamentonacimiento}} {{expedientes.provincianacimiento}} {{expedientes.distritonacimiento}}</p>
                    <p>
                        <span style="color: red">Domicilio</span>{{socioecos.direccion_domicilio}}
                        <span style="color: red">Provincia:</span> {{socioecos.provincia_domicilio}}</p>
                    <p>
                        <span style="color: red">Distrito: </span> {{socioecos.distrito_domicilio}}
                        <span style="color: red">Referencia: </span> {{socioecos.referencia_domicilio}}</p>
                </div>
                <div class="col-6">
                    <p>
                        <span style="color: red">Certificado de Discapacidad: </span> {{socioecos.necCertifDiscap}} {{socioecos.tipoCertifDisc}} {{socioecos.otrocuentaconcertificado}}</p>
                    <p>
                        <span style="color: red">Seguro de Salud: </span> {{socioecos.tipoSeguro}} {{socioecos.establAtencion}}
                        <span style="color: red"> Establecimiento de Salud: </span> {{socioecos.lugarEstsalud}}</p>
                    <!-- <p *ngIf="diagnosticomedic.diagnostico">
            <span style="color: red">Diagnostico Medico: </span> {{diagnosticomedic.diagnostico}} </p> -->
                </div>
            </div>
        </tab>
        <tab tabTitle="Familia">
            <div class="container-fluid" *ngIf="PadreExiste">
                <div class="row">
                    <div class="col-2 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.tipo_apoderado" name="" type="text" mdbActive>
                        <label for="">Tipo</label>
                    </div>
                </div>
                <div class="row" *ngIf="padre.tipo_apoderado">
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.nombre_apoderado" name="nombre_apoderado" type="text" mdbActive>
                        <label for="">Nombre</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.apellido_apoderado" name="apellido_apoderado" type="text" mdbActive>
                        <label for="">Paterno</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.fnacimiento_apod" name="fnacimiento_apod" type="text" mdbActive>
                        <label for="">Fecha de Nacimiento</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.ocupacion_apoderado" name="ocupacion_apoderado" type="text" mdbActive>
                        <label for="">Ocupacion</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.condlaboral_apod" name="condlaboral_apod" type="text" mdbActive>
                        <label for="">Condicion Laboral</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.adiccion" name="adiccion" type="text" mdbActive>
                        <label for="">Adiccion</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="padre.caracter" name="caracter" type="text" mdbActive>
                        <label for="">Carácter</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid" *ngIf="MadreExiste">
                <div class="row">
                    <div class="col-2 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.tipo_apoderado" name="" type="text" mdbActive>
                        <label for="">Tipo</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.nombre_apoderado" name="nombre_apoderado" type="text" mdbActive>
                        <label for="">Nombre</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.apellido_apoderado" name="apellido_apoderado" type="text" mdbActive>
                        <label for="">Paterno</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.fnacimiento_apod" name="fnacimiento_apod" type="text" mdbActive>
                        <label for="">Fecha de Nacimiento</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.ocupacion_apoderado" name="ocupacion_apoderado" type="text" mdbActive>
                        <label for="">Ocupacion</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.condlaboral_apod" name="condlaboral_apod" type="text" mdbActive>
                        <label for="">Condicion Laboral</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.adiccion" name="adiccion" type="text" mdbActive>
                        <label for="">Adiccion</label>
                    </div>
                    <div class="col-3 md-form">
                        <input class="form-control form-control-sm" disabled="disabled" [(ngModel)]="madre.caracter" name="caracter" type="text" mdbActive>
                        <label for="">Carácter</label>
                    </div>
                </div>
            </div>
        </tab>

        <tab tabTitle="Situacion de Salud">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="diagmedico" [(ngModel)]="evalsalud.diagmedico" class="md-textarea">

              </textarea>
                            <label for="diagmedico">Diagnostico Medico</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="diagnutricini" [(ngModel)]="evalsalud.diagnutricini" class="md-textarea">

              </textarea>
                            <label for="diagnutricini">Diagnostico Nutricional inicial</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="secdiscapacidad" [(ngModel)]="evalsalud.secdiscapacidad" class="md-textarea">

              </textarea>
                            <label for="secdiscapacidad">Secuencia de la Discapacidad</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="medicadomot" [(ngModel)]="evalsalud.medicadomot" class="md-textarea">

              </textarea>
                            <label for="medicadomot">¿Viene siendo medicando por algún motivo??</label>
                        </div>

                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalsalud.enferpadecfrec" name="enferpadecfrec" type="text" mdbActive>
                            <label for="enferpadecfrec">Que enfermedades padece con frecuencia</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalsalud.recibeterapia" name="recibeterapia" type="text" mdbActive>
                            <label for="recibeterapia">Recibe terapia</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="inicio" [(ngModel)]="evalsalud.inicio" class="md-textarea">

              </textarea>
                            <label for="inicio">Inicio</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="descencadena" [(ngModel)]="evalsalud.descencadena" class="md-textarea">

              </textarea>
                            <label for="descencadena">Descencadena</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="observaciones" [(ngModel)]="evalsalud.observaciones" class="md-textarea">

              </textarea>
                            <label for="observaciones">Observaciones</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="2" cols="200" name="sufrealergia" [(ngModel)]="evalsalud.sufrealergia" class="md-textarea">

              </textarea>
                            <label for="sufrealergia">Alergias a sustancias o medicamentos</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalsalud.tiempoterap" name="tiempoterap" type="text" mdbActive>
                            <label for="tiempoterap">Cuanto Tiempo</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="evalsalud.lugarterapia" name="lugarterapia" type="text" mdbActive>
                            <label for="lugarterapia">Donde</label>
                        </div>
                    </div>
                    <div class="md-form col-6 offset-3">
                        <textarea rows="2" cols="200" name="motivonoatencion" [(ngModel)]="evalsalud.motivonoatencion" class="md-textarea">

              </textarea>
                        <label for="motivonoatencion">¿Por qué no fue atendido su hijo en el establecimiento?</label>
                    </div>
                </div>
                <div class="row" *ngIf="verAtender">
                    <div class="col-4 offset-md-6">
                        <button type="submit" (click)="saveOrUpdateSalud()" class="btn btn-pink btn-save">Guardar</button>
                    </div>
                </div>
            </div>
        </tab>
        <tab tabTitle="Cuidado">
            <div class="container-fluid">
                <h3 class="text-center">Cuidado del menor</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <p>¿Alguna vez el niño(a) estuvo al cuidado de terceros dentro o fuera del hogar?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.cuidterceros" name="cuidterceros" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <p>¿Quienes se ocupan del cuidado del menor con frecuencia?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.cuidadomenor" name="cuidadomenor" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <p>¿Cúales son las dificultades para cuidar al menor?</p>
                            <textarea rows="2" cols="200" name="dificcuidado" [(ngModel)]="alimentacion.dificcuidado" class="md-textarea">

              </textarea>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <p>¿Cuenta con apoyo de algún miembro de la familia en el cuidado del niño(a)?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.apoyofamilia" name="apoyofamilia" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <p>¿El menor siente mayor apego hacia algún miembro de la familia en especial?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.apegofamilia" name="apegofamilia" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <p>¿Existe añgún tipo de maltrato por parte de algún miembro de la familia hacia el niño(a)?</p>
                            <textarea rows="2" cols="200" name="maltratofam" [(ngModel)]="alimentacion.maltratofam" class="md-textarea">

              </textarea>
                        </div>
                    </div>
                </div>
                <h3 class="text-center">La alimentacion del menor</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.frecalimen" name="frecalimen" type="text" mdbActive>
                            <label for="frecalimen">¿Cuántas veces al día come (frecuencia)?</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.horaalimen" name="horaalimen" type="text" mdbActive>
                            <label for="horaalimen">¿Hora de Alimentación?</label>
                        </div>
                        <div class="md-form">
                            <p>¿Cómo es la consistencia (solida, liquida, semisólido)?</p>
                            <textarea rows="2" cols="200" name="consisalimen" [(ngModel)]="alimentacion.consisalimen" class="md-textarea">

              </textarea>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.comobebe" name="comobebe" type="text" mdbActive>
                            <label for="comobebe">¿Cómo bebe liquido?</label>
                        </div>
                        <div class="md-form">
                            <p>Tipos de alimentos que consume con frecuencua</p>
                            <textarea rows="2" cols="200" name="tipoalim" [(ngModel)]="alimentacion.tipoalim" class="md-textarea">

              </textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.cantalimen" name="cantalimen" type="text" mdbActive>
                            <label for="cantalimen">¿Qué cantidad come (tamaño del plato)?</label>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.alimnotolera" name="alimnotolera" type="text" mdbActive>
                            <label for="alimnotolera">¿Qué alimentos no tolera?</label>
                        </div>
                        <div class="md-form">
                            <p>¿Cómo es la composición (Balanceada) su alimento?</p>
                            <textarea rows="2" cols="200" name="compAlimen" [(ngModel)]="alimentacion.compAlimen" class="md-textarea">

              </textarea>
                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.tiempolimenta" name="tiempolimenta" type="text" mdbActive>
                            <label for="tiempolimenta">¿Cuánto tiempo se alimenta al niño(a)?</label>
                        </div>
                        <div class="md-form">
                            <p>¿Requiere apoyo para alimentarse?¿Quién se ocupa de hacerlo?</p>
                            <textarea rows="2" cols="200" name="apoyoalimen" [(ngModel)]="alimentacion.apoyoalimen" class="md-textarea">

              </textarea>
                        </div>
                    </div>
                </div>
                <h3 class="text-center">La higuiene del menor</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <p>¿Cuantas veces realiza sus deposiciones?¿necesita apoyo?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.vecesdeposic" name="vecesdeposic" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <p>¿Cuantas veces al día realiza su higiene uro bucal?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.vecesaseobucal" name="vecesaseobucal" type="text" mdbActive>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <p>¿Cuántas veces a la semana realiza su aseo corporal?</p>
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.vecesaseo" name="vecesaseo" type="text" mdbActive>

                        </div>
                        <div class="md-form">
                            <input class="form-control form-control-sm" [(ngModel)]="alimentacion.otros" name="otros" type="text" mdbActive>
                            <label for="otros">Otros</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="verAtender" class="row">
                    <div class="col-4 offset-md-6">
                        <button type="submit" (click)="saveOrUpdateAlimentacion()" class="btn btn-pink btn-save">Guardar</button>
                    </div>
                </div>
            </div>
        </tab>
        <tab *ngIf="versisita" tabTitle="Visita Domiciliaria">
            <div class="container-fluid">
                <h3 class="text-center">FICHA DE VISITA DOMICILIARIA INTEGRAL Y EVALUACIÓN DE FAMILIAS</h3>
                <br>
                <br>
                <div *ngIf="verAtender" class="row">
                    <div class="col-4 offset-1">
                        <button type="button" *ngIf="verbotonsegcero" class="btn btn-pink z-depth-3" (click)="PrimerSeguimientovisitauno()">primer
              Siguimiento</button>
                    </div>
                    <div class="col-4">
                        <button type="button" *ngIf="verbotonseguno" class="btn btn-pink z-depth-3" (click)="PrimerSeguimientovisitados()">segundo
              Siguimiento</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-responsive-md table-fixed">
                            <thead>
                                <tr class="table-dark">
                                    <th>
                                        <h3>
                                            Paciente: {{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                                        </h3>
                                    </th>
                                    <th colspan="3">Calificación 0 = No cumple 1= Cumple</th>
                                </tr>
                                <tr class="table-dark">
                                    <th rowspan="2">Criterio</th>
                                    <th>
                                        <div class="form-sm">
                                            <label for="">Fecha</label>
                                            <input type="date" class="form-control form-control-sm" [(ngModel)]="visita1.fechavisita" name="fechavisita" id="caderaextiz" maxlength="6">
                                        </div>
                                    </th>
                                    <th *ngIf="versegimientouno">
                                        <div class="form-sm">
                                            <label for="">Fecha</label>
                                            <input type="date" class="form-control form-control-sm" [(ngModel)]="visita2.fechavisita" name="fechavisita" id="caderaextiz" maxlength="6">
                                        </div>
                                    </th>
                                    <th *ngIf="versegimientodos">
                                        <div class="form-sm">
                                            <label for="">Fecha</label>
                                            <input type="date" class="form-control form-control-sm" [(ngModel)]="visita3.fechavisita" name="fechavisita" id="caderaextiz" maxlength="6">
                                        </div>
                                    </th>
                                </tr>
                                <tr class="table-dark">
                                    <th>
                                        <div class="md-form form-sm">
                                            <label for="">edad</label>
                                            <input type="number" class="form-control form-control-sm" [(ngModel)]="visita1.edad" name="edad" id="caderaextiz" size="6" maxlength="6" mdbActive>
                                        </div>
                                    </th>
                                    <th *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <label for="">edad</label>
                                            <input type="number" class="form-control form-control-sm" [(ngModel)]="visita2.edad" name="edad" id="caderaextiz" size="6" mdbActive maxlength="6">
                                        </div>
                                    </th>
                                    <th *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <label for="">edad</label>
                                            <input type="number" class="form-control form-control-sm" [(ngModel)]="visita3.edad" name="edad" id="caderaextiz" size="6" mdbActive maxlength="6">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ORGANIZACIÓN Y GESTION FAMILIAR/POLITICA PUNLICAS</td>
                                    <td>
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita1.criteriouno" name="criteriouno" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita2.criteriouno" name="criteriouno" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita3.criteriouno" name="criteriouno" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PRACTICAS SALUDABLES</td>
                                    <td>
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita1.criteriodos" name="criteriodos" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita2.criteriodos" name="criteriodos" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita3.criteriodos" name="criteriodos" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SOLO PARA FAMILIAS CON NIÑOS MENORES DE 5AÑOS</td>
                                    <td>
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita1.criteriotres" name="criteriotres" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita2.criteriotres" name="criteriotres" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita3.criteriotres" name="criteriotres" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>REORIENTACIÓN DE LOS REVICIOS</td>
                                    <td>
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita1.criteriocuatro" name="criteriocuatro" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita2.criteriocuatro" name="criteriocuatro" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="visita3.criteriocuatro" name="criteriocuatro" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PUNTAJE TOTAL</td>
                                    <td>
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" (clic)="sumaruno()" [(ngModel)]="visita1.puntajetotal" name="puntajetotal" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientouno">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" (clic)="sumardos()" [(ngModel)]="visita2.puntajetotal" name="puntajetotal" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                    <td *ngIf="versegimientodos">
                                        <div class="md-form form-sm">
                                            <input type="text" class="form-control form-control-sm" (clic)="sumartres()" [(ngModel)]="visita3.puntajetotal" name="puntajetotal" id="caderaextiz" size="6" maxlength="6">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" *ngIf="verAtender">
                    <div class="col-4">
                        <button type="submit" *ngIf="verbotonsegcero" (click)="saveOrUpdateVisita1()" class="btn btn-pink" mdbRippleRadius>Guarda</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" *ngIf="verbotonseguno" (click)="saveOrUpdateVisita2()" class="btn btn-pink" mdbRippleRadius>Guarda</button>
                    </div>
                    <div class="col-4">
                        <button type="submit" *ngIf="verbotonsegdos" (click)="saveOrUpdateVisita3()" class="btn btn-pink" mdbRippleRadius>Guarda</button>
                    </div>
                </div>

            </div>
        </tab>

        <tab tabTitle="Archivos">
            <tabs>
                <tab *ngIf="verAtender" tabTitle="Subir archivos">
                    <div class="container">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <a class="navbar-brand text-center">Subir archivos</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Archivos seleccionados</h5>
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                                    <p class="text-center" style="width: auto; height: auto;">Arrastrar Archivo</p>
                                </div>
                            </div>

                            <div class="col-8" style="margin-bottom: 40px">
                                <h5>Cargas en cola</h5>
                                <p>Cantidad: {{ uploader?.queue?.length }}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Nombre</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of uploader.queue">
                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">

                          <span class="glyphicon glyphicon-upload"></span> Subir
                        </button>
                                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()" [disabled]="item.isReady">
                          <span class="glyphicon glyphicon-trash"></span> Eliminar
                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div>
                                        <p>Progreso</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"><span class="glyphicon glyphicon-upload"></span>
                    Subir todos</button>
                                    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"><span class="glyphicon glyphicon-trash"></span>
                    Eliminar todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab tabTitle="lista de archivos">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="text-center">Listar archivos</h3>
                        </div>
                        <div class="col-2">
                                <div (click)="imprimirFiles()">
                                        <i class="fas fa-sync-alt">Listar</i>
                                    </div>
                        </div>
                    </div>
                    <!-- <div class="container animated fadeIn"> -->
                    <div class="card container animated fadeIn">
                        <div class="card-body">
                            <table class="table table-hover table-responsive-md table-fixed">
                                <thead class="table-dark">
                                    <tr>
                                        <th style="width: 15px;">Nº</th>
                                        <th>Documentos</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of documentnames; let i = index ">
                                        <th>{{i}}</th>
                                        <td class="linkdescarga" (click)="descargar(item)">{{item}}</td>
                                        <td (click)="eliminararchivo(item)"> <i class="fas fa-trash"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </tab>
            </tabs>

        </tab>

    </tabs>
</div>