<!-- tabla fuerza -->
<div class="row">
    <div class="col-9">
        <h3 class="text-center">4. Fuerza</h3>
        <button *ngIf="verBotoniniliza" type="button" class="btn btn-pink z-depth-3" (click)="inicializarFuerza()">Iniciar</button>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selecaniofuerza (change)="setNewbiometriaanios(selecaniofuerza.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="verFuerza">
    <div class="row">
        <div class="col-9">
            <button type="button" class="btn btn-pink z-depth-3" *ngIf="boton1" (click)="PrimerSeguimientoFuerza()">primer
        Siguimiento</button>
            <button type="button" class="btn btn-pink z-depth-3" *ngIf="boton2" (click)="segundoSeguimientoFuerza()">Segundo
        Siguimiento</button>

        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-warning waves-effect" *ngIf="boton4" (click)="noprimerpSeguimientoFuerza()">ocultar
        primero</button>
            <button type="button" class="btn btn-outline-warning waves-effect" *ngIf="boton3" (click)="nosegundoSeguimientoFuerza()">ocultar
        segundo</button>
        </div>
    </div>
    <table class="table table-bordered table-responsive-md z-depth-3">
        <thead class="cyan lighten-3">
            <tr>
                <th colspan="2" rowspan="3"></th>
                <th class="text-center" colspan="2">Movilidad(*)</th>
                <th class="text-center" colspan="2" *ngIf="verPrimerSeguimientoFuerza">Primer Seguimiento</th>
                <th class="text-center" colspan="2" *ngIf="versegundoSeguimientoFuerza">Segundo Seguimiento</th>
                <th rowspan="3">Observaciones</th>
            </tr>
            <tr>
                <th colspan="2">
                    <input [(ngModel)]="segfuerza0.fseguimientofuerza" type="date" class="form-control" name="fseguimientofuerza">
                </th>
                <th colspan="2" *ngIf="verPrimerSeguimientoFuerza">
                    <input [(ngModel)]="segfuerza1.fseguimientofuerza" type="date" class="form-control" name="fseguimientofuerza">
                </th>
                <th colspan="2" *ngIf="versegundoSeguimientoFuerza">
                    <input [(ngModel)]="segfuerza2.fseguimientofuerza" type="date" class="form-control" name="fseguimientofuerza">
                </th>

            </tr>
            <tr>
                <th>Iz(cm)</th>
                <th>De(cm)</th>
                <th *ngIf="verPrimerSeguimientoFuerza">Iz(cm)</th>
                <th *ngIf="verPrimerSeguimientoFuerza">De(cm)</th>
                <th *ngIf="versegundoSeguimientoFuerza">Iz(cm)</th>
                <th *ngIf="versegundoSeguimientoFuerza">De(cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="5">Cadera</th>
                <td>Extensión Glutei</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaextiz" name="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaextder" name="caderaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaextiz" name="caderaextiz" id="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaextder" name="caderaextder" size="6" maxlength="6">
                    </div>
                </td>

                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaextiz" name="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaextder" name="caderaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscaderaext" name="obscaderaext" id="observacion" size="50" maxlength="50">
                        <label for="obscaderaext">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión, Ilipsoas, rectus femoris</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaflexiz" name="caderaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaflexder" name="caderaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaflexiz" name="caderaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaflexder" name="caderaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaflexiz" name="caderaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaflexder" name="caderaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscaderaflex" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción; Gluteus medius </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabdglutiz" name="caderaabdglutiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabdglutder" name="caderaabdglutder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabdglutiz" name="caderaabdglutiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabdglutder" name="caderaabdglutder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabdglutiz" name="caderaabdglutiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabdglutder" name="caderaabdglutder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscaderaabducglut" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción; extensión de rodilla Adductores longas</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabducextiz" name="caderaabducextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabducextder" name="caderaabducextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabducextiz" name="caderaabducextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabducextder" name="caderaabducextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabducextiz" name="caderaabducextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabducextder" name="caderaabducextder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscaderaabducext" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción; Flexión de rodillas Adductores longas</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabducflexiz" name="caderaabducflexiz" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.caderaabducflexder" name="caderaabducflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabducflexiz" name="caderaabducflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.caderaabducflexder" name="caderaabducflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabducflexiz" name="caderaabducflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.caderaabducflexder" name="caderaabducflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscaderaabducflex" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Rodilla</th>
                <td>Extensión; Quadriceps</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.rodillaextiz" name="rodillaextiz" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.rodillaextder" name="rodillaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.rodillaextiz" name="rodillaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.rodillaextder" name="rodillaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.rodillaextiz" name="rodillaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.rodillaextder" name="rodillaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obsrodillaext" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión de la Isquiotibialis</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.rodillaflexiz" name="rodillaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.rodillaflexder" name="rodillaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.rodillaflexiz" name="rodillaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.rodillaflexder" name="rodillaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.rodillaflexiz" name="rodillaflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.rodillaflexder" name="rodillaflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obsrodillaflex" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Tobillo</th>
                <td>Dorsiflexión Tibialis anterior</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.tobillodorsiiz" name="rodilladorsiiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.tobillodorsider" name="rodilladorsider" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.tobillodorsiiz" name="rodilladorsiiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.tobillodorsider" name="rodilladorsider" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.tobillodorsiiz" name="rodilladorsiiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.tobillodorsider" name="rodilladorsider" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obstobillodors" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Plantarflexión Gemelos</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.tobilloplantiz" name="rodillaplantiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.tobilloplantder" name="rodillaplantder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.tobilloplantiz" name="rodillaplantiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.tobilloplantder" name="rodillaplantder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.tobilloplantiz" name="rodillaplantiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.tobilloplantder" name="rodillaplantder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obstobilloplant" name="obstobilloplant" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Hombro</th>
                <td>Anteflexión</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.hombrosanteiz" name="hombrosanteiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.hombrosanteder" name="hombrosanteder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.hombrosanteiz" name="hombrosanteiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.hombrosanteder" name="hombrosanteder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.hombrosanteiz" name="hombrosanteiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.hombrosanteder" name="hombrosanteder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obshombrosante" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.hombrosabduiz" name="hombrosabduiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.hombrosabduder" name="hombrosabduder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.hombrosabduiz" name="hombrosabduiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.hombrosabduder" name="hombrosabduder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.hombrosabduiz" name="hombrosabduiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.hombrosabduder" name="hombrosabduder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obshombrosabdu" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Codo</th>
                <td>Extensión Triceps</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.codextiz" name="codextiz" size="6" maxlength="6">
                    </div>

                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.codextder" name="codextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.codextiz" name="codextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.codextder" name="codextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.codextiz" name="codextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.codextder" name="codextder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscodoext" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión Biceps</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.codoflexiz" name="codoflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.codoflexder" name="codoflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.codoflexiz" name="codoflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.codoflexder" name="codoflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.codoflexiz" name="codoflexiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.codoflexder" name="codoflexder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obscodoflex" name="observacion" id="observacion" size="50" maxlength="50">
                        <label for="observacion">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2">Abdominales</th>
                <td colspan="2">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.abdominales" name="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td colspan="2" *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.abdominales" name="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td colspan="2" *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.abdominales" name="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obsabdominales" name="obsabdominales" id="observacion" size="50" maxlength="50">
                        <label for="obsabdominales">Observación</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2">Extensores de la espalda</th>
                <td colspan="2">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza0.extespalda" name="extespalda" size="6" maxlength="6">
                    </div>
                </td>
                <td colspan="2" *ngIf="verPrimerSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza1.extespalda" name="extespalda" size="6" maxlength="6">
                    </div>
                </td>
                <td colspan="2" *ngIf="versegundoSeguimientoFuerza">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segfuerza2.extespalda" name="extespalda" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obsextensores" name="obsextensores" id="obsextensores" size="50" maxlength="50">
                        <label for="obsextensores">Observación</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.conclusiones" name="Conclusion" id="Conclusion">
        <label for="Conclusion">Conclusión</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.difizquierda" name="Diferencia" id="Diferencia">
        <label for="Diferencia">Diferencia De-Izq</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.reducciones" name="Reducciones" id="Reducciones">
        <label for="Reducciones">Reducciones</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsefuerza.obsfinal" name="obsfinal" id="obsfinal">
        <label for="obsfinal">Observaciones</label>
    </div>
    <br>
    <div class="row" *ngIf="verAtender">
        <div class="col-sm-offset-1 col-sm-3" *ngIf="primeraparte">
            <button type="submit" (click)="saveOrUpdateSegFuerza0()" class="btn btn-pink" mdbRippleRadius>Guardar Evaluación</button>
        </div>
        <div class="col-sm-offset-1 col-sm-3" *ngIf="segundaparte">
            <button type="submit" (click)="saveOrUpdateSegFuerza1()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento
        1</button>
        </div>
        <div class="col-sm-offset-1 col-sm-3" *ngIf="terceraparte">
            <button type="submit" (click)="saveOrUpdateSegFuerza2()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento
        2</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <p>
                <span style="color:blue;font-weight:bold">MRC</span>
            </p>
            <p>
                <span style="color:blue;font-weight:bold">0 </span>No contracción muscular palpable</p>
            <p>
                <span style="color:blue;font-weight:bold">1 </span>Contracción muscular sin movimiento visible</p>
            <p>
                <span style="color:blue;font-weight:bold">2- </span>Inicia movimiento eliminado la gravedad</p>
            <p>
                <span style="color:blue;font-weight:bold">2 </span>ROM completo eliminado la gravedad</p>
            <p>
                <span style="color:blue;font-weight:bold">2+ </span>Inicia movimiento contra la gravedad</p>
            <p>
                <span style="color:blue;font-weight:bold">3- </span>ROM incompleto, casi completo contra la gravedad</p>
            <p>
                <span style="color:blue;font-weight:bold">3 </span>ROM completo, movimiento perfecto contra la gravedad</p>
            <p>
                <span style="color:blue;font-weight:bold">3+ </span>Movimiento contra la gravedad con resistencia mínima</p>
            <p>
                <span style="color:blue;font-weight:bold">4 </span>Movimiento contra la gravedad con resistencia moderada</p>
            <p>
                <span style="color:blue;font-weight:bold">5 </span>Movimiento contra la gravedad con resistencia máxima</p>
        </div>
        <div class="col-4">
            <p>
                <span style="color:blue;font-weight:bold">MRC</span> para abdominales</p>
            <p>
                <span style="color:blue;font-weight:bold">0 </span>No contracción abdominal palpable</p>
            <p>
                <span style="color:blue;font-weight:bold">1 </span>Contracción palpable pero flexión cervical y de tronco imposible
            </p>
            <p>
                <span style="color:blue;font-weight:bold">2 </span>Puede levantar la cabeza con flexión cervical</p>
            <p>
                <span style="color:blue;font-weight:bold">3 </span>Puede levantar hombros y escapula</p>
            <p>
                <span style="color:blue;font-weight:bold">4 </span>Puede hacer flexión toracal</p>
            <p>
                <span style="color:blue;font-weight:bold">5 </span>Puede sentarse con flexión toracal</p>
        </div>
        <div class="col-4">
            <p>
                <span style="color:blue;font-weight:bold">MRC</span> para Extensores de la espalda</p>
            <p>
                <span style="color:blue;font-weight:bold">0 </span>No contracción palpable</p>
            <p>
                <span style="color:blue;font-weight:bold">1 </span>Contracción palpable de extensión cervical sin levantar la cabeza
            </p>
            <p>
                <span style="color:blue;font-weight:bold">2 </span>Puede levantar la cabeza y hombros</p>
            <p>
                <span style="color:blue;font-weight:bold">3 </span>Puede levantar pecho y costillas</p>
            <p>
                <span style="color:blue;font-weight:bold">4 </span>Puede hacer extensión lumbar</p>
            <p>
                <span style="color:blue;font-weight:bold">5 </span>Puede hacer extenxión lumbar con extensión de las caderas</p>
        </div>
    </div>

</div>