
<ng-sidebar-container>
        <ng-sidebar [(opened)]="_opened" position='left' mode='push' [closeOnClickOutside]="_closeOnClickOutside" [closeOnClickBackdrop]="_closeOnClickBackdrop" [animate]="_animate" [dock]="_dock" [dockedSize]="'43px'">
    <app-menu (click)="cambio()" ></app-menu>
</ng-sidebar>
    <div ng-sidebar-content>
        <app-navbar (Cambiomenu)="cambiomenu($event)"></app-navbar>
        <router-outlet></router-outlet>
    </div>
    </ng-sidebar-container>
