<h3 class="text-center">Anamnecis clinico</h3>
<div class="container-fluid">
    <div class="row">
        <!-- Embarazo -->
        <div class="col-6">
            <h4 class="text-center">1. Embarazo</h4>
            <div class="md-form">
                <input id="edad_embarazo" class="form-control form-control-sm"  [(ngModel)]="anamnecis.edad_embarazo" name="edad_embarazo" type="number" mdbActive>
                <label for="edad_embarazo">Edad de la madre<span style="color:red">*</span>:  </label>
            </div>
            <div class="md-form">
                <input id="numero_hijos" class="form-control form-control-sm" [(ngModel)]="anamnecis.numero_hijos" name="numero_hijos" type="number" mdbActive>
                <label for="numero_hijos">Cuántos hijos</label>
            </div>
            <div class="md-form">
                <input id="num_emb_abortos" class="form-control form-control-sm" [(ngModel)]="anamnecis.num_emb_abortos" name="num_emb_abortos" type="number" mdbActive>
                <label for="num_emb_abortos">Cuántos Embarazos/abortos</label>
            </div>
            <div class="md-form">
                <input id="control_medico" class="form-control form-control-sm" [(ngModel)]="anamnecis.control_medico" name="control_medico" type="text" mdbActive>
                <label for="control_medico">Controles Médicos</label>
            </div>
            <!-- complicaciones de embarazo -->
            <div class="md-form">
                <input class="form-control form-control-sm" [(ngModel)]="anamnecis.compli_embarazo" name="compli_embarazo" type="text" mdbActive>
                <label for="compli_embarazo">Complicaciones</label>
            </div>
            <div class="row">
                <div class="col-10 offset-md-2">
                    <div class="md-form">
                        <input id="infeccion" class="form-control form-control-sm" [(ngModel)]="anamnecis.infeccion" name="infeccion" type="text" mdbActive>
                        <label for="infeccion">Infección urinaria</label>
                    </div>
                    <div class="md-form">
                        <input id="perdidosangre" class="form-control form-control-sm" [(ngModel)]="anamnecis.perdidosangre" name="perdidosangre" type="text" mdbActive>
                        <label for="perdidosangre">Perdida de Sangre</label>
                    </div>
                    <div class="md-form">
                        <input id="trauma" class="form-control form-control-sm" [(ngModel)]="anamnecis.trauma" name="trauma" type="text" mdbActive>
                        <label for="trauma">Trauma</label>
                    </div>
                    <div class="md-form">
                        <input id="crecimientofeto" class="form-control form-control-sm" [(ngModel)]="anamnecis.crecimientofeto" name="crecimientofeto" type="text" mdbActive>
                        <label for="crecimientofeto">Crecimiento de feto</label>
                    </div>

                    <div class="md-form">
                        <input id="otrocompli" class="form-control form-control-sm" [(ngModel)]="anamnecis.otrocompli" name="otrocompli" type="text" mdbActive>
                        <label for="otrocompli">Otros</label>
                    </div>
                </div>

            </div>

            <div class="md-form">
                <input id="usa_medicamento" class="form-control form-control-sm" [(ngModel)]="anamnecis.usa_medicamento" name="usa_medicamento" type="text" mdbActive>
                <label for="usa_medicamento">Usa medicamentos, alcohol, drogas</label>
            </div>
            <div class="md-form">
                <input id="otrainformacion" class="form-control form-control-sm" [(ngModel)]="anamnecis.otrainformacion" name="otrainformacion" type="text" mdbActive>
                <label for="otrainformacion">Otra Información</label>
            </div>
        </div>

        <div class="col-6">
            <h4 class="text-center">2. Parto</h4>
            <div class="md-form">
                <input id="lugar_parto" class="form-control form-control-sm" [(ngModel)]="anamnecis.lugar_parto" name="lugar_parto" type="text" mdbActive>
                <label for="lugar_parto">Lugar de parto</label>
            </div>
            <div class="md-form">
                <input id="num_meses_parto" class="form-control form-control-sm" [(ngModel)]="anamnecis.num_meses_parto" name="num_meses_parto" type="number" mdbActive>
                <label for="num_meses_parto">Cuantos Meses</label>
            </div>
            <div class="md-form">
                <input id="progreso_parto" class="form-control form-control-sm" [(ngModel)]="anamnecis.progreso_parto" name="progreso_parto" type="text" mdbActive>
                <label for="progreso_parto">Progreso de Parto</label>
            </div>
            <div class="md-form">
                <input id="talla" class="form-control form-control-sm" [(ngModel)]="anamnecis.talla" name="talla" type="number" mdbActive>
                <label for="talla">Talla al nacer</label>
            </div>
            <div class="md-form">
                <input id="peso" class="form-control form-control-sm" [(ngModel)]="anamnecis.peso" name="peso" type="number" mdbActive>
                <label for="peso">Peso al nacer </label>
            </div>
            <!-- complicaciones de embarazo -->
            <div class="md-form">
                <input id="apgar" class="form-control form-control-sm" [(ngModel)]="anamnecis.apgar" name="apgar" type="text" mdbActive>
                <label for="apgar">APGAR</label>
            </div>
            <div class="row">
                <div class="col-10 offset-md-2">
                    <div class="md-form">
                        <input id="color" class="form-control form-control-sm" [(ngModel)]="anamnecis.color" name="color" type="text" mdbActive>
                        <label for="color">Color</label>
                    </div>
                    <div class="md-form">
                        <input id="llora" class="form-control form-control-sm" [(ngModel)]="anamnecis.llora" name="llora" type="text" mdbActive>
                        <label for="llora">Llora</label>
                    </div>
                    <div class="md-form">
                        <input id="movimiento" class="form-control form-control-sm" [(ngModel)]="anamnecis.movimiento" name="movimiento" type="text" mdbActive>
                        <label for="movimiento">Movimiento</label>
                    </div>
                    <div class="md-form">
                        <input id="latido_corazon" class="form-control form-control-sm" [(ngModel)]="anamnecis.latido_corazon" name="latido_corazon" type="text" mdbActive>
                        <label for="latido_corazon">Latido del corazón</label>
                    </div>
                    <div class="md-form">
                        <input id="respiracion" class="form-control form-control-sm" [(ngModel)]="anamnecis.respiracion" name="respiracion" type="text" mdbActive>
                        <label for="respiracion">Respiración</label>
                    </div>
                </div>
            </div>
            <div class="md-form">
                <!-- <h4 class="text-center">3. Progreso hasta ahora</h4> -->
                <div class="md-form">
                    <textarea name="progreso" id="progreso" cols="100" rows="3" [(ngModel)]="anamnecis.progreso" class="md-textarea" mdbActive>

          </textarea>
                    <label for="progreso">3. Progreso hasta ahora</label>
                </div>
                <!-- <h4 class="text-center">4. Evaluaciones Médicas</h4> -->
                <div class="md-form">
                    <textarea name="eval_medicas" id="eval_medicas" cols="100" rows="3" [(ngModel)]="anamnecis.eval_medicas" class="md-textarea" mdbActive>

          </textarea>
                    <label for="eval_medicas">4. Evaluaciones Médicas</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="verAtender" class="row">
        <div class="col-4 offset-2">
            <button type="submit" (click)="saveOrUpdateAnamnecis()" class="btn btn-pink">Guardar</button>
        </div>
        <!-- <div class="col-2 offset-1" *ngIf="guardado">
      <span class="guardado">Guardado</span>
    </div> -->
    </div>
</div>

<tabs *ngIf="VerCargarDesarrollo">
    <tab tabTitle="Desarrollo" *ngIf="VerCargarDesarrollo">
        <br>
        <div class="row">
            <div class="col-4">
                <h4 class="text-center">5. Desarrollo</h4>
                <div class="md-form">
                    <input id="des_boca_abajo" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_boca_abajo" name="des_boca_abajo" type="text" mdbActive>
                    <label for="des_boca_abajo">Boca Abajo</label>
                </div>
                <div class="md-form">
                    <input id="des_levantar_cabeza" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_levantar_cabeza" name="des_levantar_cabeza" type="text" mdbActive>
                    <label for="des_levantar_cabeza">Levantar cabeza</label>
                </div>
                <div class="md-form">
                    <input id="des_voltearse" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_voltearse" name="des_voltearse" type="text" mdbActive>
                    <label for="des_voltearse">Voltearse</label>
                </div>
                <div class="md-form">
                    <input id="des_sentarse" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_sentarse" name="des_sentarse" type="text" mdbActive>
                    <label for="des_sentarse">Sentarse</label>
                </div>
                <div class="md-form">
                    <input id="des_gatear" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_gatear" name="des_gatear" type="text" mdbActive>
                    <label for="des_gatear">Gatear</label>
                </div>
                <div class="md-form">
                    <input id="des_caminar" class="form-control form-control-sm" [(ngModel)]="desarrollo.des_caminar" name="des_caminar" type="text" mdbActive>
                    <label for="des_caminar">Caminar</label>
                </div>
            </div>
            <div class="col-4">
                <h4 class="text-center">6. Independencias</h4>
                <div class="md-form">
                    <input id="ind_transferencias" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_transferencias" name="ind_transferencias" type="text" mdbActive>
                    <label for="ind_transferencias">Transferencias</label>
                </div>
                <div class="md-form">
                    <input id="ind_lavarse" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_lavarse" name="ind_lavarse" type="text" mdbActive>
                    <label for="ind_lavarse">Lavarse</label>
                </div>
                <div class="md-form">
                    <input id="ind_limpio_bano" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_limpio_bano" name="ind_limpio_bano" type="text" mdbActive>
                    <label for="ind_limpio_bano">Estar Limpio/ir al baño</label>
                </div>
                <div class="md-form">
                    <input id="ind_lav_diente" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_lav_diente" name="ind_lav_diente" type="text" mdbActive>
                    <label for="ind_lav_diente">Limpiarse los dientes</label>
                </div>
                <div class="md-form">
                    <input id="ind_peinarse" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_peinarse" name="ind_peinarse" type="text" mdbActive>
                    <label for="ind_peinarse">Peinarse</label>
                </div>
                <div class="md-form">
                    <input id="ind_vestirse" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_vestirse" name="ind_vestirse" type="text" mdbActive>
                    <label for="ind_vestirse">Vestirse</label>
                </div>

                <div class="md-form">
                    <input id="ind_comer" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_comer" name="ind_comer" type="text" mdbActive>
                    <label for="ind_comer">Comer</label>
                </div>
                <div class="md-form">
                    <input id="ind_tomar" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_tomar" name="ind_tomar" type="text" mdbActive>
                    <label for="ind_tomar">Tomar</label>
                </div>
            </div>

            <div class="col-4">
                <div class="md-form">
                    <input id="ind_hablar" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_hablar" name="ind_hablar" type="text" mdbActive>
                    <label for="ind_hablar">Hablar</label>
                </div>
                <div class="md-form">
                    <input id="ind_ver" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_ver" name="ind_ver" type="text" mdbActive>
                    <label for="ind_ver">Ver</label>
                </div>
                <div class="md-form">
                    <input id="ind_oir" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_oir" name="ind_oir" type="text" mdbActive>
                    <label for="ind_oir">Oír</label>
                </div>
                <div class="md-form">
                    <input id="ind_ayudar_casa" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_ayudar_casa" name="ind_ayudar_casa" type="text" mdbActive>
                    <label for="ind_ayudar_casa">Ayuda en casa</label>
                </div>
                <div class="md-form">
                    <input id="ind_escuela" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_escuela" name="ind_escuela" type="text" mdbActive>
                    <label for="ind_escuela">Escuela</label>
                </div>
                <div class="md-form">
                    <input id="ind_comunicacion" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_comunicacion" name="ind_comunicacion" type="text" mdbActive>
                    <label for="ind_comunicacion">Comunicación</label>
                </div>
                <div class="md-form">
                    <input id="ind_amigos" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_amigos" name="ind_amigos" type="text" mdbActive>
                    <label for="ind_amigos">Amigos</label>
                </div>
                <div class="md-form">
                    <input id="ind_pasa_tiempos" class="form-control form-control-sm" [(ngModel)]="desarrollo.ind_pasa_tiempos" name="ind_pasa_tiempos" type="text" mdbActive>
                    <label for="ind_pasa_tiempos">Pasa tiempos</label>
                </div>
            </div>
        </div>
        <div *ngIf="verAtender" class="row">
            <div *ngIf="verBotonguardar" class="col-3 offset-1">
                <button type="submit" (click)="saveOrUpdateDesarrollo()" class="btn btn-success waves-light" mdbRippleRadius>Guardar Desarrollo</button>
            </div>
            <div *ngIf="verBotonEditar" class="col-3 offset-1">
                <button type="submit" (click)="saveOrUpdateDesarrollo()" class="btn btn-success waves-light" mdbRippleRadius>Editar Desarrollo</button>
            </div>            
        </div>

    </tab>
    <tab tabTitle="Anamnecis Familiar">
        <br>
        <div class="row">
            <div class="col-6">
                <div class="md-form">
                    <textarea name="progreso" id="progreso" cols="100" rows="3" [(ngModel)]="Anamnesisfamiliar.anamnesisFamiliar_rehab" class="md-textarea" mdbActive>
          </textarea>
                    <label for="progreso">7. Anamnesi Familiar</label>
                </div>
                <div class="md-form">
                    <textarea name="progreso" id="progreso" cols="100" rows="3" [(ngModel)]="Anamnesisfamiliar.problemasactuales" class="md-textarea" mdbActive>
        </textarea>
                    <label for="progreso">8. Problemas Actuales</label>
                </div>
            </div>
            <div class="col-6">
                <div class="md-form">
                    <p><strong>9. Solicitudad de Ayuda: </strong>{{referencia.solicitud_ayuda}}</p>                    
                </div>
                <div class="md-form">
                    <p><strong>10. Derivación: </strong>{{referencia.derivacion}}</p>                    
                </div>
            </div>
        </div>
        <div *ngIf="verAtender" class="row">
            <div *ngIf="verBotonguardar" class="col-3 offset-1">
                <button type="submit" (click)="saveOrUpdateAnamnecisFamiliars()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
            </div>
            <div *ngIf="verBotonEditar" class="col-3 offset-1">
                <button type="submit" (click)="saveOrUpdateAnamnecisFamiliars()" class="btn btn-pink" mdbRippleRadius>Editar</button>
            </div>            
        </div>
    </tab>
</tabs>