<h3 class="text-center">Diagnostico Médico</h3>
<br>
<!-- <button type="button" class="btn btn-outline-info waves-effect" mdbRippleRadius (click)="getDiagnosticoMedico()" >Cargar Datos</button> -->
<div class="row">
    <div class="col-6">
        <!-- <h3 class="text-center">Descripcion</h3> -->
        <div class="md-form">
            <p> Descripcion</p>
            <textarea rows="2" cols="100" name="diagnostico" [(ngModel)]="diagnostico.diagnostico" class="md-textarea">
        
      </textarea>
            <!-- <label for="diagnostico">Descripcion</label> -->
        </div>
        <div class="md-form">
            <input class="form-control form-control-sm" [(ngModel)]="diagnostico.nombre_medico" name="nombre_medico" type="text" mdbActive>
            <label for="nombre_medico">Diagnostico Medico</label>
        </div>
        <br>
        <div class="md-form">
            <p>Diagnostico de sospecha</p>
            <!-- <h3 class="text-center">Diagnostico de sospecha</h3> -->
            <textarea rows="2" cols="100" name="sospecha_diagnostico" [(ngModel)]="diagnostico.sospecha_diagnostico" class="md-textarea" mdbActive>

      </textarea>
            <!-- <label for="sospecha_diagnostico">Diagnostico de sospecha</label> -->
        </div>
        <div class="md-form">
            <input class="form-control form-control-sm" [(ngModel)]="diagnostico.segun_sospecha" name="segun_sospecha" type="text" mdbActive>
            <label for="segun_sospecha">Según</label>
        </div>
    </div>
    <div class="col-6">
        <div class="md-form">
            <input class="form-control form-control-sm" [(ngModel)]="diagnostico.lugar_diagnostico" name="lugar_diagnostico" type="text" mdbActive>
            <label for="lugar_diagnostico">Donde</label>
        </div>
        <div class="input-group mb-3">
            <label for="fdiagnostico">Cuando</label>
            <input class="form-control form-control-sm" [(ngModel)]="diagnostico.fdiagnostico" name="fdiagnostico" type="date">
        </div>

        <div class="input-group mb-3">
            <label for="">Foto</label>
            <input type="file" (change)="handleFileSelect($event)" placeholder="Cargar foto..." accept="image/*">
        </div>
        <span *ngIf="diagnostico.evidencia_diagnostico">
          <img src="data:image/jpg;base64,{{diagnostico.evidencia_diagnostico}}" class="rounded mx-auto d-block" width="350px">

        </span>

    </div>
</div>

<div *ngIf="verAtender" class="row">
    <div class="col-2 offset-1">
        <button type="submit" (click)="saveOrUpdateDiagnostico()" class="btn btn-pink">Guardar</button>
    </div>
    <!-- <div class="col-2 offset-2" *ngIf="guardado">
    <span class="guardado">Guardado</span>
  </div> -->
</div>