<div class="container-fluid">
    <h2 class="text-center">Ficha de evaluacion Fisica</h2>
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4 class="text-center">Código Historial: <strong style="color: black">{{expedientes.codigohistorial}}
                </strong> </h4>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h4>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-center"> Padres y apoderado </h3>
                <div class="row">
                    <div class="col-6 offset-3">
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Nombre y Apellido</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-info" *ngFor="let padre of padres">
                                    <td>{{padre.tipo_apoderado}}</td>
                                    <td>{{padre.nombre_apoderado}} {{padre.apellido_apoderado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div>
                        <label for="fregistro">Fecha de Registro:</label>
                        <input type="date" name="fregistro" [(ngModel)]="evaluacionfisica.fregistro" id="fregistro">
                    </div>
                </div>
                <div *ngIf="verAtender">
                    <button type="submit" (click)="saveOrUpdateEvaluacionFisica()" *ngIf="!verOrtasTerapias" class="btn btn-pink">Crear</button>
                </div>
            </div>
        </tab>

        <tab tabTitle="Diagnostico Médico" *ngIf="verOrtasTerapias">
            <app-diagnostico [idterapiafisica]="idterapiafisica">

            </app-diagnostico>
        </tab>

        <tab tabTitle="Anamnesis Clinico" *ngIf="verOrtasTerapias">
            <app-anamnecis [expedientes]="expedientes" [idterapiafisica]="idterapiafisica">
            </app-anamnecis>
        </tab>

        <tab tabTitle="Inspección" *ngIf="verOrtasTerapias">
            <app-inspeccion [idterapiafisica]="idterapiafisica">
            </app-inspeccion>
        </tab>

        <tab tabTitle="Biometria" *ngIf="verOrtasTerapias">
            <app-biometria [idterapiafisica]="idterapiafisica">
            </app-biometria>
        </tab>

        <tab tabTitle="Rango Articular" *ngIf="verOrtasTerapias">
            <app-mov-articulaciones [idterapiafisica]="idterapiafisica">
            </app-mov-articulaciones>
        </tab>

        <tab tabTitle="Fuerza" *ngIf="verOrtasTerapias">
            <app-fuerza [idterapiafisica]="idterapiafisica">
            </app-fuerza>
        </tab>

        <tab tabTitle="Espasticidad" *ngIf="verOrtasTerapias">
            <app-especifica [idterapiafisica]="idterapiafisica">
            </app-especifica>
        </tab>

        <tab tabTitle="Actividades" *ngIf="verOrtasTerapias">
            <app-actividades [idterapiafisica]="idterapiafisica">
            </app-actividades>
        </tab>

        <tab tabTitle="Marcha" *ngIf="verOrtasTerapias">
            <app-pierna [idterapiafisica]="idterapiafisica">
            </app-pierna>
        </tab>

        <tab tabTitle="Diagrama Final" *ngIf="verOrtasTerapias">
            <app-final [idterapiafisica]="idterapiafisica">
            </app-final>
        </tab>

        <tab tabTitle="Archivos" *ngIf="verOrtasTerapias">
            <tabs>
                <tab *ngIf="verAtender" tabTitle="Subir archivos">
                    <div class="container">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <a class="navbar-brand text-center">Subir archivos</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h5>Archivos seleccionados</h5>
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                                    <p class="text-center" style="width: auto; height: auto;">Arrastrar Archivo</p>
                                </div>
                                <!-- Multiple -->
                                <!-- <input type="file" ng2FileSelect [uploader]="uploader" multiple /> -->
                                <!-- <br/> Solo uno
                                                <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                            </div>

                            <div class="col-8" style="margin-bottom: 40px">
                                <h5>Cargas en cola</h5>
                                <p>Cantidad: {{ uploader?.queue?.length }}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Nombre</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of uploader.queue">
                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">

                          <span class="glyphicon glyphicon-upload"></span> Subir
                        </button>
                                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()" [disabled]="item.isReady">
                          <span class="glyphicon glyphicon-trash"></span> Eliminar
                        </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <div>
                                        <p>Progreso</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"><span class="glyphicon glyphicon-upload"></span>
                    Subir todos</button>
                                    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"><span class="glyphicon glyphicon-trash"></span>
                    Eliminar todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab tabTitle="lista de archivos">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="text-center">Listar archivos</h3>
                        </div>
                        <div class="col-2">
                                <div (click)="imprimirFiles()">
                                        <i class="fas fa-sync-alt">Listar</i>
                                    </div>
                        </div>
                    </div>
                    <!-- <div class="container animated fadeIn"> -->
                    <div class="card container animated fadeIn">
                        <div class="card-body">
                            <table class="table table-hover table-responsive-md table-fixed">
                                <thead class="table-dark">
                                    <tr>
                                        <th style="width: 15px;">Nº</th>
                                        <th>Documentos</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of documentnames; let i = index ">
                                        <th>{{i}}</th>
                                        <td class="linkdescarga" (click)="descargar(item)">{{item}}</td>
                                        <td (click)="eliminararchivo(item)"> <i class="fas fa-trash"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </tab>
            </tabs>
        </tab>
    </tabs>
</div>