<div class="row">
    <div class="col-9">
        <h3 class="text-center">3. Movilidad de las articulaciones</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selecaniomovarti (change)="setNewbiometriaanios(selecaniomovarti.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>


<button *ngIf="verBotoniniliza" type="button" class="btn btn-pink z-depth-3" (click)="inicializarMovilida()">Iniciar</button>
<div *ngIf="verMovilidad">
    <div class="row">
        <div class="col-9">
            <button type="button" *ngIf="primeraparte" class="btn btn-pink z-depth-3" (click)="verprimerSeguimientoMovimiento()">primer
        Siguimiento</button>
            <button type="button" *ngIf="segundaparte" class="btn btn-pink z-depth-3" (click)="versegundoSeguimientoMovimiento()">Segundo
        Siguimiento</button>
        </div>
        <div class="col-3">
            <button type="button" *ngIf="noverprimerboton" class="btn btn-outline-warning waves-effect" (click)="noverprimerpSeguimientoMovimiento()">ocultar
        primero</button>
            <button type="button" *ngIf="noversegundoboton" class="btn btn-outline-warning waves-effect" (click)="noversegundoSeguimientoMovimiento()">ocultar
        segundo</button>
        </div>
    </div>
    <table class="table table-bordered table-responsive-md z-depth-3">
        <thead class="cyan lighten-3">
            <tr>
                <th colspan="2" rowspan="3"></th>
                <th rowspan="3">Ref</th>
                <th class="text-center" colspan="2">Movilidad(*)</th>
                <th class="text-center" colspan="2" *ngIf="verPrimerSeguimiento">Primer Seguimiento</th>
                <th class="text-center" colspan="2" *ngIf="versegundoSeguimiento">Segundo Seguimiento</th>
                <th rowspan="3">Observaciones</th>
            </tr>
            <tr>
                <th class="text-center" colspan="2">
                    <input [(ngModel)]="segmovilidad0.fseguimiento" type="date" class="form-control" name="fseguimiento"></th>
                <th class="text-center" colspan="2" *ngIf="verPrimerSeguimiento">
                    <input [(ngModel)]="segmovilidad1.fseguimiento" type="date" class="form-control" name="fseguimiento"></th>
                <th class="text-center" colspan="2" *ngIf="versegundoSeguimiento">
                    <input [(ngModel)]="segmovilidad2.fseguimiento" type="date" class="form-control" name="fseguimiento"></th>
            </tr>
            <tr>
                <th>Iz(cm)</th>
                <th>De(cm)</th>
                <th *ngIf="verPrimerSeguimiento">Iz(cm)</th>
                <th *ngIf="verPrimerSeguimiento">De(cm)</th>
                <th *ngIf="versegundoSeguimiento">Iz(cm)</th>
                <th *ngIf="versegundoSeguimiento">De(cm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="6">Cadera</th>
                <td>Extensión</td>
                <td>25º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaextiz" name="caderaextiz" id="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaextder" name="caderaextder" id="caderaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaextiz" name="caderaextiz" id="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaextder" name="caderaextder" id="caderaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaextiz" name="caderaextiz" id="caderaextiz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaextder" name="caderaextder" id="caderaextder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscadeext" name="obscadeext" id="obscadeext" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión</td>
                <td>140º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscaderaflex" name="obscaderaflex" id="obscaderaflex" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción; Extensión de la rodilla</td>
                <td>45º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaabexciz" name="caderaabexciz" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaabexcder" name="caderaabexcder" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaabexciz" name="caderaabexciz" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaabexcder" name="caderaabexcder" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaabexciz" name="caderaabexciz" id="caderaabexciz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaabexcder" name="caderaabexcder" id="caderaabexcder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscaderaabduext" name="obscaderaabduext" id="obscaderaabduext" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Abducción; flexion de la rodilla</td>
                <td>45º-60º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaabfleiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderaabfleder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaabfleiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderaabfleder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaabfleiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderaabfleder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscaderaabduflex" name="obscaderaabduflex" id="obscaderaabduflex" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Rotacón Externa</td>
                <td>45º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderarotextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderarotextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderarotextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderarotextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderarotextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderarotextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscaderarotext" name="obscaderarotext" id="obscaderarotext" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Rotacón Interna</td>
                <td>45º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderarotintiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.caderarotintder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderarotintiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.caderarotintder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderarotintiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.caderarotintder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscaderarotint" name="obscaderarotint" id="obscaderarotint" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="3">Rodilla</th>
                <td>Extensión; extensión de la cadera</td>
                <td>0º-10º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaextiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaextder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsrodillaextext" name="obsrodillaextext" id="obsrodillaextext" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Extensión; Flexión de la cadera</td>
                <td>-20º-0º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaextflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaextflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaextflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaextflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaextflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaextflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsrodillaextflex" name="obsrodillaextflex" id="obsrodillaextflex" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión</td>
                <td>140º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.rodillaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.rodillaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaflexiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.rodillaflexder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsrodillaflex" name="obsrodillaflex" id="obsrodillaflex" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Tobillo</th>
                <td>Dorsiflexión, Rodilla doblada</td>
                <td>100º-120º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.tobillosoleusiz" name="tobillosoleusiz" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.tobillosoleusder" name="tobillosoleusder" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.tobillosoleusiz" name="tobillosoleusiz" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.tobillosoleusder" name="tobillosoleusder" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.tobillosoleusiz" name="tobillosoleusiz" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.tobillosoleusder" name="tobillosoleusder" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obstobillosoleus" name="obstobillosoleus" id="obstobillosoleus" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Dorsiflexión, Rodilla estirada</td>
                <td>100º-110º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.tobillogastociz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.tobillogastocider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.tobillogastociz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.tobillogastocider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.tobillogastociz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.tobillogastocider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obstobillogastoc" name="obstobillogastoc" id="obstobillogastoc" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="4">Hombro</th>
                <td>Abducción</td>
                <td>180º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroabdiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroabdder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroabdiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroabdder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroabdiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroabdder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obshombroabdu" name="obshombroabdu" id="obshombroabdu" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Anteflexión</td>
                <td>180º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroanteiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroanteider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroanteiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroanteider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroanteiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroanteider" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obshombroantef" name="obshombroantef" id="obshombroantef" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Exorotación</td>
                <td>90º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroexoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroexorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroexoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroexorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroexoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroexorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obshombroexor" name="obshombroexor" id="obshombroexor" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Endorotación</td>
                <td>90º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroendoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.hombroendorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroendoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.hombroendorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroendoriz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.hombroendorder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obshombroendor" name="obshombroendor" id="obshombroendor" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Codo</th>
                <td>Extensión</td>
                <td>0º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.codoentiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.codoentder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.codoentiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.codoentder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.codoentiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.codoentder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscodoext" name="obscodoext" id="obscodoext" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Supinación</td>
                <td>85º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.codosupiniz" name="codosupiniz" id="codosupiniz" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.codosupinder" name="codosupinder" id="codosupinder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.codosupiniz" name="codosupiniz" id="codosupiniz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.codosupinder" name="codosupinder" id="codosupinder" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.codosupiniz" name="codosupiniz" id="codosupiniz" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.codosupinder" name="codosupinder" id="codosupinder" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obscodosupin" name="obscodosupin" id="obscodosupin" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <th rowspan="2">Mano</th>
                <td>Dorsiflexión</td>
                <td>90º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.manodorsifiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.manodorsifder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.manodorsifiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.manodorsifder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.manodorsifiz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.manodorsifder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsmanodorsif" name="obsmanodorsif" id="obsmanodorsif" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Flexión palmar</td>
                <td>90º</td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.manoflexioniz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad0.manoflexionder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.manoflexioniz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="verPrimerSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad1.manoflexionder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.manoflexioniz" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td *ngIf="versegundoSeguimiento">
                    <div class="md-form form-sm">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="segmovilidad2.manoflexionder" name="edad" id="edad" size="6" maxlength="6">
                    </div>
                </td>
                <td>
                    <div class="md-form form-sm observacion">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsmanoflex" name="obsmanoflex" id="obsmanoflex" size="50" maxlength="50">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.conclusion" name="conclusion" id="conclusion">
        <label for="Conclusion">Conclusión</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.difIzqDerecha" name="difIzqDerecha" id="difIzqDerecha">
        <label for="Diferencia">Diferencia De-Izq</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.limitaciones" name="limitaciones" id="limitaciones">
        <label for="Reducciones">Reducciones</label>
    </div>
    <div class="md-form form-sm">
        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="obsmovilidad.obsfinal" name="obsfinal" id="obsfinal">
        <label for="Observaciones">Observaciones</label>
    </div>
    <div class="row" *ngIf="verAtender">
        <div class="col-sm-offset-1 col-sm-3" *ngIf="primeraparte">
            <button type="submit" *ngIf="VerGuardar0" (click)="saveOrUpdateSegMovilidad0()" class="btn btn-pink" mdbRippleRadius>Guardar Evaluación</button>
            <button type="submit" *ngIf="Actualizar0" (click)="saveOrUpdateSegMovilidad0()" class="btn btn-pink" mdbRippleRadius>Actualizar Evaluación</button>
        </div>
        <div class="col-sm-offset-1 col-sm-3" *ngIf="segundaparte">
            <button type="submit" *ngIf="VerGuardar1" (click)="saveOrUpdateSegMovilidad1()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 1</button>
            <button type="submit" *ngIf="Actualizar1" (click)="saveOrUpdateSegMovilidad1()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 1</button>
        </div>
        <div class="col-sm-offset-1 col-sm-3" *ngIf="terceraparte">
            <button type="submit" *ngIf="VerGuardar2" (click)="saveOrUpdateSegMovilidad2()" class="btn btn-pink" mdbRippleRadius>Guardar Seguimiento 2</button>
            <button type="submit" *ngIf="Actualizar2" (click)="saveOrUpdateSegMovilidad2()" class="btn btn-pink" mdbRippleRadius>Actualizar Seguimiento 2</button>
        </div>
    </div>
</div>