$desktop: 1140px;
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

* {
    padding: 0;
    margin: 0;
}

mdb-navbar {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    logo {
        margin-left: 10px;
    }
    @include desktop {
        logo {
            display: none;
        }
    }
}

logo {
    position: relative;
    left: 0;
    a {
        font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
        font-weight: 500;
        font-size: 15px;
        margin: auto;
    }
}

links {
    // margin-right: -200px;
    .navbar-nav {
        margin-right: 0%;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 20% 20% 25% 10%;
    }
}

ul.dropdown-user {
    list-style: none;
    margin-top: 10px;
    li {
        text-decoration: none;
    }
    li:hover {
        background-color: transparent;
        color: rgb(213, 67, 218);
        border-radius: 5%;
        cursor: pointer;
        text-decoration: none;
    }
}

li:hover {
    background-color: transparent;
    color: rgb(213, 67, 218);
    border-radius: 5%;
    cursor: pointer;
    text-decoration: none;
}

a {
    font-size: 15px;
    // padding: 0 20px 0 0;
    letter-spacing: 2px;
    color: brown;
}

li {
    position: relative;
    right: 0;
    text-decoration: none;
    text-transform: none;
    a {
        color: brown;
        font-weight: 300;
    }
}

li.btn-group {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

img.profile-pic {
    border-radius: 50%;
}

div.dw-user-box {
    display: inline;
}
.fas {
    color: white;
}