<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-pink">

    <!-- <logo>
        <a class="navbar-brand">WASI ESPERANZA</a>
    </logo> -->
    <links>
        <ul class="navbar-nav">
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius> <i style="color:white" class="fas fa-chart-pie"></i>Estadistica<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-dark" role="menu">
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" routerLink="Estadistica" mdbRippleRadius> <i style="color:white" class="fas fa-chart-pie"></i> Estadistica
                    </a>
                </div>
            </li>


            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Historial<span
            class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-dark" role="menu">
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" routerLink="historialgeneral" mdbRippleRadius>Historial General</a>
                </div>
            </li>

            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Administración<span
            class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-dark" role="menu">
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" routerLink="Iniciar" mdbRippleRadius>Iniciar Agenda</a>
                </div>
            </li>

            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Configuraciones<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-dark" role="menu">
                    <a *ngIf="verAtender" class="dropdown-item waves-light" routerLink="Asignarrol" mdbRippleRadius>Rol</a>
                    <a class="dropdown-item waves-light" routerLink="ListarUsuario" mdbRippleRadius>Personal</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" routerLink="Areaslistar" mdbRippleRadius>Areas</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" routerLink="Listamedicamento" mdbRippleRadius>Medicamentos </a>
                    <a class="dropdown-item waves-light" routerLink="materialesrehabilitacion" mdbRippleRadius>Materiales</a>
                </div>
            </li>
            <!-- ===================avatar================== -->
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="urlimg" height="30px" alt="user" class="profile-pic" />
                </a>
                <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                    <ul class="dropdown-user">
                        <li>
                            <div class="dw-user-box">
                                <div class="objetfit"><img [src]="urlimg" height="150px" width="150px" alt="user"></div>
                                <div class="u-text">
                                    <h5>{{nombre}}</h5>
                                </div>
                            </div>
                        </li>

                        <li><a routerLink="horario" class="dropdown-item waves-light"><span class="parpadea text"><i
                    class="fas fa-envelope"></i></span>Mensaje
              </a></li>
                        <li><a routerLink="perfil" class="dropdown-item waves-light"><i class="fas fa-cogs"></i>Perfil</a></li>
                        <li (click)="cerrarseccion()"><a class="dropdown-item waves-light"><i class="fas fa-power-off"></i>
                Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>