<tabs>
    <tab tabTitle="Garantia">
        <div class="container-fluit animated fadeIn">
            <div class="row">
                <div class="col-6">
                    <label for="">Buscar</label>
                    <input type="text" [(ngModel)]="term1" class="form-control form-control-sm">
                </div>
            </div>
            <h3 class="text-center">Materiales con garantia</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" id="idlistamateria">
                            <!--Table-->
                            <table class="table table-hover table-responsive-md table-fixed" id="tablalistamateriales">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Condición</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>
                                        <th scope="col">Codigo</th>
                                        <th>Monto</th>
                                        <th class="none">Boton</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prestado of prestados |filter:term1 | paginate: { itemsPerPage: 30, currentPage: p }">
                                        <td>{{prestado.idexpediente.nombre}} {{prestado.idexpediente.primer_apellido}} {{prestado.idexpediente.segundoapellido}}
                                        </td>
                                        <td>{{prestado.idmaterialortopedico.nombre}}</td>
                                        <td>{{prestado.condicionprestamo}}</td>
                                        <td>{{prestado.finiciooperacion}}</td>
                                        <td>{{prestado.ffinprestamo}}</td>
                                        <td>{{prestado.codigoboleta}}</td>
                                        <td>{{prestado.monto}}</td>
                                        <td class="none" (click)="devuelto(prestado)"><i class="fa fa-edit"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <div class="row">
                <div class="col-1 offset-9">
                    <button (click)="exportTableToExcel('tablalistamateriales','LISTA DE MEDICAMENTOS')">Excel File</button>
                </div>
                <div class="col-1">
                    <p>
                        <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
                    </p>
                </div>
            </div>
        </div>

    </tab>
    <tab tabTitle="Alquiler">
        <div class="container-fluit animated fadeIn">
            <div class="row">
                <div class="col-6 offset-md-3">
                    <label for="">Buscar</label>
                    <input type="text" [(ngModel)]="term1" class="form-control form-control-sm">
                </div>
            </div>
            <h3 class="text-center">Materiales alquilados</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" id="idlistamateria">
                            <!--Table-->
                            <table class="table table-hover table-responsive-md table-fixed" id="tablalistamateriales">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Condición</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Fin</th>
                                        <th scope="col">Codigo</th>
                                        <th>Monto</th>
                                        <th class="none">Boton</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let alquilado of alquileres |filter:term1 | paginate: { itemsPerPage: 30, currentPage: p }">
                                        <td>{{alquilado.idexpediente.nombre}} {{alquilado.idexpediente.primer_apellido}} {{alquilado.idexpediente.segundoapellido}}
                                        </td>
                                        <td>{{alquilado.idmaterialortopedico.nombre}}</td>
                                        <td>{{alquilado.condicionprestamo}}</td>
                                        <td>{{alquilado.finiciooperacion}}</td>
                                        <td>{{alquilado.ffinprestamo}}</td>
                                        <td>{{alquilado.codigoboleta}}</td>
                                        <td>{{alquilado.monto}}</td>
                                        <td class="none" (click)="devuelto(prestado)"><i class="fas fa-edit"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <div class="row">
                <div class="col-1 offset-9">
                    <button (click)="exportTableToExcel('tablalistamateriales','LISTA DE MEDICAMENTOS')">Excel File</button>
                </div>
                <div class="col-1">
                    <p>
                        <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
                    </p>
                </div>
            </div>
        </div>

    </tab>

    <tab tabTitle="Ventas">
        <br>
        <div class="container-fluit animated fadeIn">
            <div class="row">
                <div class="col-6 offset-md-3">
                    <label for="">Buscar</label>
                    <input type="text" [(ngModel)]="term2" class="form-control form-control-sm">
                </div>
            </div>
            <h3 class="text-center">Materiales Vendidos</h3>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!--Table-->
                            <table class="table table-hover table-responsive-md table-fixed">
                                <thead>
                                    <tr class="table-dark">
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Condición</th>
                                        <th scope="col">Inicio</th>
                                        <th scope="col">Codigo</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let vendido of vendidos |filter:term2 | paginate: { itemsPerPage: 20, currentPage: p }">
                                        <td>{{vendido.idexpediente.nombre}} {{vendido.idexpediente.primer_apellido}} {{vendido.idexpediente.segundoapellido}}
                                        </td>
                                        <td>{{vendido.idmaterialortopedico.nombre}}</td>
                                        <td>{{vendido.finiciooperacion}}</td>
                                        <td>{{vendido.condicionprestamo}}</td>
                                        <td>{{vendido.codigoboleta}}</td>
                                        <td>{{vendido.monto}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </tab>
</tabs>

<!-- inicio del ventana modal -->
<div class="modal fade" id="prestado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Devolución</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="saveOrUpdatePrestamo()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del modal -->