<div class="row">
    <div class="col-9">
        <h3 class="text-center">II. NIVEL DE ACTIVIDAD</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selecanioresultado (change)="setNewbiometriaanios(selecanioresultado.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>
<h5 class="text-center">Resultado de escala</h5>
<div class="row">
    <div class="col-6">
        <div class="md-form form-sm">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.aims" name="aims" id="marcha">
            <label for="marcha">AIMS</label>
        </div>

        <!-- <h4 class="text-center green-text">Imagenes</h4>
        <div class="form-grup">
            <label for="">imagen 1</label>
            <input type="file" (change)="handleFileSelectimagen1($event)" accept="image/*">
        </div>
        <div class="form-grup">
            <label for="">imagen 2</label>
            <input type="file" (change)="handleFileSelectimagen2($event)" accept="image/*">
        </div>
        <div class="form-grup">
            <label for="">imagen 3</label>
            <input type="file" (change)="handleFileSelectimagen3($event)" accept="image/*">
        </div>
        <div class="form-grup">
            <label for="">imagen 4</label>
            <input type="file" (change)="handleFileSelectimagen4($event)" accept="image/*">
        </div> -->
       
        <div class="border offset-1">            
            <div class="md-form form-sm">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfma" name="gmfma" id="Diferencia">
                <label for="Diferencia">GMFM A<span>*</span>: %</label>
            </div>
            <div class="md-form form-sm">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfmb" name="gmfmb" id="Diferencia">
                <label for="Diferencia">GMFM B<span>*</span>: %</label>
            </div>
            <div class="md-form form-sm">
                <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfmc" name="gmfmc" id="Diferencia">
                <label for="Diferencia">GMFM C<span>*</span>: %</label>
            </div>
        </div>
            <div class="md-form form-sm">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.macs" name="macs" id="marcha">
                    <label for="marcha">MACS</label>
                </div>
        <br>
        

        <!-- <h4 class="text-center green-text">Imagenes</h4>
        <div class="form-grup">
            <label for="">imagen 1</label>
            <input type="file" (change)="handleFileSelectimagen5($event)" accept="image/*">
        </div>
        <div class="form-grup">
            <label for="">imagen 2</label>
            <input type="file" (change)="handleFileSelectimagen6($event)" accept="image/*">
        </div>
        <br> -->
        
    </div>
    <div class="col-6">
            <div class="md-form form-sm">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfcs" name="gmfcs" id="gmfcs">
                    <label for="marcha">GMFCS</label>
                </div>
                <div class="border">
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfmd" name="gmfmd" id="Diferencia">
                        <label for="Diferencia">GMFM D<span>*</span>: %</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="resultado.gmfme" name="gmfme" id="Diferencia">
                        <label for="Diferencia">GMFM E<span>*</span>: %</label>
                    </div>
                    <div class="md-form form-sm">
                        <input type="text" mdbActive class="form-control form-control-sm" (click)="sumartotal()" [(ngModel)]="total" name="total" id="Diferencia">
                        <label for="Diferencia">Total<span>*</span></label>
                    </div>
                </div>

        <!-- <div class="border">
            <span *ngIf="resultado.imgunoaims">
        <img src="data:image/jpg;base64,{{resultado.imgunoaims}}" class="rounded mx-auto d-block animated bounce "
          width="350px">
      </span>
            <span *ngIf="resultado.imgdosaims">
        <img src="data:image/jpg;base64,{{resultado.imgdosaims}}" class="rounded mx-auto d-block animated bounce" width="350px">
      </span>
            <span *ngIf="resultado.imgtresaims">
        <img src="data:image/jpg;base64,{{resultado.imgtresaims}}" class="rounded mx-auto d-bloc animated bouncek"
          width="350px">
      </span>
            <span *ngIf="resultado.imgcuatroaims">
        <img src="data:image/jpg;base64,{{resultado.imgcuatroaims}}" class="rounded mx-auto d-bl animated bounceock"
          width="350px">
      </span>
        </div> -->
        <!-- <div class="border">
            <span *ngIf="resultado.imgunogmfm">
        <img src="data:image/jpg;base64,{{resultado.imgunogmfm}}" class="rounded mx-auto d-block animated bounce" width="350px">
      </span>
            <span *ngIf="resultado.imgdosgmfm">
        <img src="data:image/jpg;base64,{{resultado.imgdosgmfm}}" class="rounded mx-auto d-block animated bounce" width="350px">
      </span>
        </div> -->
    </div> 
</div>

<div class="col-3 offset-2" *ngIf="verAtender">
    <button type="submit" (click)="saveOrUpdateResultado()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
</div>