<div class="container">
    <h2 class="text-center">Editar nuevo Personal</h2>
    <form class="form-horizontal main-form">
        <div *ngIf="!isValid" class="alert alert-danger">
            <strong>Danger!</strong> {{message}}.
        </div>
        <div class="row">
            <div class="col-6">
                <div class="md-form">
                    <p>Nombre: <i style="color:blue">{{user.nombrepersonal}} {{user.apppaterno}} </i><i style="color:blue" *ngIf="user.appmaterno">{{user.appmaterno}}</i></p>
                </div>
                <div class="form">
                    <label for="fcumple">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" name="fcumple" [(ngModel)]="user.fcumple" id="fcumple">
                </div>
                <div class="md-form">
                    <label for="hobby">Hobby</label>
                    <textarea id="hobby" rows="4" cols="50" [(ngModel)]="user.hobby" name="hobby" class="md-textarea" mdbActive></textarea>
                </div>
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="profesion" [(ngModel)]="user.profesion" id="profesion">
                    <label for="profesion">Profesión</label>
                </div>
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="telefono" [(ngModel)]="user.telefono" id="telefono">
                    <label for="telefono">Teléfono</label>
                </div>                
                <div class="row">
                    <div class="col-6">
                        <button type="submit" (click)="saveOrUpdate()" class="btn btn-pink" spring mdbRippleRadius>Guardar</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" (click)="cancelar()" class="btn btn-cancel" spring mdbRippleRadius>Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-6">

                <div class="container">
                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <a class="navbar-brand text-center">Subir foto</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Archvido de  <span style="color:red">300x300pixeles</span> </h5>
                            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
                                <p class="text-center" style="width: auto; height: auto;">Arrastrar Archivo</p>
                            </div>
                        </div>

                        <div class="col-12" style="margin-bottom: 40px">
                            <h5>Cargas en cola</h5>
                            <p>Cantidad: {{ uploader?.queue?.length }}</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">Nombre</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td><strong>{{ item?.file?.name }}</strong></td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Subir
                      </button>
                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()" [disabled]="item.isReady">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                      </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div>
                                    <p>Progreso</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"><span
                    class="glyphicon glyphicon-trash"></span>
                  Eliminar todos</button>
                            </div>
                        </div>
                    </div>
                    <div>
                            <img [src]="urlimg" width="200px" height="200px">
                        </div>
                </div>



            </div>
        </div>

    </form>
</div>