<div class="p-3">
    <h3 class="text-center">Campañas de salud</h3>
    <tabs>
        <tab tabTitle="Campañas">
            <div class="row">
                <div class="col-12">
                    <div class="animated fadeIn">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-hover table-responsive-md table-fixed">
                                    <thead>
                                        <tr class="table-dark">
                                            <th colspan="9" class="text-center">LISTA DE CAMPAÑAS</th>
                                        </tr>
                                        <tr class="table-dark">
                                            <th>Nombre</th>
                                            <th>Servicio 1</th>
                                            <th>Servicio 2</th>
                                            <th>Servicio 3</th>
                                            <th>Servicio 4</th>
                                            <th>Servicio 5</th>
                                            <th>Servicio 6</th>
                                            <th>Fecha</th>
                                            <th>Boton</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listacamanias">
                                            <th>{{item.nombrecampania}}</th>
                                            <td>{{item.servicio1}}</td>
                                            <td>{{item.servicio2}}</td>
                                            <td>{{item.servicio3}}</td>
                                            <td>{{item.servicio4}}</td>
                                            <td>{{item.servicio5}}</td>
                                            <td>{{item.servicio6}}</td>
                                            <td>{{item.fcampania}}</td>
                                            <td (click)="editecampania(item)"><i class="fas fa-edit"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- https://bootsnipp.com/snippets/featured/circle-button -->
                <button id="add-contact-button" (click)="CreandoCampania()" type="button" class="btn btn-info btn-circle btn-xl"><i
            style="color:white; font-size: 20px;" class="fas fa-user-md"></i></button>
            </div>
            <br>
            <br>
            <br>
            <div class="row" *ngIf="lookcampania">
                <div class="col-6">
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.nombrecampania" name="nombrecampania" id="nombrecampania">
                        <label for="nombremedic">Nombre campaña</label>
                    </div>

                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio1" name="servicio1" id="servicio1">
                        <label for="costoadquisicion">Servicio 1</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio2" name="servicio2" id="servicio2">
                        <label for="caracteristica">Servicio 2</label>
                    </div>

                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio3" name="servicio3" id="servicio3">
                        <label for="costoventa">Servicio 3</label>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label for="nombremedic">Fecha</label>
                        <input type="date" class="form-control" [(ngModel)]="fechacampania" name="servifecha" id="servifecha">
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio4" name="servicio4" id="servicio4">
                        <label for="costoadquisicion">Servicio 4</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio5" name="servicio5" id="servicio5">
                        <label for="caracteristica">Servicio 5</label>
                    </div>
                    <div class="md-form">
                        <input type="text" mdbActive class="form-control" [(ngModel)]="capampanis.servicio6" name="servicio6" id="servicio6">
                        <label for="costoventa">Servicio 6</label>
                    </div>

                </div>
            </div>
            <div class="row" *ngIf="lookcampania">
                <div class="col-2">
                    <button type="submit" (click)="saveOrUpdateCampana()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
                </div>
                <div class="col-2">
                    <button type="submit" (click)="Cancelarcampa()" class="btn btn-cancel" mdbRippleRadius>Cancelar</button>
                </div>
            </div>
        </tab>
        <!-- tabla para la fecha de registro -->
        <tab tabTitle="Registro">
            <div class="row">
                <div class="col-5 offset-7">
                    <div>
                        <label>Campañas</label>
                        <select class="mdb-select colorful-select dropdown-dark" #selectCampanias (change)="setNewDistrito(selectCampanias.value)">
              <option disabled="disabled" value="">-Escoger Campaña-</option>
              <option *ngFor="let camania of listacamanias" [value]="camania.idcampaniaatencion">
                {{camania.nombrecampania}}
              </option>
            </select>
                    </div>
                </div>
                <hr>
                <div class="col-5" *ngIf="veratention">
                    <div class="md-form">
                        <input type="text" [(ngModel)]="atention.nombrepaciente" mdbActive class="form-control" name="nombremedic" id="nombremedic">
                        <label for="nombremedic">Nombre paciente<span>*</span></label>
                    </div>
                </div>
                <div class="col-2" *ngIf="veratention">
                    <div class="md-form">
                        <input type="number" [(ngModel)]="atention.edad" mdbActive class="form-control" name="edad" id="edad">
                        <label for="edad">Edad<span>*</span></label>
                    </div>
                </div>
                <div class="col-2" *ngIf="veratention">
                    <div class="md-form">
                        <input type="number" [(ngModel)]="atention.peso" mdbActive class="form-control" name="nombrecampania" id="peso">
                        <label for="peso">Peso</label>
                    </div>
                </div>
                <div class="col-2" *ngIf="veratention">
                    <label for="costoadquisicion">Fecha hoy</label>
                    <input type="date" class="form-control" [(ngModel)]="fechahoy" name="servicio1" id="servicio1">
                </div>
                <div class="col-1" *ngIf="veratention">
                    <button class="btn btn-info" (click)="saveOrUpdateAtention()"> <i class="fas fa-plus" style="color: white; font-weight: 700;"></i>
          </button>
                </div>
                <hr>
            </div>

            <div class="animated fadeIn" *ngIf="verTablaAtention">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-responsive-md table-fixed">
                            <thead>
                                <tr class="table-dark">
                                    <th colspan="4" class="text-center">LISTA DE INSCRITOS EN LA CAMPAÑA</th>
                                </tr>
                                <tr class="table-dark">
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>atender</th>
                                    <th>info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of atenciones">
                                    <th>{{item.nombrepaciente}}</th>
                                    <td>{{item.edad}}</td>
                                    <td (click)="editar(item)" data-target="#modalAtention" data-toggle="modal"><i class="fas fa-clipboard-list"></i></td>
                                    <td (click)="informacion(item)" data-target="#modalInfo" data-toggle="modal"><i class="fas fa-info-circle"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </tab>
    </tabs>

</div>

<div class="modal fade" id="modalAtention" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atender</h5>
                <button (click)="cancelar()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" [(ngModel)]="atention.nombrepaciente" mdbActive class="form-control" name="nombrepaciente" id="nombrepaciente">
                            <label for="nombrepaciente">Nombre paciente</label>
                        </div>
                        <div>
                            <label for="costoadquisicion">Fecha hoy</label>
                            <input type="date" class="form-control" [(ngModel)]="fechahoy" name="servicio1" id="servicio1">
                        </div>
                        <div class="md-form">
                            <label for="motivoconsulta">Motivo</label>
                            <textarea rows="4" id="motivoconsulta" [(ngModel)]="atention.motivoconsulta" cols="50" name="motivoconsulta" class="md-textarea" mdbActive></textarea>
                        </div>
                        <div class="md-form">
                            <!-- <input type="text" [(ngModel)]="atention.anamnesis" mdbActive class="form-control" name="anamnesis" id="anamnesis"> -->
                            <label for="anamnesis">Anamnesis</label>
                            <textarea rows="4" [(ngModel)]="atention.anamnesis" cols="50" id="anamnesis" name="anamnesis" class="md-textarea" mdbActive></textarea>
                        </div>
                        <div class="md-form">
                            <label for="cita">Cita</label>
                            <textarea rows="4" [(ngModel)]="atention.cita" cols="50" id="cita" name="cita" class="md-textarea" mdbActive></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="md-form">
                                    <input type="number" [(ngModel)]="atention.edad" mdbActive class="form-control" name="edad" id="edad">
                                    <label for="edad">Edad</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="md-form">
                                    <input type="number" [(ngModel)]="atention.peso" mdbActive class="form-control" name="peso" id="peso">
                                    <label for="peso">Peso</label>
                                </div>
                            </div>
                        </div>

                        <div class="md-form">
                            <input type="text" [(ngModel)]="atention.examenfisico" mdbActive class="form-control" name="examenfisico" id="examenfisico">
                            <label for="examenfisico">Examen físico</label>
                        </div>
                        <div class="md-form">
                            <label for="diagnostico">Diagnostivo</label>
                            <textarea rows="4" cols="50" id="diagnostico" [(ngModel)]="atention.diagnostico" name="diagnostico" class="md-textarea" mdbActive></textarea>
                        </div>
                        <div class="md-form">
                            <label for="tratamiento">Tratamiento</label>
                            <textarea rows="4" cols="50" id="tratamiento" [(ngModel)]="atention.tratamiento" name="tratamiento" class="md-textarea" mdbActive></textarea>
                        </div>
                        <div class="md-form">
                            <label for="recomendaciones">Recomendaciones</label>
                            <textarea rows="4" cols="50" id="recomendaciones" [(ngModel)]="atention.recomendaciones" name="recomendaciones" class="md-textarea" mdbActive></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cancelar()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="saveOrUpdateAtention()" class="btn btn-primary" data-dismiss="modal">Guarda</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atender</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <p><strong>Nombre</strong>: <i style="color:blue">{{infoatention.nombrepaciente}}</i></p>
                        <p><strong>Fecha</strong>: <i style="color:blue">{{infoatention.fregistro}}</i></p>
                        <p><strong>Anamnesis</strong>: <i style="color:blue">{{infoatention.anamnesis}}</i></p>
                        <p><strong>Diagnóstico</strong>: <i style="color:blue">{{infoatention.diagnostico}}</i></p>
                        <p><strong>Examen físico</strong>: <i style="color:blue">{{infoatention.examenfisico}}</i></p>
                        <p><strong>Recomendaciones</strong>: <i style="color:blue">{{infoatention.recomendaciones}}</i></p>
                    </div>
                    <div class="col-6">
                        <p><strong>Edad</strong>: <i style="color:blue">{{infoatention.edad}}</i></p>
                        <p><strong>Peso</strong>: <i style="color:blue">{{infoatention.peso}}</i></p>
                        <p><strong>Cita</strong>: <i style="color:blue">{{infoatention.cita}}</i></p>
                        <p><strong>Motivo consulta</strong>: <i style="color:blue">{{infoatention.motivoconsulta}}</i></p>
                        <p><strong>Tratamiento</strong>: <i style="color:blue">{{infoatention.tratamiento}}</i></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="cancelar()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="saveOrUpdateAtention()" class="btn btn-primary" data-dismiss="modal">Guarda</button>
            </div>
        </div>
    </div>
</div>