/* You can add global styles to this file, and also import other style files */

// @import "~fullcalendar/dist/fullcalendar.min.css";
h3,
div h3,
tab h3 {
    font-weight: 500;
    text-justify: auto;
    color: rgb(243, 134, 170);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    width: 250px;
    height: 100px;
    background: #ffffff;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

html,
body {
    height: 100%;
}

h2,
div h2,
tab h2 {
    font-weight: 700;
    text-justify: auto;
    color: rgb(243, 134, 170);
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4,
div h4,
tab h4 {
    font-weight: 500;
    text-justify: auto;
    color: black;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5,
div h5,
tab h5 {
    font-weight: 200;
    text-justify: auto;
    color: black;
    // text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//radio inicio 
$md-radio-checked-color: rgb(213, 67, 218);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 20px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
    }
}

// @import url(https://fonts.googleapis.com/css?family=Roboto);
.md-radio {
    margin: 7px 0;
    input[type="radio"] {
        display: none;
        &:checked+label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked+label:after {
            transform: scale(1);
        }
    }
    label {
        display: inline-block;
        height: $md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before,
        &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width: $md-radio-checked-size;
            height: $md-radio-checked-size;
            transform: scale(0);
            background: $md-radio-checked-color;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

thead td {
    color: crimson;
}

select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f034c1;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 95%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(238, 133, 203);
    -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
    box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

//radio fin
thead td {
    color: crimson;
}

// checboxk
// @import url(https://fonts.googleapis.com/css?family=Roboto);
$md-checkbox-margin: 10px 0;
$md-checkbox-checked-color: rgb(213, 67, 218);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;
$md-checkmark-width: 2px;
$md-checkmark-color: #fff;
.md-checkbox {
    position: relative;
    margin: $md-checkbox-margin;
    text-align: left;
    &.md-checkbox-inline {
        display: inline-block;
    }
    label {
        cursor: pointer;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }
        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: 2px solid $md-checkbox-border-color;
            border-radius: 2px;
            cursor: pointer;
            transition: background .3s;
        }
        // &:after {
        //   // checkmark
        // }    
    }
    input[type="checkbox"] {
        outline: 0;
        margin-right: $md-checkbox-size - 10px;
        visibility: hidden;
        &:checked {
            +label:before {
                background: $md-checkbox-checked-color;
                border: none;
            }
            +label:after {
                $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;
                transform: rotate(-45deg);
                top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
                left: $md-checkbox-padding;
                width: $md-checkmark-size;
                height: $md-checkmark-size / 2;
                border: $md-checkmark-width solid $md-checkmark-color;
                border-top-style: none;
                border-right-style: none;
            }
        }
        &:disabled {
            +label:before {
                border-color: $md-checkbox-border-color-disabled;
            }
            &:checked {
                +label:before {
                    background: $md-checkbox-checked-color-disabled;
                }
            }
        }
    }
}

select.mdb-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f034c1;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 75%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding-left: 2.2rem;
    margin: 10px 0 10px 0;
}

select.mdb-select:active {
    border-bottom: 1px solid rgb(238, 133, 203);
    -webkit-box-shadow: 0 1px 0 0 rgb(230, 111, 230);
    box-shadow: 0 1px 0 0 rgb(228, 32, 195);
}

label.otros1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

span.guardado {
    background: #fdfdfd;
    font-size: 20px;
    color: rgb(35, 89, 236);
}

div label span {
    color: red;
}

div.modal-content {
    padding: 20px;
    div.modal-header {
        background: rgb(255, 255, 255);
        h5 {
            text-align: center;
            text-transform: uppercase;
            color: black;
            font-weight: 700;
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    div.modal-body {
        i {
            color: purple;
        }
    }
}

.right {
    text-align: right;
}

i {
    color: red;
}

div .md-form,
div {
    label,
    p,
    td p {
        font-family: 'Times New Roman', Times, serif;
        color: #004d40;
        font-weight: 500;
        font-size: 20px;
    }
}

.form-group {
    border: 1px solid rgb(14, 23, 156);
    border-radius: 4px 10px 4px;
    height: auto;
}

button.btn-cancel {
    // color: #b57edc;
    background: #2ECC71;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

#add-contact-button {
    top: 75%;
    font-size: 20px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}

#delite-contact-button {
    top: 65%;
    font-size: 20px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}

// .fade {
//   width: ;
// }

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.linkdescarga:hover {
    // color: blue;
    text-decoration-line: underline;
    text-decoration-color: blue;
    cursor: pointer;
}

//para que papadee
.text {
    // font-size: 28px;
    font-family: helvetica;
    font-weight: bold;
    // color: #71d90b;
    text-transform: uppercase;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

//fin de lo que parpadee
.w150 {
    width: 150px;
    height: 150px;
    ;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
     height: 350px;
    overflow-y: auto;
}
@media only screen and (min-width: 1000px) {
    .modal-body{
        height: 550px;
       overflow-y: auto;
   }
  }
  .objetfit > img{
	width: 150px;
	height: 150px;
	object-fit: none;
	background-color: black;	
}
p.info {
    color: blue;
    // text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    span.datos {
        color: red;
        // text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px; 
    }
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: red;
    margin: 5px;
}