<div class="container-fluid">
    <h3 class="text-center">Ficha Terapia Ocupacional</h3>
    <tabs *ngIf="verpaciente">
        <tab tabTitle="Datos Paciente">
            <h4 class="text-center">Datos del Paciente</h4>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="card text-center">
                        <div class="card-header">
                            <h4>Código Historial: {{expedientes.codigohistorial}}</h4>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{expedientes.nombre}} {{expedientes.primer_apellido}} {{expedientes.segundoapellido}}
                            </h4>
                            <p class="card-text">Fecha de Nacimiento: {{expedientes.fechanacimiento}}</p>
                            <p class="card-text">{{expedientes.edad}} años</p>
                            <span *ngIf="expedientes.foto">
                <img src="data:image/jpg;base64,{{expedientes.foto}}" class="img img-responsive" width="150px">
              </span>
                        </div>
                        <!-- <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="primer_apellido">
                            <label for="primer_apellido">Primer Apellido</label>
                        </div> -->
                    </div>
                </div>
            </div>

        </tab>
        <tab tabTitle="Datos de Interes">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-9">
                        <h4 class="text-center">Componentes motrices - Miembro superior</h4>
                    </div>
                    <div class="col-3">
                        <div>
                            <select class="mdb-select colorful-select dropdown-dark" #selectatoanios (change)="setNewaniosselect(selectatoanios.value) ">
                <option disabled="disabled">-Escoger año-</option>
                <option *ngFor="let anio of aniosretornos" [value]="anio">
                  {{anio | slice:0:4}}
                </option>
              </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.arthombro" id="arthombro" name="arthombro" mdbActive>
                            <label for="arthombro">Flexo-Extensión articulación del hombro</label>
                        </div>
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.artcodo" name="artcodo" id="artcodo" mdbActive>
                            <label for="artcodo">Flexo-Extensión articulación del codo</label>
                        </div>
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.artmuneca" name="artmuneca" id="artmuneca" mdbActive>
                            <label for="artmuneca">Flexo-Extensión articulación de la muñeca</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.pronosupinacion" name="pronosupinacion" id="pronosupinacion" mdbActive>
                            <label for="pronosupinacion">Prono-supinación</label>
                        </div>
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.disocmovim" name="disocmovim" id="disocmovim" mdbActive>
                            <label for="disocmovim">Disociación de movimientos de las falanges</label>
                        </div>
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="evaluato.falanges" name="falanges" id="falanges" mdbActive>
                            <label for="falanges">Flexo-Extensión falanges</label>
                        </div>
                    </div>
                </div>
                <h4 class="text-center">Miembro inferior</h4>
                <br>
                <!-- <div class="row">
            <div class="col-6">
                <div class="md-form">              
                    <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.caminar" name="caminar" id="caminar">
                    <label for="caminar">Caminar</label>
                  </div>
            </div>           
          </div> -->
                <div class="row">
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.caminar" name="caminar" id="caminar">
                            <label for="caminar">Caminar</label>
                        </div>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.atencion" name="atencion" id="atencion">
                            <label for="atencion">Atención</label>
                        </div>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.memoria" name="memoria" id="memoria">
                            <label for="memoria">Memoria</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.resolproblem" name="resolproblem" id="resolproblem">
                            <label for="resolproblem">Resolución de problemas</label>
                        </div>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.toleranesfuer" name="toleranesfuer" id="toleranesfuer">
                            <label for="toleranesfuer">Tolerancia al esfuerzo</label>
                        </div>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.toleranfrustra" name="toleranfrustra" id="toleranfrustra">
                            <label for="toleranfrustra">Tolerancia a la frustración</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h4 class="text-center">Comunicación/Lengüaje</h4>
                        <br>
                        <div class="md-form">
                            <textarea rows="4" mdbActive cols="50" [(ngModel)]="evaluato.funcionhabla" name="funcionhabla" id="funcionhabla" class="md-textarea" mdbActive>
                </textarea>
                            <label for="funcionhabla">Función del habla</label>
                        </div>

                    </div>
                    <div class="col-6">
                        <h4 class="text-center">Entorno Social</h4>
                        <br>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.numhermanos" name="numhermanos" id="numhermanos">
                            <label for="numhermanos">Hermanos(as)</label>
                        </div>
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" [(ngModel)]="evaluato.asisteCole" name="asisteCole" id="asisteCole">
                            <label for="asisteCole">Asistencia del niño al colegio</label>
                        </div>
                        <div class="md-form">
                            <textarea rows="4" mdbActive cols="50" [(ngModel)]="evaluato.observaciones" name="observaciones" id="observaciones" class="md-textarea">
                </textarea>
                            <label for="observaciones">Observaciones</label>
                        </div>
                    </div>
                </div>
                <button *ngIf="verAtender" type="submit" (click)="saveOrUpdateEvaluacionAto()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
            </div>
        </tab>
    </tabs>
</div>