div label {
    color: #004d40;
    font-weight: 500;
    font-size: 20px;
}
  p {
    color: #004d40;
    font-size: 18px;
    font-weight: 400;
  }

  span.guardado {
    background: #fdfdfd;
    font-size: 20px;
    color: rgb(35, 89, 236);
  }