<div class="row">
    <div class="col-9">

        <h2 class="text-center">I. NIVEL DE FUNCIÓN</h2>
        <h3 class="text-center">1. Inspeccion (Boca Arriba)</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selectbocaanio (change)="setNewanioBoca(selectbocaanio.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>
<p><u>General</u></p>
<br>
<br>
<div class="row">
    <div class="col-6">
        <div class="md-form">
            <textarea name="posicion" id="posicion" cols="100" rows="5" [(ngModel)]="bocaarriba.posicion" class="md-textarea" mdbActive>

          </textarea>
            <!-- <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.posicion" name="posicion" id="posicion" s> -->
            <label for="posicion">Posición</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.tronco" name="tronco" id="tronco">
            <label for="tronco">Tronco(pecho y espalda)</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.tono" name="tono" id="tono">
            <label for="tono">Tono</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.patrones" name="patrones" id="patrones">
            <label for="patrones">Patronos</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.movimientos" name="movimientos" id="movimientos">
            <label for="movimientos">Movimientos</label>
        </div>
    </div>
    <div class="col-6">
        <br>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.estado_alerte" name="estado_alerte" id="estado_alerte">
            <label for="estado_alerte">Estdo de Alerta</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.emociones" name="emociones" id="emociones">
            <label for="emociones">Emociones</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.visto" name="visto" id="visto">
            <label for="visto">Vista</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.oido" name="oido" id="oido">
            <label for="oido">Oído</label>
        </div>
        <div class="md-form">
            <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="bocaarriba.otro" name="otro" id="otro">
            <label for="otro">Otro</label>
        </div>
    </div>
</div>
<p><u>Especifico (Zona de problema)</u></p>
<br>
<br>
<div class="md-form">
    <textarea rows="4" cols="50" [(ngModel)]="bocaarriba.especifico" name="especifico" class="md-textarea" mdbActive></textarea>
    <label for="especifico">Especifico</label>
</div>
<div class="md-form">
    <textarea rows="4" cols="50" [(ngModel)]="bocaarriba.conclusion" name="conclusion" class="md-textarea" mdbActive></textarea>
    <label for="conclusion">Conclusión</label>
</div>
<div class="row" *ngIf="verAtender">
    <div *ngIf="verBotonguardar" class="col-3 offset-1">
        <button type="submit" (click)="saveOrUpdateBocaArriba()" class="btn btn-pink" mdbRippleRadius>Guardar Desarrollo</button>
    </div>
    <div *ngIf="verBotonEditar" class="col-3 offset-1">
        <button type="submit" (click)="saveOrUpdateBocaArriba()" class="btn btn-pink" mdbRippleRadius>Editar Desarrollo</button>
    </div>

</div>