strong {
    text-decoration: crimson;
    text-transform: uppercase;
}

.card-body {
    thead,
    tbody {
        tr {
            th {
                color: coral;
                font-weight: 400;
                width: 40px;
                font-size: 14px;
            }
            td {
                width: 40px;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}

.modal-body {
    table {
        width: 100%;
    }
}

#add-contact-button {
    top: 90%;
    left: 0%;
    font-size: 20px;
    bottom: 12px;
    right: 12px;
    padding: 0;
}

#delite-contact-button {
    top: 80%;
    left: 0%;
    font-size: 20px;
    bottom: 12px;
    right: 12px;
    padding: 0;
}

.azul {
    color: blue;
    font-weight: 700;
    background: #abeec5;
    font-family: 'Times New Roman', Times, serif;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
     height: 250px;
    overflow-y: auto;
}