<div class="row">
    <div class="col-8">
        <h3 class="text-center">Asignar Cita</h3>
    </div>
    <div class="col-4">
        <div class="md-form">
            <select class="mdb-select colorful-select dropdown-dark" #selectpersona (change)="setPersonal(selectpersona.value)">
        <option disabled="disabled" value="">-Personal-</option>
        <option *ngFor="let persona of personales" [value]="persona.id_personal">
          {{persona.nombrepersonal}}
        </option>
      </select>
        </div>
    </div>
</div>
<div *ngIf="verCrear" class="row">
    <div class="col-6">
        <h3 class="text-center">Generar Horario <button (click)="GenerarCalendario()"><i class="far fa-calendar-check fa-3x"></i>
      </button></h3>
    </div>
</div>
<!-- horario -->
<div *ngIf="verTabla">
    <h3 class="text-center">Agenda</h3>
    <br>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed text-center">
                <thead>
                    <tr class="table-dark">
                        <th>Hora</th>
                        <th colspan="2">Lunes</th>
                        <th colspan="2">Martes</th>
                        <th colspan="2">Miercoles</th>
                        <th colspan="2">Jueves</th>
                        <th colspan="2">Viernes</th>
                        <th *ngIf="boton">editat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of horarios">
                        <th>{{item.hora}}</th>
                        <td [ngClass]="{'azul': item.lunes !== 'Libre'}" data-target="#atenderPaciente" (click)="capturarDatos(item.lunes,'lunes')" data-toggle="modal">{{item.lunes}}</td>
                        <td>{{item.lunescobro | number:'.2-2'}}</td>
                        <td [ngClass]="{'azul': item.martes !== 'Libre'}" data-target="#atenderPaciente" (click)="capturarDatos(item.martes,'martes')" data-toggle="modal">{{item.martes}}</td>
                        <td>{{item.martescobro | number:'.2-2'}}</td>
                        <td [ngClass]="{'azul': item.miercoles !== 'Libre'}" data-target="#atenderPaciente" (click)="capturarDatos(item.miercoles,'miercoles')" data-toggle="modal">{{item.miercoles}}</td>
                        <td>{{item.miercolescobro | number:'.2-2'}}</td>
                        <td [ngClass]="{'azul': item.jueves !== 'Libre'}" data-target="#atenderPaciente" (click)="capturarDatos(item.jueves,'jueves')" data-toggle="modal">{{item.jueves}}</td>
                        <td>{{item.juevescobro | number:'.2-2'}}</td>
                        <td [ngClass]="{'azul': item.viernes !== 'Libre'}" data-target="#atenderPaciente" (click)="capturarDatos(item.viernes,'viernes')" data-toggle="modal">{{item.viernes}}</td>
                        <td>{{item.viernescobro | number:'.2-2'}}</td>
                        <td (click)="editar(item)" data-target="#actualizarAgenda" data-toggle="modal" *ngIf="boton"><i class="fas fa-pencil-alt"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- https://bootsnipp.com/snippets/featured/circle-button -->
<button *ngIf="veredithora" id="delite-contact-button" (click)="eliminarhorario()" type="button" class="btn btn-danger btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-calendar-times"></i>
</button>
<button *ngIf="veredithora" id="add-contact-button" (click)="mostrar()" type="button" class="btn btn-info btn-circle btn-xl"><i
    style="color:white; font-size: 20px;" class="fas fa-external-link-alt"></i>
</button>

<div class="modal fade" id="actualizarAgenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atender</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.lunes">
                            <label class="control-label col-sm-2" for="nombrepersonal">Lunes</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.lunescobro">
                            <label class="control-label col-sm-2" for="nombrepersonal">Cobro</label>
                        </div>
                    </div>
                    <div class="col-8">

                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.martes">
                            <label class="control-label col-sm-2" for="nombrepersonal">Martes</label>
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.martescobro">
                            <label class="control-label col-sm-2" for="nombrepersonal">Cobro</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.miercoles">
                            <label class="control-label col-sm-2" for="nombrepersonal">Miercoles</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.miercolescobro">
                            <label class="control-label col-sm-2" for="nombrepersonal">Cobro</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.jueves">
                            <label class="control-label col-sm-2" for="nombrepersonal">Jueves</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.juevescobro">
                            <label class="control-label col-sm-2" for="nombrepersonal">Cobro</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.viernes">
                            <label class="control-label col-sm-2" for="nombrepersonal">Viernes</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="md-form">
                            <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="newhorario.viernescobro">
                            <label class="control-label col-sm-2" for="nombrepersonal">Cobro</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="saveOrUpdateHorario()" class="btn btn-primary" data-dismiss="modal">Guarda</button>
            </div>
        </div>
    </div>
</div>
<!-- inicio del ventana modal -->
<div class="modal fade" id="atenderPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <td>
                            <p>Asistencia</p>
                        </td>
                    </thead>
                    <tbody>
                        <tr *ngFor="let atencion of atenciones">
                            <td>
                                <div class="md-radio">
                                    <input type="radio" id="{{atencion.id}}" name="radiogruatencion" [checked]="atencion.descripcion === chekeadoabatencion" [value]="atencion.descripcion" (change)="onSelectionChangeabasteatenciones(atencion)">
                                    <label for="{{atencion.id}}">{{atencion.descripcion}}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelar()" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="verbotonatender" (click)="saveOrUpdateAtender()" data-dismiss="modal">Atender</button>
            </div>
        </div>
    </div>
</div>
<!-- fin del modal -->

      