<div class="container p-10 mt-5">

    <h3 class="text-center">Lista de cuentas de usuario</h3>
    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th *ngIf="verAtender">Botones</th>
                        <th *ngIf="verAtender">Editar</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of correos">
                        <td>{{item.name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.roles[0].descripcionrol | guion}}</td>
                        <td *ngIf="verAtender" (click)="editarinfoUser(item)"> <i class="fas fa-adjust"></i></td>
                        <td *ngIf="verAtender" (click)="cambiarUser(item)"> <i class="fas fa-edit"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-info" (click)="verCrearuser = true;" type="button">Crear Usuario</button>

    <div class="mt-10" *ngIf="verCrearuser">

        <div *ngIf="!isValid" class="alert alert-danger">
            <strong>Danger!</strong> {{message}}.
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card text-white border-dark mb-3">
                    <div class="card-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Crear Cuenta</h5>
                    </div>
                    <div class="card-body">
                        <div class="md-form">
                            <i class="fas fa-user prefix blue-text"></i>
                            <input type="text" id="name" [(ngModel)]="usupassword.name" mdbActive class="form-control">
                            <label for="name">Nombre<span style="color:rgb(255, 0, 0);font-weight:bold">*</span></label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-user prefix blue-text"></i>
                            <input type="text" id="username" [(ngModel)]="usupassword.username" mdbActive class="form-control">
                            <label for="username">Usuario<span style="color:rgb(255, 0, 0);font-weight:bold">*</span></label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-lock prefix blue-text"></i>
                            <input type="text" id="password" [(ngModel)]="usupassword.password" mdbActive class="form-control">
                            <label for="password">password<span style="color:rgb(255, 0, 0);font-weight:bold">*</span></label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-at prefix blue-text"></i>
                            <input type="email" id="email" [(ngModel)]="usupassword.email" mdbActive class="form-control">
                            <label for="email">Correo</label>
                        </div>
                        <select class="mdb-select colorful-select dropdown-dark" #role (change)="selectRoles(role.value) ">
              <option disabled="disabled">-Asignar rol-</option>
              <option *ngFor="let rol of roles" [value]="rol.idrol">
                {{rol.descripcionrol | guion}}
              </option>
            </select>
                    </div>
                    <div class="card-footer text-muted" *ngIf="verAtender">
                        <button type="submit" class="btn btn-pink" data-dismiss="modal" (click)=crearUsuario()>Guardar</button>
                        <button type="button" class="btn btn-cancel" (click)="verCrearuser = false" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>