<div class="container-fluit animated fadeIn">
    <h3 class="text-center">Historia Social general</h3>
    <div class="row">
        <div class="col-4">
            <div class="md-form">
                <input type="text" mdbActive [(ngModel)]="term" id="term12" class="form-control form-control-sm">
                <label for="term12">Buscar</label>
            </div>
        </div>
    </div>
    <div id="histogeneral">
        <table class="table display nowrap" id="example2" cellspacing="0" width="100%">
            <thead>
                <tr class="table-info">
                    <th>Codigo</th>
                    <th>Paciente</th>
                    <th>DNI</th>
                    <th>Fecha de Registro</th>
                    <th>Sexo</th>
                    <th>Nacimiento</th>
                    <th>Edad</th>
                    <th>Diagnostico</th>
                    <th>Lugar de nacimiento</th>
                    <th class="none">Botones</th>
                </tr>
            </thead>
            <tbody>
                <tr (dblclick)="editExpediente(expediente)" *ngFor="let expediente of expedientes |filter:term | paginate: { itemsPerPage: 30, currentPage: p }">
                    <td>{{expediente.codigohistorial}} </td>
                    <td>{{expediente.nombre}} {{expediente.primer_apellido}} {{expediente.segundoapellido}} </td>
                    <td>{{expediente.dni}} </td>
                    <td>{{expediente.fechaapertura}}</td>
                    <td>{{expediente.sexo}}</td>
                    <td>{{expediente.fechanacimiento}} </td>
                    <td>{{expediente.edad}} años {{expediente.edadmeses}} meses</td>
                    <td>{{expediente.diagnostico}}</td>
                    <td>{{expediente.departamentonacimiento}}-{{expediente.provincianacimiento}}-{{expediente.distritonacimiento}}</td>
                    <td class="none">
                        <button type="button" class="btn btn-outline-warning btn-sm" [routerLink]="[expediente.codigohistorial, 'aceptarpaciente']">Estado</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    <div *ngIf="verAtender">
        <!-- https://bootsnipp.com/snippets/featured/circle-button -->
        <button id="add-contact-button" (click)="crearExpediente()" type="button" class="btn btn-info btn-circle btn-xl"><i
        style="color:white; font-size: 20px;" class="fas fa-user-plus"></i></button>

        <!-- <button type="button" [routerLink]="['CrearHistoriaSocial']" class="btn btn-outline-primary">Crear Historial</button> -->
    </div>
    <div class="row">
        <div class="col-1 offset-10">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>