<div class="row">
    <div class="col-9">
        <h3 class="text-center">Lista de Personal</h3>
    </div>
    <div class="col-3">
        <select class="mdb-select colorful-select dropdown-dark" #activo (change)="SelecActivos(activo.value) ">
      <option disabled="disabled" value="">-Escoger-</option>
      <option *ngFor="let item of activos" [value]="item.tipo">
        {{item.tipo}}
      </option>
    </select>
    </div>
</div>
<div class="container animated fadeIn">
    <div class="card" *ngIf="!verAtender">
        <div class="card-body">
            <!--Table-->
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Telefono</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Area</th>
                        <th>Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.nombrepersonal}}</td>
                        <td>{{user.apppaterno}}</td>
                        <td>{{user.appmaterno}}</td>
                        <td>{{user.telefono}}</td>
                        <td>{{user.fcumple}}</td>
                        <td>{{user.idarea.descripcionarea}}</td>
                        <td (click)="information(user)">
                            <i data-toggle="modal" data-target=".bd-example-modal-lg" class="fas fa-address-book fa-lg"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card" *ngIf="verAtender">
        <div class="card-body">
            <!--Table-->
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Telefono</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Area</th>
                        <th>Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="editUser(user)" *ngFor="let user of users">
                        <td>{{user.nombrepersonal}}</td>
                        <td>{{user.apppaterno}}</td>
                        <td>{{user.appmaterno}}</td>
                        <td>{{user.telefono}}</td>
                        <td>{{user.fcumple}}</td>
                        <td>{{user.idarea.descripcionarea}}</td>
                        <<<<<<< HEAD <td>
                            <i data-toggle="modal" data-target=".lookuser" (click)="mostrarUsuario(user)" class="fas fa-address-book fa-lg"></i> =======
                    </tr>
                </tbody>
        </div>
    </div>
    <<<<<<< HEAD <div class="modal fade lookuser" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                ...
            </div>
        </div>
</div>

======= >>>>>>> 5feee1d34981443c2fadd428f6f233b59ddb2ad9
<div *ngIf="verAtender">
    <!-- https://bootsnipp.com/snippets/featured/circle-button -->
    <button id="add-contact-button" (click)="CreandoUsuario()" type="button" class="btn btn-info btn-circle btn-lg"><i
        style="color:white; font-size: 20px;" class="fas fa-user-plus"></i></button>
</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" (click)="okinformation()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <img [src]="urlimg" width="300px" height="300px">
                            <hr>
                            <P class="info"> <span class="datos">Nombre: </span> {{info.nombrepersonal}} {{info.apppaterno}} <span *ngIf="info.appmaterno"></span>{{info.appmaterno}}</P>
                            <P *ngIf="info.fcumple" class="info"> <span class="datos">Fecha de Nacimiento: </span> {{info.fcumple}} </P>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <P *ngIf="info.cargo" class="info"> <span class="datos">Cargo: </span> {{info.cargo | guion}} </P>
                            <P *ngIf="info.correo" class="info"> <span class="datos">Correo: </span> {{info.correo}} </P>
                            <!-- <P class="info"> <span class="datos">Area: </span> {{info.idarea.descripcionarea}} </P> -->
                            <P *ngIf="info.profesion" class="info"> <span class="datos">Profesión: </span> {{info.profesion}} </P>
                            <P *ngIf="info.hobby" class="info"> <span class="datos">Pasatiempos: </span> {{info.hobby}} </P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="okinformation()" class="btn btn-secondary" data-dismiss="modal">Ok</button>

            </div>
        </div>
    </div>
</div>