<div class="container animated fadeIn">
    <div class="row">
        <div class="col-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-responsive-md table-fixed">
                        <thead>
                            <tr class="table-dark">
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of roles">
                                <th (dblclick)="editRol(item)">{{item.descripcionrol}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>