<div class="container">
    <h2 class="text-center">Editar nuevo Personal</h2>
    <form class="form-horizontal main-form">
        <div *ngIf="!isValid" class="alert alert-danger">
            <strong>Danger!</strong> {{message}}.
        </div>
        <div class="row">
            <div class="col-6">

                <!-- Nombre -->
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="nombrepersonal" id="nombrepersonal" [(ngModel)]="user.nombrepersonal">
                    <label for="nombrepersonal">Nombre<span style="color:red">*</span></label>
                </div>
                <!-- Apellido Paterno -->
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="apppaterno" [(ngModel)]="user.apppaterno" id="apppaterno">
                    <label for="apppaterno">Primer Apellido<span style="color:red">*</span></label>
                </div>
                <!-- Apellido Materno -->
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="appmaterno" [(ngModel)]="user.appmaterno" id="appmaterno">
                    <label for="appmaterno">Segundo Apellido</label>
                </div>
                <div class="form">
                    <label for="fcumple">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" name="fcumple" [(ngModel)]="user.fcumple" id="fcumple">
                </div>
                <div class="md-form">
                    <label for="hobby">Hobby</label>
                    <textarea id="hobby" rows="4" cols="50" [(ngModel)]="user.hobby" name="hobby" class="md-textarea" mdbActive></textarea>
                </div>
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="profesion" [(ngModel)]="user.profesion" id="profesion">
                    <label for="profesion">Profesión</label>
                </div>
                <div *ngIf="verAtender">
                    <div>
                        <table>
                            <thead>
                                <td>Estado<span style="color:red">*</span></td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let estado of estadoPacientes">
                                    <td>
                                        <div class="md-radio">
                                            <input id="{{estado.id}}" type="radio" name="radiogroupestado" [checked]="estado.descripcion ==estadoSelecte" [value]="estado.id" (change)="onSelectionChangeestadoPacientes(estado)">
                                            <label for="{{estado.id}}">{{estado.descripcion}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- telefono -->
                <div class="md-form">
                    <input type="text" mdbActive class="form-control" name="telefono" [(ngModel)]="user.telefono" id="telefono" placeholder="Ingrese su telefono">
                    <label for="telefono">Teléfono</label>
                </div>
                <div *ngIf="verAtender">
                    <div>
                        <table>
                            <thead>
                                <td>Area</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let area of areas">
                                    <td>
                                        <div class="md-radio">
                                            <input id="{{area.id_area}}" type="radio" name="radiogroup" [checked]="area.descripcionarea == areaSelecte" [value]="area.id_area" (change)="onSelectionChange(area)">
                                            <label for="{{area.id_area}}">{{area.descripcionarea}}</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="verAtender">
            <div class="col-offset-1 col-2">
                <button type="submit" (click)="saveOrUpdate()" class="btn btn-pink" spring mdbRippleRadius>Guardar</button>
            </div>
            <div class="col-offset-1 col-3">
                <button type="submit" (click)="cancelar()" class="btn btn-cancel" spring mdbRippleRadius>Cancelar</button>
            </div>
        </div>
    </form>
</div>