<!-- Evaluacion Especifica -->
<div class="row">
    <div class="col-9">
        <h3 class="text-center">5. Evaluacion Especifica</h3>
    </div>
    <div class="col-3">
        <div>
            <select class="mdb-select colorful-select dropdown-dark" #selectanioespasticidad (change)="setNewbiometriaanios(selectanioespasticidad.value) ">
        <option disabled="disabled">-Escoger año-</option>
        <option *ngFor="let anio of aniosretornos" [value]="anio">
          {{anio | slice:0:4}}
        </option>
      </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <button type="button" *ngIf="verprimerboton" class="btn btn-pink z-depth-3" (click)="PrimerSeguimientoEspecifica()">primer
      Siguimiento</button>
    </div>
    <div class="col-3">
        <button type="button" *ngIf="!verprimerboton" class="btn btn-outline-warning waves-effect" (click)="noprimerpSeguimientoEspecifica()">ocultar
      primero</button>
    </div>
</div>

<table class="table table-bordered table-responsive-md z-depth-3">
    <thead class="cyan lighten-3">
        <tr>
            <th colspan="2" rowspan="3"></th>
            <th class="text-center" colspan="2">Espasticidad (Ashworth)</th>
            <th class="text-center" colspan="2" *ngIf="verPrimerSeguimientoEspecifica">Primer Seguimiento</th>
            <th rowspan="3">Observaciones</th>
        </tr>
        <tr>
            <th class="text-center" colspan="2">
                <input [(ngModel)]="espasticidad.fespseguno" type="date" class="form-control" name="fespseguno"></th>
            <th class="text-center" colspan="2" *ngIf="verPrimerSeguimientoEspecifica">
                <input [(ngModel)]="espasticidad.fespsegdos" type="date" class="form-control" name="fespsegdos"></th>
        </tr>
        <tr>
            <th>Iz(cm)</th>
            <th>De(cm)</th>
            <th *ngIf="verPrimerSeguimientoEspecifica">Iz(cm)</th>
            <th *ngIf="verPrimerSeguimientoEspecifica">De(cm)</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Cadera</th>
            <td>Extensión Psoas</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unocaderaiz" name="unocaderaiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unocaderader" name="unocaderader" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.doscaderaiz" name="doscaderaiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.doscaderader" name="doscaderader" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.obscadera" name="obscadera" id="observacion" size="50" maxlength="50">
                    <!-- <label for="observacion">observacion</label> -->
                </div>
            </td>
        </tr>
        <tr>
            <th rowspan="2">Rodilla</th>
            <td>Flexión Rectus Femoris</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unorodillaflexiz" name="unorodillaflexiz" id="edad" size="6" maxlength="6">
                </div>

            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unorodillaflexder" name="unorodillaflexder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dosrodillaflexiz" name="dosrodillaflexiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dosrodillaflexder" name="dosrodillaflexder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.obsrodillaflex" name="obsrodillaflex" id="observacion" size="50" maxlength="50">
                    <!-- <label for="observacion">observacion</label> -->
                </div>
            </td>
        </tr>
        <tr>
            <td>Flexión de la Isquiotibialis</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unorodillaextiz" name="unorodillaextiz" id="edad" size="6" maxlength="6">
                </div>

            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unorodillaextder" name="unorodillaextder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dosrodillaextiz" name="dosrodillaextiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dosrodillaextder" name="dosrodillaextder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.obsrodillaext" name="obsrodillaext" id="observacion" size="50" maxlength="50">
                    <!-- <label for="observacion">observacion</label> -->
                </div>
            </td>
        </tr>
        <tr>
            <th>Tobillo</th>
            <td>Dorsiflexión Gemelos</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unotobilloiz" name="unotobilloiz" id="edad" size="6" maxlength="6">
                </div>

            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unotobilloder" name="unotobilloder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dostobilloiz" name="dostobilloiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.dostobilloder" name="dostobilloder" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.obstobillo" name="obstobillo" id="observacion" size="50" maxlength="50">
                    <!-- <label for="observacion">observacion</label> -->
                </div>
            </td>
        </tr>
        <tr>
            <th>Codo</th>
            <td>Extensión biceps</td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unocodoiz" name="unocodoiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.unocododer" name="unocododer" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.doscodoiz" name="doscodoiz" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td *ngIf="verPrimerSeguimientoEspecifica">
                <div class="md-form form-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="espasticidad.doscododer" name="doscododer" id="edad" size="6" maxlength="6">
                </div>
            </td>
            <td>
                <div class="md-form form-sm observacion">
                    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.obscodo" name="obscodo" id="observacion" size="50" maxlength="50">
                    <!-- <label for="observacion">observacion</label> -->
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div class="md-form form-sm">
    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.conclusion" name="conclusion" id="Conclusion">
    <label for="Conclusion">Conclusión</label>
</div>
<div class="md-form form-sm">
    <input type="text" mdbActive class="form-control form-control-sm" [(ngModel)]="espasticidad.difizquierda" name="difizquierda" id="Diferencia">
    <label for="Diferencia">Diferencia De-Izq</label>
</div>
<br>
<p>
    <span style="color:blue;font-weight:bold">0 </span> tono muscular normal</p>
<p>
    <span style="color:blue;font-weight:bold">1 </span> Hipertonía leve. Aumento en el tono muscular con
    <span style="color:blue;font-weight:bold">determinación</span> en el movimiento pasivo de la extremidad, minima resistencia en menos de la mitad de su arco de movimiento. </p>
<p>
    <span style="color:blue;font-weight:bold">2 </span> Hipertonía moderada. Aumento del tono muscular durante la mayor parte del arco de movimiento, pero puede moverse pasivamente con la facilidad la parte afectada </p>
<p>
    <span style="color:blue;font-weight:bold">3 </span> Hipertonía intensa. Aumento promimente del tono muscular, con dificultad para efectuar los movimientos pasivos.</p>
<p>
    <span style="color:blue;font-weight:bold">4 </span> Hipertonía extrema. La parte afectada permanece rígida, tanto para la flexión como para la extensión </p>

<div class="md-form">
    <textarea rows="4" cols="50" name="Otro" [(ngModel)]="espasticidad.otro" class="md-textarea" mdbActive></textarea>
    <label for="Otro">Otro</label>
</div>
<div *ngIf="verAtender" class="offset-2 col-10">
    <button type="submit" (click)="saveOrUpdateEspasticidad()" class="btn btn-pink" mdbRippleRadius>Guardar</button>
</div>