<div class="container-fluit animated fadeIn">
    <div class="row">
        <div class="col-4 offset-1">
            <div class="md-form">
                <input type="text" [(ngModel)]="termino" mdbActive class="form-control form-control-sm">
                <label for="term">Buscar</label>
            </div>
        </div>
    </div>
    <h3 class="text-center">Pacientes Referidos</h3>
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card">
                <div class="card-body" id="idpsicologia">
                    <table class="table table-hover table-responsive-md table-fixed" id="tablapsicologia">
                        <thead>
                            <tr class="table-dark">
                                <th>Historial</th>
                                <th>Nombre</th>
                                <th>Motivo</th>
                                <th>Fecha referenciado</th>
                                <th class="none">Botones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paciente of pacientes |filter:termino | paginate: { itemsPerPage: 30, currentPage: p }">
                                <th>{{paciente.idexpediente.codigohistorial}}</th>
                                <td>{{paciente.idexpediente.nombre}} {{paciente.idexpediente.primer_apellido}} {{paciente.idexpediente.segundoapellido}}
                                </td>
                                <td>{{paciente.motivoreferencia}}</td>
                                <td>{{paciente.freferencia}}</td>
                                <td class="none" [routerLink]="['paciente', paciente.idexpediente.codigohistorial, 'evaluacionPsicologica']">
                                    <i class="fas fa-address-card fa-2x"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-9">
            <button (click)="exportTableToExcel('tablapsicologia','FICHA DE PSICOLOGIA')">Excel File</button>
        </div>
        <div class="col-1">
            <p>
                <input type="button" value="Crear PDF" id="btPrint" (click)="createPDF()" />
            </p>
        </div>
    </div>
</div>